<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transform-watermark-job-heading"
        data-cy="TransformWatermarkJobCreateUpdateHeading"
        jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.home.createOrEditLabel"
      >
        Create or edit a Transform Watermark Job
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentSha256Ref = editForm.get('documentSha256')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_documentSha256"
            jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.documentSha256"
            >Document Sha 256</label
          >
          <input
            type="text"
            class="form-control"
            name="documentSha256"
            id="field_documentSha256"
            data-cy="documentSha256"
            formControlName="documentSha256"
          />
          @if (documentSha256Ref.invalid && (documentSha256Ref.dirty || documentSha256Ref.touched)) {
            <div>
              @if (editForm.get('documentSha256')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('documentSha256')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        @let watermarkTypeRef = editForm.get('watermarkType')!;
        <div class="mb-3">
          <label class="form-label" for="field_watermarkType" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.watermarkType"
            >Watermark Type</label
          >
          <select
            class="form-control"
            name="watermarkType"
            formControlName="watermarkType"
            id="field_watermarkType"
            data-cy="watermarkType"
          >
            <option [ngValue]="null">{{ 'gatewayApp.WatermarkType.null' | translate }}</option>
            @for (watermarkType of watermarkTypeValues; track $index) {
              <option [value]="watermarkType">{{ 'gatewayApp.WatermarkType.' + watermarkType | translate }}</option>
            }
          </select>
          @if (watermarkTypeRef.invalid && (watermarkTypeRef.dirty || watermarkTypeRef.touched)) {
            <div>
              @if (editForm.get('watermarkType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let watermarkTextRef = editForm.get('watermarkText')!;
        <div class="mb-3">
          <label class="form-label" for="field_watermarkText" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.watermarkText"
            >Watermark Text</label
          >
          <input
            type="text"
            class="form-control"
            name="watermarkText"
            id="field_watermarkText"
            data-cy="watermarkText"
            formControlName="watermarkText"
          />
          @if (watermarkTextRef.invalid && (watermarkTextRef.dirty || watermarkTextRef.touched)) {
            <div>
              @if (editForm.get('watermarkText')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let watermarkImageS3KeyRef = editForm.get('watermarkImageS3Key')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_watermarkImageS3Key"
            jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.watermarkImageS3Key"
            >Watermark Image S 3 Key</label
          >
          <input
            type="text"
            class="form-control"
            name="watermarkImageS3Key"
            id="field_watermarkImageS3Key"
            data-cy="watermarkImageS3Key"
            formControlName="watermarkImageS3Key"
          />
          @if (watermarkImageS3KeyRef.invalid && (watermarkImageS3KeyRef.dirty || watermarkImageS3KeyRef.touched)) {
            <div>
              @if (editForm.get('watermarkImageS3Key')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        @let positionRef = editForm.get('position')!;
        <div class="mb-3">
          <label class="form-label" for="field_position" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.position"
            >Position</label
          >
          <select class="form-control" name="position" formControlName="position" id="field_position" data-cy="position">
            <option [ngValue]="null">{{ 'gatewayApp.WatermarkPosition.null' | translate }}</option>
            @for (watermarkPosition of watermarkPositionValues; track $index) {
              <option [value]="watermarkPosition">{{ 'gatewayApp.WatermarkPosition.' + watermarkPosition | translate }}</option>
            }
          </select>
          @if (positionRef.invalid && (positionRef.dirty || positionRef.touched)) {
            <div>
              @if (editForm.get('position')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let opacityRef = editForm.get('opacity')!;
        <div class="mb-3">
          <label class="form-label" for="field_opacity" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.opacity"
            >Opacity</label
          >
          <input type="number" class="form-control" name="opacity" id="field_opacity" data-cy="opacity" formControlName="opacity" />
          @if (opacityRef.invalid && (opacityRef.dirty || opacityRef.touched)) {
            <div>
              @if (editForm.get('opacity')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              @if (editForm.get('opacity')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '100' }"
                  >This field cannot be more than 100.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('opacity')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fontSize" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.fontSize"
            >Font Size</label
          >
          <input type="number" class="form-control" name="fontSize" id="field_fontSize" data-cy="fontSize" formControlName="fontSize" />
        </div>

        @let colorRef = editForm.get('color')!;
        <div class="mb-3">
          <label class="form-label" for="field_color" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.color">Color</label>
          <input type="text" class="form-control" name="color" id="field_color" data-cy="color" formControlName="color" />
          @if (colorRef.invalid && (colorRef.dirty || colorRef.touched)) {
            <div>
              @if (editForm.get('color')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '7' }"
                  >This field cannot be longer than 7 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rotation" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.rotation"
            >Rotation</label
          >
          <input type="number" class="form-control" name="rotation" id="field_rotation" data-cy="rotation" formControlName="rotation" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tiled" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.tiled">Tiled</label>
          <input type="checkbox" class="form-check" name="tiled" id="field_tiled" data-cy="tiled" formControlName="tiled" />
        </div>

        @let outputS3KeyRef = editForm.get('outputS3Key')!;
        <div class="mb-3">
          <label class="form-label" for="field_outputS3Key" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.outputS3Key"
            >Output S 3 Key</label
          >
          <input
            type="text"
            class="form-control"
            name="outputS3Key"
            id="field_outputS3Key"
            data-cy="outputS3Key"
            formControlName="outputS3Key"
          />
          @if (outputS3KeyRef.invalid && (outputS3KeyRef.dirty || outputS3KeyRef.touched)) {
            <div>
              @if (editForm.get('outputS3Key')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        @let outputDocumentSha256Ref = editForm.get('outputDocumentSha256')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_outputDocumentSha256"
            jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.outputDocumentSha256"
            >Output Document Sha 256</label
          >
          <input
            type="text"
            class="form-control"
            name="outputDocumentSha256"
            id="field_outputDocumentSha256"
            data-cy="outputDocumentSha256"
            formControlName="outputDocumentSha256"
          />
          @if (outputDocumentSha256Ref.invalid && (outputDocumentSha256Ref.dirty || outputDocumentSha256Ref.touched)) {
            <div>
              @if (editForm.get('outputDocumentSha256')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.TransformStatus.null' | translate }}</option>
            @for (transformStatus of transformStatusValues; track $index) {
              <option [value]="transformStatus">{{ 'gatewayApp.TransformStatus.' + transformStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_startDate" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.startDate"
            >Start Date</label
          >
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_endDate" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.endDate"
            >End Date</label
          >
          <div class="d-flex">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="datetime-local"
              class="form-control"
              name="endDate"
              formControlName="endDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_errorMessage" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.errorMessage"
            >Error Message</label
          >
          <textarea
            class="form-control"
            name="errorMessage"
            id="field_errorMessage"
            data-cy="errorMessage"
            formControlName="errorMessage"
          ></textarea>
        </div>

        @let createdByRef = editForm.get('createdBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (createdByRef.invalid && (createdByRef.dirty || createdByRef.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('createdBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let createdDateRef = editForm.get('createdDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="gatewayApp.transformServiceTransformWatermarkJob.createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdDateRef.invalid && (createdDateRef.dirty || createdDateRef.touched)) {
            <div>
              @if (editForm.get('createdDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
