<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (searchSemantic(); as searchSemanticRef) {
      <div>
        <h2 data-cy="searchSemanticDetailsHeading">
          <span jhiTranslate="gatewayApp.searchServiceSearchSemantic.detail.title">Search Semantic</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ searchSemanticRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.searchServiceSearchSemantic.query">Query</span></dt>
          <dd>
            <span>{{ searchSemanticRef.query }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.searchServiceSearchSemantic.queryEmbedding">Query Embedding</span></dt>
          <dd>
            <span>{{ searchSemanticRef.queryEmbedding }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.searchServiceSearchSemantic.results">Results</span></dt>
          <dd>
            <span>{{ searchSemanticRef.results }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.searchServiceSearchSemantic.relevanceScores">Relevance Scores</span></dt>
          <dd>
            <span>{{ searchSemanticRef.relevanceScores }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.searchServiceSearchSemantic.modelUsed">Model Used</span></dt>
          <dd>
            <span>{{ searchSemanticRef.modelUsed }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.searchServiceSearchSemantic.executionTime">Execution Time</span></dt>
          <dd>
            <span>{{ searchSemanticRef.executionTime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.searchServiceSearchSemantic.userId">User Id</span></dt>
          <dd>
            <span>{{ searchSemanticRef.userId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.searchServiceSearchSemantic.searchDate">Search Date</span></dt>
          <dd>
            <span>{{ searchSemanticRef.searchDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/search-semantic', searchSemanticRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
