<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-language-detection-heading"
        data-cy="LanguageDetectionCreateUpdateHeading"
        jhiTranslate="gatewayApp.aiServiceLanguageDetection.home.createOrEditLabel"
      >
        Create or edit a Language Detection
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.aiServiceLanguageDetection.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentIdRef = editForm.get('documentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentId" jhiTranslate="gatewayApp.aiServiceLanguageDetection.documentId"
            >Document Id</label
          >
          <input
            type="number"
            class="form-control"
            name="documentId"
            id="field_documentId"
            data-cy="documentId"
            formControlName="documentId"
          />
          @if (documentIdRef.invalid && (documentIdRef.dirty || documentIdRef.touched)) {
            <div>
              @if (editForm.get('documentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('documentId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let documentSha256Ref = editForm.get('documentSha256')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentSha256" jhiTranslate="gatewayApp.aiServiceLanguageDetection.documentSha256"
            >Document Sha 256</label
          >
          <input
            type="text"
            class="form-control"
            name="documentSha256"
            id="field_documentSha256"
            data-cy="documentSha256"
            formControlName="documentSha256"
          />
          @if (documentSha256Ref.invalid && (documentSha256Ref.dirty || documentSha256Ref.touched)) {
            <div>
              @if (editForm.get('documentSha256')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('documentSha256')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        @let detectedLanguageRef = editForm.get('detectedLanguage')!;
        <div class="mb-3">
          <label class="form-label" for="field_detectedLanguage" jhiTranslate="gatewayApp.aiServiceLanguageDetection.detectedLanguage"
            >Detected Language</label
          >
          <input
            type="text"
            class="form-control"
            name="detectedLanguage"
            id="field_detectedLanguage"
            data-cy="detectedLanguage"
            formControlName="detectedLanguage"
          />
          @if (detectedLanguageRef.invalid && (detectedLanguageRef.dirty || detectedLanguageRef.touched)) {
            <div>
              @if (editForm.get('detectedLanguage')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('detectedLanguage')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '10' }"
                  >This field cannot be longer than 10 characters.</small
                >
              }
            </div>
          }
        </div>

        @let confidenceRef = editForm.get('confidence')!;
        <div class="mb-3">
          <label class="form-label" for="field_confidence" jhiTranslate="gatewayApp.aiServiceLanguageDetection.confidence"
            >Confidence</label
          >
          <input
            type="number"
            class="form-control"
            name="confidence"
            id="field_confidence"
            data-cy="confidence"
            formControlName="confidence"
          />
          @if (confidenceRef.invalid && (confidenceRef.dirty || confidenceRef.touched)) {
            <div>
              @if (editForm.get('confidence')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('confidence')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              @if (editForm.get('confidence')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '1' }"
                  >This field cannot be more than 1.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('confidence')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_detectionMethod" jhiTranslate="gatewayApp.aiServiceLanguageDetection.detectionMethod"
            >Detection Method</label
          >
          <select
            class="form-control"
            name="detectionMethod"
            formControlName="detectionMethod"
            id="field_detectionMethod"
            data-cy="detectionMethod"
          >
            <option [ngValue]="null">{{ 'gatewayApp.LanguageDetectionMethod.null' | translate }}</option>
            @for (languageDetectionMethod of languageDetectionMethodValues; track $index) {
              <option [value]="languageDetectionMethod">
                {{ 'gatewayApp.LanguageDetectionMethod.' + languageDetectionMethod | translate }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_alternativeLanguages"
            jhiTranslate="gatewayApp.aiServiceLanguageDetection.alternativeLanguages"
            >Alternative Languages</label
          >
          <textarea
            class="form-control"
            name="alternativeLanguages"
            id="field_alternativeLanguages"
            data-cy="alternativeLanguages"
            formControlName="alternativeLanguages"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_textSample" jhiTranslate="gatewayApp.aiServiceLanguageDetection.textSample"
            >Text Sample</label
          >
          <textarea
            class="form-control"
            name="textSample"
            id="field_textSample"
            data-cy="textSample"
            formControlName="textSample"
          ></textarea>
        </div>

        @let resultCacheKeyRef = editForm.get('resultCacheKey')!;
        <div class="mb-3">
          <label class="form-label" for="field_resultCacheKey" jhiTranslate="gatewayApp.aiServiceLanguageDetection.resultCacheKey"
            >Result Cache Key</label
          >
          <input
            type="text"
            class="form-control"
            name="resultCacheKey"
            id="field_resultCacheKey"
            data-cy="resultCacheKey"
            formControlName="resultCacheKey"
          />
          @if (resultCacheKeyRef.invalid && (resultCacheKeyRef.dirty || resultCacheKeyRef.touched)) {
            <div>
              @if (editForm.get('resultCacheKey')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '128' }"
                  >This field cannot be longer than 128 characters.</small
                >
              }
            </div>
          }
        </div>

        @let isCachedRef = editForm.get('isCached')!;
        <div class="mb-3">
          <label class="form-label" for="field_isCached" jhiTranslate="gatewayApp.aiServiceLanguageDetection.isCached">Is Cached</label>
          <input type="checkbox" class="form-check" name="isCached" id="field_isCached" data-cy="isCached" formControlName="isCached" />
          @if (isCachedRef.invalid && (isCachedRef.dirty || isCachedRef.touched)) {
            <div>
              @if (editForm.get('isCached')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let detectedDateRef = editForm.get('detectedDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_detectedDate" jhiTranslate="gatewayApp.aiServiceLanguageDetection.detectedDate"
            >Detected Date</label
          >
          <div class="d-flex">
            <input
              id="field_detectedDate"
              data-cy="detectedDate"
              type="datetime-local"
              class="form-control"
              name="detectedDate"
              formControlName="detectedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (detectedDateRef.invalid && (detectedDateRef.dirty || detectedDateRef.touched)) {
            <div>
              @if (editForm.get('detectedDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('detectedDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let modelVersionRef = editForm.get('modelVersion')!;
        <div class="mb-3">
          <label class="form-label" for="field_modelVersion" jhiTranslate="gatewayApp.aiServiceLanguageDetection.modelVersion"
            >Model Version</label
          >
          <input
            type="text"
            class="form-control"
            name="modelVersion"
            id="field_modelVersion"
            data-cy="modelVersion"
            formControlName="modelVersion"
          />
          @if (modelVersionRef.invalid && (modelVersionRef.dirty || modelVersionRef.touched)) {
            <div>
              @if (editForm.get('modelVersion')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
