<div>
  <h2 id="page-heading" data-cy="DocumentFingerprintHeading">
    <span jhiTranslate="gatewayApp.similarityServiceDocumentFingerprint.home.title">Document Fingerprints</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.similarityServiceDocumentFingerprint.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-document-fingerprint"
        [routerLink]="['/document-fingerprint/new']"
      >
        <fa-icon icon="plus" />
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.similarityServiceDocumentFingerprint.home.createLabel"
          >Create a new Document Fingerprint</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.similarityServiceDocumentFingerprint.home.search"
          >Search for Document Fingerprint</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.similarityServiceDocumentFingerprint.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search" />
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt" />
          </button>
        }
      </div>
    </div>
  </form>

  @if (documentFingerprints().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.similarityServiceDocumentFingerprint.home.notFound">No Document Fingerprints found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="documentId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentFingerprint.documentId">Document Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="fingerprintType">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentFingerprint.fingerprintType">Fingerprint Type</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="fingerprint">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentFingerprint.fingerprint">Fingerprint</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="vectorEmbedding">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentFingerprint.vectorEmbedding">Vector Embedding</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="metadata">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentFingerprint.metadata">Metadata</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="computedDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentFingerprint.computedDate">Computed Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="lastUpdated">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentFingerprint.lastUpdated">Last Updated</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (documentFingerprint of documentFingerprints(); track trackId(documentFingerprint)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/document-fingerprint', documentFingerprint.id, 'view']">{{ documentFingerprint.id }}</a>
              </td>
              <td>{{ documentFingerprint.documentId }}</td>
              <td [jhiTranslate]="'gatewayApp.FingerprintType.' + (documentFingerprint.fingerprintType ?? 'null')">
                {{
                  {
                    null: '',
                    HASH: 'HASH',
                    PERCEPTUAL: 'PERCEPTUAL',
                    VECTOR_EMBEDDING: 'VECTOR_EMBEDDING',
                    TF_IDF: 'TF_IDF',
                    BERT: 'BERT',
                  }[documentFingerprint.fingerprintType ?? 'null']
                }}
              </td>
              <td>{{ documentFingerprint.fingerprint }}</td>
              <td>{{ documentFingerprint.vectorEmbedding }}</td>
              <td>{{ documentFingerprint.metadata }}</td>
              <td>{{ documentFingerprint.computedDate | formatMediumDatetime }}</td>
              <td>{{ documentFingerprint.lastUpdated | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/document-fingerprint', documentFingerprint.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/document-fingerprint', documentFingerprint.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(documentFingerprint)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (documentFingerprints().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
