<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-document-relation-heading"
        data-cy="DocumentRelationCreateUpdateHeading"
        jhiTranslate="gatewayApp.documentServiceDocumentRelation.home.createOrEditLabel"
      >
        Create or edit a Document Relation
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.documentServiceDocumentRelation.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let sourceDocumentIdRef = editForm.get('sourceDocumentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_sourceDocumentId" jhiTranslate="gatewayApp.documentServiceDocumentRelation.sourceDocumentId"
            >Source Document Id</label
          >
          <input
            type="number"
            class="form-control"
            name="sourceDocumentId"
            id="field_sourceDocumentId"
            data-cy="sourceDocumentId"
            formControlName="sourceDocumentId"
          />
          @if (sourceDocumentIdRef.invalid && (sourceDocumentIdRef.dirty || sourceDocumentIdRef.touched)) {
            <div>
              @if (editForm.get('sourceDocumentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('sourceDocumentId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let targetDocumentIdRef = editForm.get('targetDocumentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_targetDocumentId" jhiTranslate="gatewayApp.documentServiceDocumentRelation.targetDocumentId"
            >Target Document Id</label
          >
          <input
            type="number"
            class="form-control"
            name="targetDocumentId"
            id="field_targetDocumentId"
            data-cy="targetDocumentId"
            formControlName="targetDocumentId"
          />
          @if (targetDocumentIdRef.invalid && (targetDocumentIdRef.dirty || targetDocumentIdRef.touched)) {
            <div>
              @if (editForm.get('targetDocumentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('targetDocumentId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let relationTypeRef = editForm.get('relationType')!;
        <div class="mb-3">
          <label class="form-label" for="field_relationType" jhiTranslate="gatewayApp.documentServiceDocumentRelation.relationType"
            >Relation Type</label
          >
          <select class="form-control" name="relationType" formControlName="relationType" id="field_relationType" data-cy="relationType">
            <option [ngValue]="null">{{ 'gatewayApp.RelationType.null' | translate }}</option>
            @for (relationType of relationTypeValues; track $index) {
              <option [value]="relationType">{{ 'gatewayApp.RelationType.' + relationType | translate }}</option>
            }
          </select>
          @if (relationTypeRef.invalid && (relationTypeRef.dirty || relationTypeRef.touched)) {
            <div>
              @if (editForm.get('relationType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let createdByRef = editForm.get('createdBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="gatewayApp.documentServiceDocumentRelation.createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (createdByRef.invalid && (createdByRef.dirty || createdByRef.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('createdBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let createdDateRef = editForm.get('createdDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="gatewayApp.documentServiceDocumentRelation.createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdDateRef.invalid && (createdDateRef.dirty || createdDateRef.touched)) {
            <div>
              @if (editForm.get('createdDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
