<div>
  <h2 id="page-heading" data-cy="DocumentAuditHeading">
    <span jhiTranslate="gatewayApp.documentServiceDocumentAudit.home.title">Document Audits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.documentServiceDocumentAudit.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-document-audit"
        [routerLink]="['/document-audit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.documentServiceDocumentAudit.home.createLabel"
          >Create a new Document Audit</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.documentServiceDocumentAudit.home.search"
          >Search for Document Audit</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.documentServiceDocumentAudit.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (documentAudits().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.documentServiceDocumentAudit.home.notFound">No Document Audits found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentSha256">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentAudit.documentSha256">Document Sha 256</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="action">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentAudit.action">Action</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="userId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentAudit.userId">User Id</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="userIp">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentAudit.userIp">User Ip</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="actionDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentAudit.actionDate">Action Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="additionalInfo">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentAudit.additionalInfo">Additional Info</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="document.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentAudit.document">Document</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (documentAudit of documentAudits(); track trackId(documentAudit)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/document-audit', documentAudit.id, 'view']">{{ documentAudit.id }}</a>
              </td>
              <td>{{ documentAudit.documentSha256 }}</td>
              <td [jhiTranslate]="'gatewayApp.AuditAction.' + (documentAudit.action ?? 'null')">
                {{
                  {
                    null: '',
                    CREATED: 'CREATED',
                    VIEWED: 'VIEWED',
                    DOWNLOADED: 'DOWNLOADED',
                    MODIFIED: 'MODIFIED',
                    DELETED: 'DELETED',
                    SHARED: 'SHARED',
                    PRINTED: 'PRINTED',
                    EXPORTED: 'EXPORTED',
                    PERMISSIONS_CHANGED: 'PERMISSIONS_CHANGED',
                    WORKFLOW_STARTED: 'WORKFLOW_STARTED',
                    WORKFLOW_COMPLETED: 'WORKFLOW_COMPLETED',
                    COMMENTED: 'COMMENTED',
                    RELATION_ADDED: 'RELATION_ADDED',
                    RELATION_REMOVED: 'RELATION_REMOVED',
                    ARCHIVED: 'ARCHIVED',
                    RESTORED: 'RESTORED',
                    SERVICE_STATUS_CHANGED: 'SERVICE_STATUS_CHANGED',
                  }[documentAudit.action ?? 'null']
                }}
              </td>
              <td>{{ documentAudit.userId }}</td>
              <td>{{ documentAudit.userIp }}</td>
              <td>{{ documentAudit.actionDate | formatMediumDatetime }}</td>
              <td>{{ documentAudit.additionalInfo }}</td>
              <td>
                @if (documentAudit.document) {
                  <div>
                    <a [routerLink]="['/document', documentAudit.document.id, 'view']">{{ documentAudit.document.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/document-audit', documentAudit.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/document-audit', documentAudit.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(documentAudit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
