<div>
  <h2 id="page-heading" data-cy="DocumentRelationHeading">
    <span jhiTranslate="gatewayApp.documentServiceDocumentRelation.home.title">Document Relations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.documentServiceDocumentRelation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-document-relation"
        [routerLink]="['/document-relation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.documentServiceDocumentRelation.home.createLabel"
          >Create a new Document Relation</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.documentServiceDocumentRelation.home.search"
          >Search for Document Relation</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.documentServiceDocumentRelation.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (documentRelations().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.documentServiceDocumentRelation.home.notFound">No Document Relations found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sourceDocumentId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentRelation.sourceDocumentId">Source Document Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="targetDocumentId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentRelation.targetDocumentId">Target Document Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="relationType">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentRelation.relationType">Relation Type</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentRelation.createdBy">Created By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentRelation.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (documentRelation of documentRelations(); track trackId(documentRelation)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/document-relation', documentRelation.id, 'view']">{{ documentRelation.id }}</a>
              </td>
              <td>{{ documentRelation.sourceDocumentId }}</td>
              <td>{{ documentRelation.targetDocumentId }}</td>
              <td [jhiTranslate]="'gatewayApp.RelationType.' + (documentRelation.relationType ?? 'null')">
                {{
                  {
                    null: '',
                    RELATED_TO: 'RELATED_TO',
                    REPLACES: 'REPLACES',
                    REPLACED_BY: 'REPLACED_BY',
                    SUPPLEMENTS: 'SUPPLEMENTS',
                    SUPPLEMENTED_BY: 'SUPPLEMENTED_BY',
                    REFERENCED_BY: 'REFERENCED_BY',
                    REFERENCES: 'REFERENCES',
                    ATTACHMENT_OF: 'ATTACHMENT_OF',
                    HAS_ATTACHMENT: 'HAS_ATTACHMENT',
                    VERSION_OF: 'VERSION_OF',
                    HAS_VERSION: 'HAS_VERSION',
                    COPY_OF: 'COPY_OF',
                    ORIGINAL_OF: 'ORIGINAL_OF',
                    PART_OF: 'PART_OF',
                    HAS_PART: 'HAS_PART',
                    RESPONSE_TO: 'RESPONSE_TO',
                    HAS_RESPONSE: 'HAS_RESPONSE',
                    AMENDMENT_OF: 'AMENDMENT_OF',
                    HAS_AMENDMENT: 'HAS_AMENDMENT',
                    CUSTOM: 'CUSTOM',
                  }[documentRelation.relationType ?? 'null']
                }}
              </td>
              <td>{{ documentRelation.createdBy }}</td>
              <td>{{ documentRelation.createdDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/document-relation', documentRelation.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/document-relation', documentRelation.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(documentRelation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
