<div>
  <h2 id="page-heading" data-cy="SystemMetricHeading">
    <span jhiTranslate="gatewayApp.reportingServiceSystemMetric.home.title">System Metrics</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.reportingServiceSystemMetric.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-system-metric"
        [routerLink]="['/system-metric/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.reportingServiceSystemMetric.home.createLabel">Create a new System Metric</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (systemMetrics().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.reportingServiceSystemMetric.home.notFound">No System Metrics found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="metricName">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceSystemMetric.metricName">Metric Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cpuUsage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceSystemMetric.cpuUsage">Cpu Usage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="memoryUsage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceSystemMetric.memoryUsage">Memory Usage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="diskUsage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceSystemMetric.diskUsage">Disk Usage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="networkIn">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceSystemMetric.networkIn">Network In</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="networkOut">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceSystemMetric.networkOut">Network Out</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activeConnections">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceSystemMetric.activeConnections">Active Connections</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="timestamp">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceSystemMetric.timestamp">Timestamp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (systemMetric of systemMetrics(); track trackId(systemMetric)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/system-metric', systemMetric.id, 'view']">{{ systemMetric.id }}</a>
              </td>
              <td>{{ systemMetric.metricName }}</td>
              <td>{{ systemMetric.cpuUsage }}</td>
              <td>{{ systemMetric.memoryUsage }}</td>
              <td>{{ systemMetric.diskUsage }}</td>
              <td>{{ systemMetric.networkIn }}</td>
              <td>{{ systemMetric.networkOut }}</td>
              <td>{{ systemMetric.activeConnections }}</td>
              <td>{{ systemMetric.timestamp | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/system-metric', systemMetric.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/system-metric', systemMetric.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(systemMetric)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (systemMetrics().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
