<div>
  <h2 id="page-heading" data-cy="SearchIndexHeading">
    <span jhiTranslate="gatewayApp.searchServiceSearchIndex.home.title">Search Indices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.searchServiceSearchIndex.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-search-index"
        [routerLink]="['/search-index/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.searchServiceSearchIndex.home.createLabel">Create a new Search Index</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.searchServiceSearchIndex.home.search"
          >Search for Search Index</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.searchServiceSearchIndex.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (searchIndices().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.searchServiceSearchIndex.home.notFound">No Search Indices found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentSha256">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.searchServiceSearchIndex.documentSha256">Document Sha 256</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="indexedContent">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.searchServiceSearchIndex.indexedContent">Indexed Content</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="metadata">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.searchServiceSearchIndex.metadata">Metadata</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="tags">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.searchServiceSearchIndex.tags">Tags</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="correspondents">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.searchServiceSearchIndex.correspondents">Correspondents</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="extractedEntities">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.searchServiceSearchIndex.extractedEntities">Extracted Entities</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="indexedDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.searchServiceSearchIndex.indexedDate">Indexed Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastUpdated">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.searchServiceSearchIndex.lastUpdated">Last Updated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (searchIndex of searchIndices(); track trackId(searchIndex)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/search-index', searchIndex.id, 'view']">{{ searchIndex.id }}</a>
              </td>
              <td>{{ searchIndex.documentSha256 }}</td>
              <td>{{ searchIndex.indexedContent }}</td>
              <td>{{ searchIndex.metadata }}</td>
              <td>{{ searchIndex.tags }}</td>
              <td>{{ searchIndex.correspondents }}</td>
              <td>{{ searchIndex.extractedEntities }}</td>
              <td>{{ searchIndex.indexedDate | formatMediumDatetime }}</td>
              <td>{{ searchIndex.lastUpdated | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/search-index', searchIndex.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/search-index', searchIndex.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(searchIndex)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
