<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-webhook-log-heading"
        data-cy="WebhookLogCreateUpdateHeading"
        jhiTranslate="gatewayApp.notificationServiceWebhookLog.home.createOrEditLabel"
      >
        Create or edit a Webhook Log
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.notificationServiceWebhookLog.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let subscriptionIdRef = editForm.get('subscriptionId')!;
        <div class="mb-3">
          <label class="form-label" for="field_subscriptionId" jhiTranslate="gatewayApp.notificationServiceWebhookLog.subscriptionId"
            >Subscription Id</label
          >
          <input
            type="number"
            class="form-control"
            name="subscriptionId"
            id="field_subscriptionId"
            data-cy="subscriptionId"
            formControlName="subscriptionId"
          />
          @if (subscriptionIdRef.invalid && (subscriptionIdRef.dirty || subscriptionIdRef.touched)) {
            <div>
              @if (editForm.get('subscriptionId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('subscriptionId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let eventTypeRef = editForm.get('eventType')!;
        <div class="mb-3">
          <label class="form-label" for="field_eventType" jhiTranslate="gatewayApp.notificationServiceWebhookLog.eventType"
            >Event Type</label
          >
          <input type="text" class="form-control" name="eventType" id="field_eventType" data-cy="eventType" formControlName="eventType" />
          @if (eventTypeRef.invalid && (eventTypeRef.dirty || eventTypeRef.touched)) {
            <div>
              @if (editForm.get('eventType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('eventType')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_payload" jhiTranslate="gatewayApp.notificationServiceWebhookLog.payload">Payload</label>
          <textarea class="form-control" name="payload" id="field_payload" data-cy="payload" formControlName="payload"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_responseStatus" jhiTranslate="gatewayApp.notificationServiceWebhookLog.responseStatus"
            >Response Status</label
          >
          <input
            type="number"
            class="form-control"
            name="responseStatus"
            id="field_responseStatus"
            data-cy="responseStatus"
            formControlName="responseStatus"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_responseBody" jhiTranslate="gatewayApp.notificationServiceWebhookLog.responseBody"
            >Response Body</label
          >
          <textarea
            class="form-control"
            name="responseBody"
            id="field_responseBody"
            data-cy="responseBody"
            formControlName="responseBody"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_responseTime" jhiTranslate="gatewayApp.notificationServiceWebhookLog.responseTime"
            >Response Time</label
          >
          <input
            type="number"
            class="form-control"
            name="responseTime"
            id="field_responseTime"
            data-cy="responseTime"
            formControlName="responseTime"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_attemptNumber" jhiTranslate="gatewayApp.notificationServiceWebhookLog.attemptNumber"
            >Attempt Number</label
          >
          <input
            type="number"
            class="form-control"
            name="attemptNumber"
            id="field_attemptNumber"
            data-cy="attemptNumber"
            formControlName="attemptNumber"
          />
        </div>

        @let isSuccessRef = editForm.get('isSuccess')!;
        <div class="mb-3">
          <label class="form-label" for="field_isSuccess" jhiTranslate="gatewayApp.notificationServiceWebhookLog.isSuccess"
            >Is Success</label
          >
          <input type="checkbox" class="form-check" name="isSuccess" id="field_isSuccess" data-cy="isSuccess" formControlName="isSuccess" />
          @if (isSuccessRef.invalid && (isSuccessRef.dirty || isSuccessRef.touched)) {
            <div>
              @if (editForm.get('isSuccess')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_errorMessage" jhiTranslate="gatewayApp.notificationServiceWebhookLog.errorMessage"
            >Error Message</label
          >
          <textarea
            class="form-control"
            name="errorMessage"
            id="field_errorMessage"
            data-cy="errorMessage"
            formControlName="errorMessage"
          ></textarea>
        </div>

        @let sentDateRef = editForm.get('sentDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_sentDate" jhiTranslate="gatewayApp.notificationServiceWebhookLog.sentDate">Sent Date</label>
          <div class="d-flex">
            <input
              id="field_sentDate"
              data-cy="sentDate"
              type="datetime-local"
              class="form-control"
              name="sentDate"
              formControlName="sentDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (sentDateRef.invalid && (sentDateRef.dirty || sentDateRef.touched)) {
            <div>
              @if (editForm.get('sentDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('sentDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_subscription" jhiTranslate="gatewayApp.notificationServiceWebhookLog.subscription"
            >Subscription</label
          >
          <select
            class="form-control"
            id="field_subscription"
            data-cy="subscription"
            name="subscription"
            formControlName="subscription"
            [compareWith]="compareWebhookSubscription"
          >
            @if (!editForm.get('subscription')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (webhookSubscriptionOption of webhookSubscriptionsSharedCollection(); track $index) {
              <option [ngValue]="webhookSubscriptionOption">{{ webhookSubscriptionOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['subscription'])!.invalid && (editForm.get(['subscription'])!.dirty || editForm.get(['subscription'])!.touched)
        ) {
          <div>
            @if (editForm.get(['subscription'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
