<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-workflow-task-heading"
        data-cy="WorkflowTaskCreateUpdateHeading"
        jhiTranslate="gatewayApp.workflowServiceWorkflowTask.home.createOrEditLabel"
      >
        Create or edit a Workflow Task
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.workflowServiceWorkflowTask.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let assigneeIdRef = editForm.get('assigneeId')!;
        <div class="mb-3">
          <label class="form-label" for="field_assigneeId" jhiTranslate="gatewayApp.workflowServiceWorkflowTask.assigneeId"
            >Assignee Id</label
          >
          <input
            type="text"
            class="form-control"
            name="assigneeId"
            id="field_assigneeId"
            data-cy="assigneeId"
            formControlName="assigneeId"
          />
          @if (assigneeIdRef.invalid && (assigneeIdRef.dirty || assigneeIdRef.touched)) {
            <div>
              @if (editForm.get('assigneeId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('assigneeId')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="gatewayApp.workflowServiceWorkflowTask.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.TaskStatus.null' | translate }}</option>
            @for (taskStatus of taskStatusValues; track $index) {
              <option [value]="taskStatus">{{ 'gatewayApp.TaskStatus.' + taskStatus | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_action" jhiTranslate="gatewayApp.workflowServiceWorkflowTask.action">Action</label>
          <select class="form-control" name="action" formControlName="action" id="field_action" data-cy="action">
            <option [ngValue]="null">{{ 'gatewayApp.TaskAction.null' | translate }}</option>
            @for (taskAction of taskActionValues; track $index) {
              <option [value]="taskAction">{{ 'gatewayApp.TaskAction.' + taskAction | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_comment" jhiTranslate="gatewayApp.workflowServiceWorkflowTask.comment">Comment</label>
          <textarea class="form-control" name="comment" id="field_comment" data-cy="comment" formControlName="comment"></textarea>
        </div>

        @let assignedDateRef = editForm.get('assignedDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_assignedDate" jhiTranslate="gatewayApp.workflowServiceWorkflowTask.assignedDate"
            >Assigned Date</label
          >
          <div class="d-flex">
            <input
              id="field_assignedDate"
              data-cy="assignedDate"
              type="datetime-local"
              class="form-control"
              name="assignedDate"
              formControlName="assignedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (assignedDateRef.invalid && (assignedDateRef.dirty || assignedDateRef.touched)) {
            <div>
              @if (editForm.get('assignedDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('assignedDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dueDate" jhiTranslate="gatewayApp.workflowServiceWorkflowTask.dueDate">Due Date</label>
          <div class="d-flex">
            <input
              id="field_dueDate"
              data-cy="dueDate"
              type="datetime-local"
              class="form-control"
              name="dueDate"
              formControlName="dueDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_completedDate" jhiTranslate="gatewayApp.workflowServiceWorkflowTask.completedDate"
            >Completed Date</label
          >
          <div class="d-flex">
            <input
              id="field_completedDate"
              data-cy="completedDate"
              type="datetime-local"
              class="form-control"
              name="completedDate"
              formControlName="completedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let reminderSentRef = editForm.get('reminderSent')!;
        <div class="mb-3">
          <label class="form-label" for="field_reminderSent" jhiTranslate="gatewayApp.workflowServiceWorkflowTask.reminderSent"
            >Reminder Sent</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="reminderSent"
            id="field_reminderSent"
            data-cy="reminderSent"
            formControlName="reminderSent"
          />
          @if (reminderSentRef.invalid && (reminderSentRef.dirty || reminderSentRef.touched)) {
            <div>
              @if (editForm.get('reminderSent')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let delegatedToRef = editForm.get('delegatedTo')!;
        <div class="mb-3">
          <label class="form-label" for="field_delegatedTo" jhiTranslate="gatewayApp.workflowServiceWorkflowTask.delegatedTo"
            >Delegated To</label
          >
          <input
            type="text"
            class="form-control"
            name="delegatedTo"
            id="field_delegatedTo"
            data-cy="delegatedTo"
            formControlName="delegatedTo"
          />
          @if (delegatedToRef.invalid && (delegatedToRef.dirty || delegatedToRef.touched)) {
            <div>
              @if (editForm.get('delegatedTo')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_delegatedDate" jhiTranslate="gatewayApp.workflowServiceWorkflowTask.delegatedDate"
            >Delegated Date</label
          >
          <div class="d-flex">
            <input
              id="field_delegatedDate"
              data-cy="delegatedDate"
              type="datetime-local"
              class="form-control"
              name="delegatedDate"
              formControlName="delegatedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_instance" jhiTranslate="gatewayApp.workflowServiceWorkflowTask.instance">Instance</label>
          <select
            class="form-control"
            id="field_instance"
            data-cy="instance"
            name="instance"
            formControlName="instance"
            [compareWith]="compareWorkflowInstance"
          >
            @if (!editForm.get('instance')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (workflowInstanceOption of workflowInstancesSharedCollection; track $index) {
              <option [ngValue]="workflowInstanceOption">{{ workflowInstanceOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['instance'])!.invalid && (editForm.get(['instance'])!.dirty || editForm.get(['instance'])!.touched)) {
          <div>
            @if (editForm.get(['instance'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_step" jhiTranslate="gatewayApp.workflowServiceWorkflowTask.step">Step</label>
          <select
            class="form-control"
            id="field_step"
            data-cy="step"
            name="step"
            formControlName="step"
            [compareWith]="compareWorkflowStep"
          >
            @if (!editForm.get('step')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (workflowStepOption of workflowStepsSharedCollection; track $index) {
              <option [ngValue]="workflowStepOption">{{ workflowStepOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['step'])!.invalid && (editForm.get(['step'])!.dirty || editForm.get(['step'])!.touched)) {
          <div>
            @if (editForm.get(['step'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
