<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-document-comment-heading"
        data-cy="DocumentCommentCreateUpdateHeading"
        jhiTranslate="gatewayApp.documentServiceDocumentComment.home.createOrEditLabel"
      >
        Create or edit a Document Comment
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.documentServiceDocumentComment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentIdRef = editForm.get('documentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentId" jhiTranslate="gatewayApp.documentServiceDocumentComment.documentId"
            >Document Id</label
          >
          <input
            type="number"
            class="form-control"
            name="documentId"
            id="field_documentId"
            data-cy="documentId"
            formControlName="documentId"
          />
          @if (documentIdRef.invalid && (documentIdRef.dirty || documentIdRef.touched)) {
            <div>
              @if (editForm.get('documentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('documentId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let contentRef = editForm.get('content')!;
        <div class="mb-3">
          <label class="form-label" for="field_content" jhiTranslate="gatewayApp.documentServiceDocumentComment.content">Content</label>
          <textarea class="form-control" name="content" id="field_content" data-cy="content" formControlName="content"></textarea>
          @if (contentRef.invalid && (contentRef.dirty || contentRef.touched)) {
            <div>
              @if (editForm.get('content')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pageNumber" jhiTranslate="gatewayApp.documentServiceDocumentComment.pageNumber"
            >Page Number</label
          >
          <input
            type="number"
            class="form-control"
            name="pageNumber"
            id="field_pageNumber"
            data-cy="pageNumber"
            formControlName="pageNumber"
          />
        </div>

        @let isResolvedRef = editForm.get('isResolved')!;
        <div class="mb-3">
          <label class="form-label" for="field_isResolved" jhiTranslate="gatewayApp.documentServiceDocumentComment.isResolved"
            >Is Resolved</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isResolved"
            id="field_isResolved"
            data-cy="isResolved"
            formControlName="isResolved"
          />
          @if (isResolvedRef.invalid && (isResolvedRef.dirty || isResolvedRef.touched)) {
            <div>
              @if (editForm.get('isResolved')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let authorIdRef = editForm.get('authorId')!;
        <div class="mb-3">
          <label class="form-label" for="field_authorId" jhiTranslate="gatewayApp.documentServiceDocumentComment.authorId">Author Id</label>
          <input type="text" class="form-control" name="authorId" id="field_authorId" data-cy="authorId" formControlName="authorId" />
          @if (authorIdRef.invalid && (authorIdRef.dirty || authorIdRef.touched)) {
            <div>
              @if (editForm.get('authorId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('authorId')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let createdDateRef = editForm.get('createdDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="gatewayApp.documentServiceDocumentComment.createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdDateRef.invalid && (createdDateRef.dirty || createdDateRef.touched)) {
            <div>
              @if (editForm.get('createdDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_parentComment" jhiTranslate="gatewayApp.documentServiceDocumentComment.parentComment"
            >Parent Comment</label
          >
          <select
            class="form-control"
            id="field_parentComment"
            data-cy="parentComment"
            name="parentComment"
            formControlName="parentComment"
            [compareWith]="compareDocumentComment"
          >
            <option [ngValue]="null"></option>
            @for (documentCommentOption of documentCommentsSharedCollection; track $index) {
              <option [ngValue]="documentCommentOption">{{ documentCommentOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
