<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (dashboardWidget(); as dashboardWidgetRef) {
      <div>
        <h2 data-cy="dashboardWidgetDetailsHeading">
          <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.detail.title">Dashboard Widget</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ dashboardWidgetRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.dashboardId">Dashboard Id</span></dt>
          <dd>
            <span>{{ dashboardWidgetRef.dashboardId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.widgetType">Widget Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.WidgetType.' + (dashboardWidgetRef.widgetType ?? 'null')">{{
              {
                null: '',
                DOCUMENT_COUNT: 'DOCUMENT_COUNT',
                STORAGE_USAGE: 'STORAGE_USAGE',
                RECENT_UPLOADS: 'RECENT_UPLOADS',
                TOP_TAGS: 'TOP_TAGS',
                WORKFLOW_STATUS: 'WORKFLOW_STATUS',
                USER_ACTIVITY: 'USER_ACTIVITY',
                CHART_LINE: 'CHART_LINE',
                CHART_BAR: 'CHART_BAR',
                CHART_PIE: 'CHART_PIE',
                CHART_DOUGHNUT: 'CHART_DOUGHNUT',
                CHART_AREA: 'CHART_AREA',
                TABLE: 'TABLE',
                METRIC: 'METRIC',
                HEATMAP: 'HEATMAP',
                GAUGE: 'GAUGE',
                TIMELINE: 'TIMELINE',
              }[dashboardWidgetRef.widgetType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.title">Title</span></dt>
          <dd>
            <span>{{ dashboardWidgetRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.configuration">Configuration</span></dt>
          <dd>
            <span>{{ dashboardWidgetRef.configuration }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.dataSource">Data Source</span></dt>
          <dd>
            <span>{{ dashboardWidgetRef.dataSource }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.position">Position</span></dt>
          <dd>
            <span>{{ dashboardWidgetRef.position }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.sizeX">Size X</span></dt>
          <dd>
            <span>{{ dashboardWidgetRef.sizeX }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.sizeY">Size Y</span></dt>
          <dd>
            <span>{{ dashboardWidgetRef.sizeY }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.dashboard">Dashboard</span></dt>
          <dd>
            @if (dashboardWidget()!.dashboard) {
              <div>
                <a [routerLink]="['/dashboard', dashboardWidget()!.dashboard?.id, 'view']">{{ dashboardWidgetRef.dashboard?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/dashboard-widget', dashboardWidgetRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
