<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-contract-clause-heading"
        data-cy="ContractClauseCreateUpdateHeading"
        jhiTranslate="gatewayApp.businessDocServiceContractClause.home.createOrEditLabel"
      >
        Create or edit a Contract Clause
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.businessDocServiceContractClause.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let contractIdRef = editForm.get('contractId')!;
        <div class="mb-3">
          <label class="form-label" for="field_contractId" jhiTranslate="gatewayApp.businessDocServiceContractClause.contractId"
            >Contract Id</label
          >
          <input
            type="number"
            class="form-control"
            name="contractId"
            id="field_contractId"
            data-cy="contractId"
            formControlName="contractId"
          />
          @if (contractIdRef.invalid && (contractIdRef.dirty || contractIdRef.touched)) {
            <div>
              @if (editForm.get('contractId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('contractId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let clauseNumberRef = editForm.get('clauseNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_clauseNumber" jhiTranslate="gatewayApp.businessDocServiceContractClause.clauseNumber"
            >Clause Number</label
          >
          <input
            type="text"
            class="form-control"
            name="clauseNumber"
            id="field_clauseNumber"
            data-cy="clauseNumber"
            formControlName="clauseNumber"
          />
          @if (clauseNumberRef.invalid && (clauseNumberRef.dirty || clauseNumberRef.touched)) {
            <div>
              @if (editForm.get('clauseNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('clauseNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let titleRef = editForm.get('title')!;
        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="gatewayApp.businessDocServiceContractClause.title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (titleRef.invalid && (titleRef.dirty || titleRef.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('title')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let contentRef = editForm.get('content')!;
        <div class="mb-3">
          <label class="form-label" for="field_content" jhiTranslate="gatewayApp.businessDocServiceContractClause.content">Content</label>
          <textarea class="form-control" name="content" id="field_content" data-cy="content" formControlName="content"></textarea>
          @if (contentRef.invalid && (contentRef.dirty || contentRef.touched)) {
            <div>
              @if (editForm.get('content')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_clauseType" jhiTranslate="gatewayApp.businessDocServiceContractClause.clauseType"
            >Clause Type</label
          >
          <select class="form-control" name="clauseType" formControlName="clauseType" id="field_clauseType" data-cy="clauseType">
            <option [ngValue]="null">{{ 'gatewayApp.ClauseType.null' | translate }}</option>
            @for (clauseType of clauseTypeValues; track $index) {
              <option [value]="clauseType">{{ 'gatewayApp.ClauseType.' + clauseType | translate }}</option>
            }
          </select>
        </div>

        @let isMandatoryRef = editForm.get('isMandatory')!;
        <div class="mb-3">
          <label class="form-label" for="field_isMandatory" jhiTranslate="gatewayApp.businessDocServiceContractClause.isMandatory"
            >Is Mandatory</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isMandatory"
            id="field_isMandatory"
            data-cy="isMandatory"
            formControlName="isMandatory"
          />
          @if (isMandatoryRef.invalid && (isMandatoryRef.dirty || isMandatoryRef.touched)) {
            <div>
              @if (editForm.get('isMandatory')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contract" jhiTranslate="gatewayApp.businessDocServiceContractClause.contract"
            >Contract</label
          >
          <select
            class="form-control"
            id="field_contract"
            data-cy="contract"
            name="contract"
            formControlName="contract"
            [compareWith]="compareContract"
          >
            @if (!editForm.get('contract')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (contractOption of contractsSharedCollection; track $index) {
              <option [ngValue]="contractOption">{{ contractOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['contract'])!.invalid && (editForm.get(['contract'])!.dirty || editForm.get(['contract'])!.touched)) {
          <div>
            @if (editForm.get(['contract'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
