<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (importMapping(); as importMappingRef) {
      <div>
        <h2 data-cy="importMappingDetailsHeading">
          <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.detail.title">Import Mapping</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ importMappingRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceImportMapping.ruleId">Rule Id</span></dt>
          <dd>
            <span>{{ importMappingRef.ruleId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceImportMapping.emailField">Email Field</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.EmailField.' + (importMappingRef.emailField ?? 'null')">{{
              {
                null: '',
                FROM: 'FROM',
                TO: 'TO',
                CC: 'CC',
                BCC: 'BCC',
                SUBJECT: 'SUBJECT',
                BODY: 'BODY',
                BODY_HTML: 'BODY_HTML',
                DATE: 'DATE',
                ATTACHMENT_NAME: 'ATTACHMENT_NAME',
                ATTACHMENT_COUNT: 'ATTACHMENT_COUNT',
                MESSAGE_ID: 'MESSAGE_ID',
                IN_REPLY_TO: 'IN_REPLY_TO',
                HEADERS: 'HEADERS',
              }[importMappingRef.emailField ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceImportMapping.documentField">Document Field</span></dt>
          <dd>
            <span>{{ importMappingRef.documentField }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceImportMapping.transformation">Transformation</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.MappingTransformation.' + (importMappingRef.transformation ?? 'null')">{{
              {
                null: '',
                NONE: 'NONE',
                UPPERCASE: 'UPPERCASE',
                LOWERCASE: 'LOWERCASE',
                TRIM: 'TRIM',
                EXTRACT_DATE: 'EXTRACT_DATE',
                EXTRACT_NUMBER: 'EXTRACT_NUMBER',
                EXTRACT_EMAIL: 'EXTRACT_EMAIL',
                REGEX_EXTRACT: 'REGEX_EXTRACT',
                REPLACE: 'REPLACE',
                SPLIT: 'SPLIT',
                CONCAT: 'CONCAT',
                CUSTOM: 'CUSTOM',
              }[importMappingRef.transformation ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceImportMapping.transformationConfig">Transformation Config</span></dt>
          <dd>
            <span>{{ importMappingRef.transformationConfig }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceImportMapping.isRequired">Is Required</span></dt>
          <dd>
            <span>{{ importMappingRef.isRequired }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceImportMapping.defaultValue">Default Value</span></dt>
          <dd>
            <span>{{ importMappingRef.defaultValue }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceImportMapping.validationRegex">Validation Regex</span></dt>
          <dd>
            <span>{{ importMappingRef.validationRegex }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceImportMapping.rule">Rule</span></dt>
          <dd>
            @if (importMapping()!.rule) {
              <div>
                <a [routerLink]="['/import-rule', importMapping()!.rule?.id, 'view']">{{ importMappingRef.rule?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/import-mapping', importMappingRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
