<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (correspondent(); as correspondentRef) {
      <div>
        <h2 data-cy="correspondentDetailsHeading">
          <span jhiTranslate="gatewayApp.aiServiceCorrespondent.detail.title">Correspondent</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ correspondentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.name">Name</span></dt>
          <dd>
            <span>{{ correspondentRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.email">Email</span></dt>
          <dd>
            <span>{{ correspondentRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.phone">Phone</span></dt>
          <dd>
            <span>{{ correspondentRef.phone }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.address">Address</span></dt>
          <dd>
            <span>{{ correspondentRef.address }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.company">Company</span></dt>
          <dd>
            <span>{{ correspondentRef.company }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.type">Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.CorrespondentType.' + (correspondentRef.type ?? 'null')">{{
              { null: '', PERSON: 'PERSON', ORGANIZATION: 'ORGANIZATION', SYSTEM: 'SYSTEM', UNKNOWN: 'UNKNOWN' }[
                correspondentRef.type ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.role">Role</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.CorrespondentRole.' + (correspondentRef.role ?? 'null')">{{
              { null: '', SENDER: 'SENDER', RECIPIENT: 'RECIPIENT', CC: 'CC', BCC: 'BCC', BOTH: 'BOTH' }[correspondentRef.role ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.confidence">Confidence</span></dt>
          <dd>
            <span>{{ correspondentRef.confidence }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.isVerified">Is Verified</span></dt>
          <dd>
            <span>{{ correspondentRef.isVerified }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.verifiedBy">Verified By</span></dt>
          <dd>
            <span>{{ correspondentRef.verifiedBy }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.verifiedDate">Verified Date</span></dt>
          <dd>
            <span>{{ correspondentRef.verifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.metadata">Metadata</span></dt>
          <dd>
            <span>{{ correspondentRef.metadata }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.extractedDate">Extracted Date</span></dt>
          <dd>
            <span>{{ correspondentRef.extractedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.aiServiceCorrespondent.extraction">Extraction</span></dt>
          <dd>
            @if (correspondent()!.extraction) {
              <div>
                <a [routerLink]="['/correspondent-extraction', correspondent()!.extraction?.id, 'view']">{{
                  correspondentRef.extraction?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/correspondent', correspondentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
