<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-orc-extracted-text-heading"
        data-cy="OrcExtractedTextCreateUpdateHeading"
        jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.home.createOrEditLabel"
      >
        Create or edit a Orc Extracted Text
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let contentRef = editForm.get('content')!;
        <div class="mb-3">
          <label class="form-label" for="field_content" jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.content">Content</label>
          <textarea class="form-control" name="content" id="field_content" data-cy="content" formControlName="content"></textarea>
          @if (contentRef.invalid && (contentRef.dirty || contentRef.touched)) {
            <div>
              @if (editForm.get('content')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let contentSha256Ref = editForm.get('contentSha256')!;
        <div class="mb-3">
          <label class="form-label" for="field_contentSha256" jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.contentSha256"
            >Content Sha 256</label
          >
          <input
            type="text"
            class="form-control"
            name="contentSha256"
            id="field_contentSha256"
            data-cy="contentSha256"
            formControlName="contentSha256"
          />
          @if (contentSha256Ref.invalid && (contentSha256Ref.dirty || contentSha256Ref.touched)) {
            <div>
              @if (editForm.get('contentSha256')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        @let s3ContentKeyRef = editForm.get('s3ContentKey')!;
        <div class="mb-3">
          <label class="form-label" for="field_s3ContentKey" jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.s3ContentKey"
            >S 3 Content Key</label
          >
          <input
            type="text"
            class="form-control"
            name="s3ContentKey"
            id="field_s3ContentKey"
            data-cy="s3ContentKey"
            formControlName="s3ContentKey"
          />
          @if (s3ContentKeyRef.invalid && (s3ContentKeyRef.dirty || s3ContentKeyRef.touched)) {
            <div>
              @if (editForm.get('s3ContentKey')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        @let s3BucketRef = editForm.get('s3Bucket')!;
        <div class="mb-3">
          <label class="form-label" for="field_s3Bucket" jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.s3Bucket">S 3 Bucket</label>
          <input type="text" class="form-control" name="s3Bucket" id="field_s3Bucket" data-cy="s3Bucket" formControlName="s3Bucket" />
          @if (s3BucketRef.invalid && (s3BucketRef.dirty || s3BucketRef.touched)) {
            <div>
              @if (editForm.get('s3Bucket')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('s3Bucket')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let pageNumberRef = editForm.get('pageNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_pageNumber" jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.pageNumber"
            >Page Number</label
          >
          <input
            type="number"
            class="form-control"
            name="pageNumber"
            id="field_pageNumber"
            data-cy="pageNumber"
            formControlName="pageNumber"
          />
          @if (pageNumberRef.invalid && (pageNumberRef.dirty || pageNumberRef.touched)) {
            <div>
              @if (editForm.get('pageNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('pageNumber')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let languageRef = editForm.get('language')!;
        <div class="mb-3">
          <label class="form-label" for="field_language" jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.language">Language</label>
          <input type="text" class="form-control" name="language" id="field_language" data-cy="language" formControlName="language" />
          @if (languageRef.invalid && (languageRef.dirty || languageRef.touched)) {
            <div>
              @if (editForm.get('language')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '10' }"
                  >This field cannot be longer than 10 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_wordCount" jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.wordCount">Word Count</label>
          <input type="number" class="form-control" name="wordCount" id="field_wordCount" data-cy="wordCount" formControlName="wordCount" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hasStructuredData" jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.hasStructuredData"
            >Has Structured Data</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="hasStructuredData"
            id="field_hasStructuredData"
            data-cy="hasStructuredData"
            formControlName="hasStructuredData"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_structuredData" jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.structuredData"
            >Structured Data</label
          >
          <textarea
            class="form-control"
            name="structuredData"
            id="field_structuredData"
            data-cy="structuredData"
            formControlName="structuredData"
          ></textarea>
        </div>

        @let structuredDataS3KeyRef = editForm.get('structuredDataS3Key')!;
        <div class="mb-3">
          <label class="form-label" for="field_structuredDataS3Key" jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.structuredDataS3Key"
            >Structured Data S 3 Key</label
          >
          <input
            type="text"
            class="form-control"
            name="structuredDataS3Key"
            id="field_structuredDataS3Key"
            data-cy="structuredDataS3Key"
            formControlName="structuredDataS3Key"
          />
          @if (structuredDataS3KeyRef.invalid && (structuredDataS3KeyRef.dirty || structuredDataS3KeyRef.touched)) {
            <div>
              @if (editForm.get('structuredDataS3Key')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        @let extractedDateRef = editForm.get('extractedDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_extractedDate" jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.extractedDate"
            >Extracted Date</label
          >
          <div class="d-flex">
            <input
              id="field_extractedDate"
              data-cy="extractedDate"
              type="datetime-local"
              class="form-control"
              name="extractedDate"
              formControlName="extractedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (extractedDateRef.invalid && (extractedDateRef.dirty || extractedDateRef.touched)) {
            <div>
              @if (editForm.get('extractedDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('extractedDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_job" jhiTranslate="gatewayApp.ocrServiceOrcExtractedText.job">Job</label>
          <select class="form-control" id="field_job" data-cy="job" name="job" formControlName="job" [compareWith]="compareOcrJob">
            <option [ngValue]="null"></option>
            @for (ocrJobOption of ocrJobsSharedCollection; track $index) {
              <option [ngValue]="ocrJobOption">{{ ocrJobOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
