<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-correspondent-heading"
        data-cy="CorrespondentCreateUpdateHeading"
        jhiTranslate="gatewayApp.aiServiceCorrespondent.home.createOrEditLabel"
      >
        Create or edit a Correspondent
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.aiServiceCorrespondent.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="gatewayApp.aiServiceCorrespondent.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="gatewayApp.aiServiceCorrespondent.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let phoneRef = editForm.get('phone')!;
        <div class="mb-3">
          <label class="form-label" for="field_phone" jhiTranslate="gatewayApp.aiServiceCorrespondent.phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
          @if (phoneRef.invalid && (phoneRef.dirty || phoneRef.touched)) {
            <div>
              @if (editForm.get('phone')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_address" jhiTranslate="gatewayApp.aiServiceCorrespondent.address">Address</label>
          <textarea class="form-control" name="address" id="field_address" data-cy="address" formControlName="address"></textarea>
        </div>

        @let companyRef = editForm.get('company')!;
        <div class="mb-3">
          <label class="form-label" for="field_company" jhiTranslate="gatewayApp.aiServiceCorrespondent.company">Company</label>
          <input type="text" class="form-control" name="company" id="field_company" data-cy="company" formControlName="company" />
          @if (companyRef.invalid && (companyRef.dirty || companyRef.touched)) {
            <div>
              @if (editForm.get('company')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="gatewayApp.aiServiceCorrespondent.type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'gatewayApp.CorrespondentType.null' | translate }}</option>
            @for (correspondentType of correspondentTypeValues; track $index) {
              <option [value]="correspondentType">{{ 'gatewayApp.CorrespondentType.' + correspondentType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_role" jhiTranslate="gatewayApp.aiServiceCorrespondent.role">Role</label>
          <select class="form-control" name="role" formControlName="role" id="field_role" data-cy="role">
            <option [ngValue]="null">{{ 'gatewayApp.CorrespondentRole.null' | translate }}</option>
            @for (correspondentRole of correspondentRoleValues; track $index) {
              <option [value]="correspondentRole">{{ 'gatewayApp.CorrespondentRole.' + correspondentRole | translate }}</option>
            }
          </select>
        </div>

        @let confidenceRef = editForm.get('confidence')!;
        <div class="mb-3">
          <label class="form-label" for="field_confidence" jhiTranslate="gatewayApp.aiServiceCorrespondent.confidence">Confidence</label>
          <input
            type="number"
            class="form-control"
            name="confidence"
            id="field_confidence"
            data-cy="confidence"
            formControlName="confidence"
          />
          @if (confidenceRef.invalid && (confidenceRef.dirty || confidenceRef.touched)) {
            <div>
              @if (editForm.get('confidence')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              @if (editForm.get('confidence')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '1' }"
                  >This field cannot be more than 1.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('confidence')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let isVerifiedRef = editForm.get('isVerified')!;
        <div class="mb-3">
          <label class="form-label" for="field_isVerified" jhiTranslate="gatewayApp.aiServiceCorrespondent.isVerified">Is Verified</label>
          <input
            type="checkbox"
            class="form-check"
            name="isVerified"
            id="field_isVerified"
            data-cy="isVerified"
            formControlName="isVerified"
          />
          @if (isVerifiedRef.invalid && (isVerifiedRef.dirty || isVerifiedRef.touched)) {
            <div>
              @if (editForm.get('isVerified')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let verifiedByRef = editForm.get('verifiedBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_verifiedBy" jhiTranslate="gatewayApp.aiServiceCorrespondent.verifiedBy">Verified By</label>
          <input
            type="text"
            class="form-control"
            name="verifiedBy"
            id="field_verifiedBy"
            data-cy="verifiedBy"
            formControlName="verifiedBy"
          />
          @if (verifiedByRef.invalid && (verifiedByRef.dirty || verifiedByRef.touched)) {
            <div>
              @if (editForm.get('verifiedBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_verifiedDate" jhiTranslate="gatewayApp.aiServiceCorrespondent.verifiedDate"
            >Verified Date</label
          >
          <div class="d-flex">
            <input
              id="field_verifiedDate"
              data-cy="verifiedDate"
              type="datetime-local"
              class="form-control"
              name="verifiedDate"
              formControlName="verifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_metadata" jhiTranslate="gatewayApp.aiServiceCorrespondent.metadata">Metadata</label>
          <textarea class="form-control" name="metadata" id="field_metadata" data-cy="metadata" formControlName="metadata"></textarea>
        </div>

        @let extractedDateRef = editForm.get('extractedDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_extractedDate" jhiTranslate="gatewayApp.aiServiceCorrespondent.extractedDate"
            >Extracted Date</label
          >
          <div class="d-flex">
            <input
              id="field_extractedDate"
              data-cy="extractedDate"
              type="datetime-local"
              class="form-control"
              name="extractedDate"
              formControlName="extractedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (extractedDateRef.invalid && (extractedDateRef.dirty || extractedDateRef.touched)) {
            <div>
              @if (editForm.get('extractedDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('extractedDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_extraction" jhiTranslate="gatewayApp.aiServiceCorrespondent.extraction">Extraction</label>
          <select
            class="form-control"
            id="field_extraction"
            data-cy="extraction"
            name="extraction"
            formControlName="extraction"
            [compareWith]="compareCorrespondentExtraction"
          >
            @if (!editForm.get('extraction')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (correspondentExtractionOption of correspondentExtractionsSharedCollection; track $index) {
              <option [ngValue]="correspondentExtractionOption">{{ correspondentExtractionOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['extraction'])!.invalid && (editForm.get(['extraction'])!.dirty || editForm.get(['extraction'])!.touched)) {
          <div>
            @if (editForm.get(['extraction'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
