<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (documentTypeField(); as documentTypeFieldRef) {
      <div>
        <h2 data-cy="documentTypeFieldDetailsHeading">
          <span jhiTranslate="gatewayApp.documentServiceDocumentTypeField.detail.title">Document Type Field</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ documentTypeFieldRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTypeField.fieldKey">Field Key</span></dt>
          <dd>
            <span>{{ documentTypeFieldRef.fieldKey }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTypeField.fieldLabel">Field Label</span></dt>
          <dd>
            <span>{{ documentTypeFieldRef.fieldLabel }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTypeField.dataType">Data Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.MetadataType.' + (documentTypeFieldRef.dataType ?? 'null')">{{
              {
                null: '',
                STRING: 'STRING',
                NUMBER: 'NUMBER',
                INTEGER: 'INTEGER',
                DECIMAL: 'DECIMAL',
                DATE: 'DATE',
                DATETIME: 'DATETIME',
                BOOLEAN: 'BOOLEAN',
                EMAIL: 'EMAIL',
                PHONE: 'PHONE',
                URL: 'URL',
                JSON: 'JSON',
                ARRAY: 'ARRAY',
                CURRENCY: 'CURRENCY',
                PERCENTAGE: 'PERCENTAGE',
              }[documentTypeFieldRef.dataType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTypeField.isRequired">Is Required</span></dt>
          <dd>
            <span>{{ documentTypeFieldRef.isRequired }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTypeField.isSearchable">Is Searchable</span></dt>
          <dd>
            <span>{{ documentTypeFieldRef.isSearchable }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTypeField.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ documentTypeFieldRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTypeField.documentType">Document Type</span></dt>
          <dd>
            @if (documentTypeField()!.documentType) {
              <div>
                <a [routerLink]="['/document-type', documentTypeField()!.documentType?.id, 'view']">{{
                  documentTypeFieldRef.documentType?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/document-type-field', documentTypeFieldRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
