<div>
  <h2 id="page-heading" data-cy="DocumentPermissionHeading">
    <span jhiTranslate="gatewayApp.documentServiceDocumentPermission.home.title">Document Permissions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.documentServiceDocumentPermission.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-document-permission"
        [routerLink]="['/document-permission/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.documentServiceDocumentPermission.home.createLabel">Create a new Document Permission</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (documentPermissions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.documentServiceDocumentPermission.home.notFound">No Document Permissions found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentPermission.documentId">Document Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="principalType">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentPermission.principalType">Principal Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="principalId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentPermission.principalId">Principal Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="permission">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentPermission.permission">Permission</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="canDelegate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentPermission.canDelegate">Can Delegate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="grantedBy">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentPermission.grantedBy">Granted By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="grantedDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentPermission.grantedDate">Granted Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="permissionGroup.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentPermission.permissionGroup">Permission Group</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (documentPermission of documentPermissions(); track trackId(documentPermission)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/document-permission', documentPermission.id, 'view']">{{ documentPermission.id }}</a>
              </td>
              <td>{{ documentPermission.documentId }}</td>
              <td [jhiTranslate]="'gatewayApp.PrincipalType.' + (documentPermission.principalType ?? 'null')">
                {{
                  { null: '', USER: 'USER', GROUP: 'GROUP', ROLE: 'ROLE', PUBLIC: 'PUBLIC', DEPARTMENT: 'DEPARTMENT' }[
                    documentPermission.principalType ?? 'null'
                  ]
                }}
              </td>
              <td>{{ documentPermission.principalId }}</td>
              <td [jhiTranslate]="'gatewayApp.PermissionType.' + (documentPermission.permission ?? 'null')">
                {{
                  {
                    null: '',
                    VIEW: 'VIEW',
                    DOWNLOAD: 'DOWNLOAD',
                    EDIT: 'EDIT',
                    DELETE: 'DELETE',
                    SHARE: 'SHARE',
                    APPROVE: 'APPROVE',
                    PRINT: 'PRINT',
                    EXPORT: 'EXPORT',
                    COMMENT: 'COMMENT',
                    MANAGE_PERMISSIONS: 'MANAGE_PERMISSIONS',
                    FULL_CONTROL: 'FULL_CONTROL',
                  }[documentPermission.permission ?? 'null']
                }}
              </td>
              <td>{{ documentPermission.canDelegate }}</td>
              <td>{{ documentPermission.grantedBy }}</td>
              <td>{{ documentPermission.grantedDate | formatMediumDatetime }}</td>
              <td>
                @if (documentPermission.permissionGroup) {
                  <div>
                    <a [routerLink]="['/permission-group', documentPermission.permissionGroup.id, 'view']">{{
                      documentPermission.permissionGroup.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/document-permission', documentPermission.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/document-permission', documentPermission.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(documentPermission)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (documentPermissions().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
