<div>
  <h2 id="page-heading" data-cy="MonitoringServiceStatusHeading">
    <span jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.home.title">Monitoring Service Statuses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-monitoring-service-status"
        [routerLink]="['/monitoring-service-status/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.home.createLabel"
          >Create a new Monitoring Service Status</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.home.search"
          >Search for Monitoring Service Status</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.monitoringServiceMonitoringServiceStatus.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (monitoringServiceStatuses().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.home.notFound">No Monitoring Service Statuses found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="serviceName">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.serviceName">Service Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="serviceType">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.serviceType">Service Type</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.status">Status</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="endpoint">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.endpoint">Endpoint</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="port">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.port">Port</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="version">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.version">Version</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="lastPing">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.lastPing">Last Ping</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isHealthy">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.isHealthy">Is Healthy</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (monitoringServiceStatus of monitoringServiceStatuses(); track trackId(monitoringServiceStatus)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/monitoring-service-status', monitoringServiceStatus.id, 'view']">{{ monitoringServiceStatus.id }}</a>
              </td>
              <td>{{ monitoringServiceStatus.serviceName }}</td>
              <td>{{ monitoringServiceStatus.serviceType }}</td>
              <td [jhiTranslate]="'gatewayApp.MonitoringServiceStatusType.' + (monitoringServiceStatus.status ?? 'null')">
                {{
                  {
                    null: '',
                    RUNNING: 'RUNNING',
                    STARTING: 'STARTING',
                    STOPPING: 'STOPPING',
                    STOPPED: 'STOPPED',
                    ERROR: 'ERROR',
                    MAINTENANCE: 'MAINTENANCE',
                  }[monitoringServiceStatus.status ?? 'null']
                }}
              </td>
              <td>{{ monitoringServiceStatus.endpoint }}</td>
              <td>{{ monitoringServiceStatus.port }}</td>
              <td>{{ monitoringServiceStatus.version }}</td>
              <td>{{ monitoringServiceStatus.lastPing | formatMediumDatetime }}</td>
              <td>{{ monitoringServiceStatus.isHealthy }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/monitoring-service-status', monitoringServiceStatus.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/monitoring-service-status', monitoringServiceStatus.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(monitoringServiceStatus)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
