<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-email-import-import-mapping-heading"
        data-cy="EmailImportImportMappingCreateUpdateHeading"
        jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportMapping.home.createOrEditLabel"
      >
        Create or edit a Email Import Import Mapping
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportMapping.id"
              >ID</label
            >
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let emailFieldRef = editForm.get('emailField')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_emailField"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportMapping.emailField"
            >Email Field</label
          >
          <select class="form-control" name="emailField" formControlName="emailField" id="field_emailField" data-cy="emailField">
            <option [ngValue]="null">{{ 'gatewayApp.EmailField.null' | translate }}</option>
            @for (emailField of emailFieldValues; track $index) {
              <option [value]="emailField">{{ 'gatewayApp.EmailField.' + emailField | translate }}</option>
            }
          </select>
          @if (emailFieldRef.invalid && (emailFieldRef.dirty || emailFieldRef.touched)) {
            <div>
              @if (editForm.get('emailField')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let documentFieldRef = editForm.get('documentField')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_documentField"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportMapping.documentField"
            >Document Field</label
          >
          <input
            type="text"
            class="form-control"
            name="documentField"
            id="field_documentField"
            data-cy="documentField"
            formControlName="documentField"
          />
          @if (documentFieldRef.invalid && (documentFieldRef.dirty || documentFieldRef.touched)) {
            <div>
              @if (editForm.get('documentField')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('documentField')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_transformation"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportMapping.transformation"
            >Transformation</label
          >
          <select
            class="form-control"
            name="transformation"
            formControlName="transformation"
            id="field_transformation"
            data-cy="transformation"
          >
            <option [ngValue]="null">{{ 'gatewayApp.MappingTransformation.null' | translate }}</option>
            @for (mappingTransformation of mappingTransformationValues; track $index) {
              <option [value]="mappingTransformation">{{ 'gatewayApp.MappingTransformation.' + mappingTransformation | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_transformationConfig"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportMapping.transformationConfig"
            >Transformation Config</label
          >
          <textarea
            class="form-control"
            name="transformationConfig"
            id="field_transformationConfig"
            data-cy="transformationConfig"
            formControlName="transformationConfig"
          ></textarea>
        </div>

        @let isRequiredRef = editForm.get('isRequired')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_isRequired"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportMapping.isRequired"
            >Is Required</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isRequired"
            id="field_isRequired"
            data-cy="isRequired"
            formControlName="isRequired"
          />
          @if (isRequiredRef.invalid && (isRequiredRef.dirty || isRequiredRef.touched)) {
            <div>
              @if (editForm.get('isRequired')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let defaultValueRef = editForm.get('defaultValue')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_defaultValue"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportMapping.defaultValue"
            >Default Value</label
          >
          <input
            type="text"
            class="form-control"
            name="defaultValue"
            id="field_defaultValue"
            data-cy="defaultValue"
            formControlName="defaultValue"
          />
          @if (defaultValueRef.invalid && (defaultValueRef.dirty || defaultValueRef.touched)) {
            <div>
              @if (editForm.get('defaultValue')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let validationRegexRef = editForm.get('validationRegex')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_validationRegex"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportMapping.validationRegex"
            >Validation Regex</label
          >
          <input
            type="text"
            class="form-control"
            name="validationRegex"
            id="field_validationRegex"
            data-cy="validationRegex"
            formControlName="validationRegex"
          />
          @if (validationRegexRef.invalid && (validationRegexRef.dirty || validationRegexRef.touched)) {
            <div>
              @if (editForm.get('validationRegex')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rule" jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportMapping.rule"
            >Rule</label
          >
          <select
            class="form-control"
            id="field_rule"
            data-cy="rule"
            name="rule"
            formControlName="rule"
            [compareWith]="compareEmailImportImportRule"
          >
            <option [ngValue]="null"></option>
            @for (emailImportImportRuleOption of emailImportImportRulesSharedCollection; track $index) {
              <option [ngValue]="emailImportImportRuleOption">{{ emailImportImportRuleOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
