<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (metaSmartFolder(); as metaSmartFolderRef) {
      <div>
        <h2 data-cy="metaSmartFolderDetailsHeading">
          <span jhiTranslate="gatewayApp.documentServiceMetaSmartFolder.detail.title">Meta Smart Folder</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ metaSmartFolderRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceMetaSmartFolder.name">Name</span></dt>
          <dd>
            <span>{{ metaSmartFolderRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceMetaSmartFolder.queryJson">Query Json</span></dt>
          <dd>
            <span>{{ metaSmartFolderRef.queryJson }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceMetaSmartFolder.autoRefresh">Auto Refresh</span></dt>
          <dd>
            <span>{{ metaSmartFolderRef.autoRefresh }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceMetaSmartFolder.isPublic">Is Public</span></dt>
          <dd>
            <span>{{ metaSmartFolderRef.isPublic }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceMetaSmartFolder.createdBy">Created By</span></dt>
          <dd>
            <span>{{ metaSmartFolderRef.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceMetaSmartFolder.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ metaSmartFolderRef.createdDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/meta-smart-folder', metaSmartFolderRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
