<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (archiveDocument(); as archiveDocumentRef) {
      <div>
        <h2 data-cy="archiveDocumentDetailsHeading">
          <span jhiTranslate="gatewayApp.archiveServiceArchiveDocument.detail.title">Archive Document</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ archiveDocumentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.archiveServiceArchiveDocument.archiveJobId">Archive Job Id</span></dt>
          <dd>
            <span>{{ archiveDocumentRef.archiveJobId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.archiveServiceArchiveDocument.documentId">Document Id</span></dt>
          <dd>
            <span>{{ archiveDocumentRef.documentId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.archiveServiceArchiveDocument.documentSha256">Document Sha 256</span></dt>
          <dd>
            <span>{{ archiveDocumentRef.documentSha256 }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.archiveServiceArchiveDocument.originalPath">Original Path</span></dt>
          <dd>
            <span>{{ archiveDocumentRef.originalPath }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.archiveServiceArchiveDocument.archivePath">Archive Path</span></dt>
          <dd>
            <span>{{ archiveDocumentRef.archivePath }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.archiveServiceArchiveDocument.fileSize">File Size</span></dt>
          <dd>
            <span>{{ archiveDocumentRef.fileSize }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.archiveServiceArchiveDocument.addedDate">Added Date</span></dt>
          <dd>
            <span>{{ archiveDocumentRef.addedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.archiveServiceArchiveDocument.archiveJob">Archive Job</span></dt>
          <dd>
            @if (archiveDocument()!.archiveJob) {
              <div>
                <a [routerLink]="['/archive-job', archiveDocument()!.archiveJob?.id, 'view']">{{ archiveDocumentRef.archiveJob?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/archive-document', archiveDocumentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
