<div>
  <h2 id="page-heading" data-cy="DocumentWatchHeading">
    <span jhiTranslate="gatewayApp.monitoringServiceDocumentWatch.home.title">Document Watches</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.monitoringServiceDocumentWatch.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-document-watch"
        [routerLink]="['/document-watch/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gatewayApp.monitoringServiceDocumentWatch.home.createLabel">Create a new Document Watch</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (documentWatches().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.monitoringServiceDocumentWatch.home.notFound">No Document Watches found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="documentId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceDocumentWatch.documentId">Document Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="userId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceDocumentWatch.userId">User Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="watchType">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceDocumentWatch.watchType">Watch Type</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="notifyOnView">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceDocumentWatch.notifyOnView">Notify On View</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="notifyOnDownload">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceDocumentWatch.notifyOnDownload">Notify On Download</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="notifyOnModify">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceDocumentWatch.notifyOnModify">Notify On Modify</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="notifyOnShare">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceDocumentWatch.notifyOnShare">Notify On Share</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="notifyOnDelete">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceDocumentWatch.notifyOnDelete">Notify On Delete</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceDocumentWatch.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (documentWatch of documentWatches(); track trackId(documentWatch)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/document-watch', documentWatch.id, 'view']">{{ documentWatch.id }}</a>
              </td>
              <td>{{ documentWatch.documentId }}</td>
              <td>{{ documentWatch.userId }}</td>
              <td [jhiTranslate]="'gatewayApp.WatchType.' + (documentWatch.watchType ?? 'null')">
                {{
                  { null: '', AUTHOR: 'AUTHOR', REVIEWER: 'REVIEWER', AUDITOR: 'AUDITOR', STAKEHOLDER: 'STAKEHOLDER', CUSTOM: 'CUSTOM' }[
                    documentWatch.watchType ?? 'null'
                  ]
                }}
              </td>
              <td>{{ documentWatch.notifyOnView }}</td>
              <td>{{ documentWatch.notifyOnDownload }}</td>
              <td>{{ documentWatch.notifyOnModify }}</td>
              <td>{{ documentWatch.notifyOnShare }}</td>
              <td>{{ documentWatch.notifyOnDelete }}</td>
              <td>{{ documentWatch.createdDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/document-watch', documentWatch.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/document-watch', documentWatch.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(documentWatch)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (documentWatches().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
