<div>
  <h2 id="page-heading" data-cy="MonitoringSystemHealthHeading">
    <span jhiTranslate="gatewayApp.monitoringServiceMonitoringSystemHealth.home.title">Monitoring System Healths</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.monitoringServiceMonitoringSystemHealth.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-monitoring-system-health"
        [routerLink]="['/monitoring-system-health/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.monitoringServiceMonitoringSystemHealth.home.createLabel"
          >Create a new Monitoring System Health</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.monitoringServiceMonitoringSystemHealth.home.search"
          >Search for Monitoring System Health</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.monitoringServiceMonitoringSystemHealth.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (monitoringSystemHealths().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.monitoringServiceMonitoringSystemHealth.home.notFound">No Monitoring System Healths found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="serviceName">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringSystemHealth.serviceName">Service Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringSystemHealth.status">Status</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="version">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringSystemHealth.version">Version</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="uptime">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringSystemHealth.uptime">Uptime</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cpuUsage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringSystemHealth.cpuUsage">Cpu Usage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="memoryUsage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringSystemHealth.memoryUsage">Memory Usage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="errorRate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringSystemHealth.errorRate">Error Rate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastCheck">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.monitoringServiceMonitoringSystemHealth.lastCheck">Last Check</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (monitoringSystemHealth of monitoringSystemHealths(); track trackId(monitoringSystemHealth)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/monitoring-system-health', monitoringSystemHealth.id, 'view']">{{ monitoringSystemHealth.id }}</a>
              </td>
              <td>{{ monitoringSystemHealth.serviceName }}</td>
              <td [jhiTranslate]="'gatewayApp.HealthStatus.' + (monitoringSystemHealth.status ?? 'null')">
                {{
                  { null: '', HEALTHY: 'HEALTHY', DEGRADED: 'DEGRADED', UNHEALTHY: 'UNHEALTHY', UNKNOWN: 'UNKNOWN' }[
                    monitoringSystemHealth.status ?? 'null'
                  ]
                }}
              </td>
              <td>{{ monitoringSystemHealth.version }}</td>
              <td>{{ monitoringSystemHealth.uptime }}</td>
              <td>{{ monitoringSystemHealth.cpuUsage }}</td>
              <td>{{ monitoringSystemHealth.memoryUsage }}</td>
              <td>{{ monitoringSystemHealth.errorRate }}</td>
              <td>{{ monitoringSystemHealth.lastCheck | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/monitoring-system-health', monitoringSystemHealth.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/monitoring-system-health', monitoringSystemHealth.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(monitoringSystemHealth)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
