<div>
  <h2 id="page-heading" data-cy="WebhookLogHeading">
    <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.home.title">Webhook Logs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-webhook-log"
        [routerLink]="['/webhook-log/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.home.createLabel">Create a new Webhook Log</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (webhookLogs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.home.notFound">No Webhook Logs found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="subscriptionId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.subscriptionId">Subscription Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="eventType">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.eventType">Event Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="payload">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.payload">Payload</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="responseStatus">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.responseStatus">Response Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="responseBody">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.responseBody">Response Body</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="responseTime">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.responseTime">Response Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="attemptNumber">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.attemptNumber">Attempt Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isSuccess">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.isSuccess">Is Success</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="errorMessage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.errorMessage">Error Message</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sentDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.sentDate">Sent Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="subscription.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.subscription">Subscription</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (webhookLog of webhookLogs(); track trackId(webhookLog)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/webhook-log', webhookLog.id, 'view']">{{ webhookLog.id }}</a>
              </td>
              <td>{{ webhookLog.subscriptionId }}</td>
              <td>{{ webhookLog.eventType }}</td>
              <td>{{ webhookLog.payload }}</td>
              <td>{{ webhookLog.responseStatus }}</td>
              <td>{{ webhookLog.responseBody }}</td>
              <td>{{ webhookLog.responseTime }}</td>
              <td>{{ webhookLog.attemptNumber }}</td>
              <td>{{ webhookLog.isSuccess }}</td>
              <td>{{ webhookLog.errorMessage }}</td>
              <td>{{ webhookLog.sentDate | formatMediumDatetime }}</td>
              <td>
                @if (webhookLog.subscription) {
                  <div>
                    <a [routerLink]="['/webhook-subscription', webhookLog.subscription.id, 'view']">{{ webhookLog.subscription.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/webhook-log', webhookLog.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/webhook-log', webhookLog.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(webhookLog)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (webhookLogs().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
