<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (workflowStep(); as workflowStepRef) {
      <div>
        <h2 data-cy="workflowStepDetailsHeading">
          <span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.detail.title">Workflow Step</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ workflowStepRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.stepNumber">Step Number</span></dt>
          <dd>
            <span>{{ workflowStepRef.stepNumber }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.name">Name</span></dt>
          <dd>
            <span>{{ workflowStepRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.description">Description</span></dt>
          <dd>
            <span>{{ workflowStepRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.stepType">Step Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.WorkflowStepType.' + (workflowStepRef.stepType ?? 'null')">{{
              { null: '', APPROVAL: 'APPROVAL', REVIEW: 'REVIEW', SIGNATURE: 'SIGNATURE', NOTIFICATION: 'NOTIFICATION', CUSTOM: 'CUSTOM' }[
                workflowStepRef.stepType ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.assigneeType">Assignee Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.AssigneeType.' + (workflowStepRef.assigneeType ?? 'null')">{{
              { null: '', USER: 'USER', GROUP: 'GROUP', ROLE: 'ROLE', DYNAMIC: 'DYNAMIC' }[workflowStepRef.assigneeType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.assigneeId">Assignee Id</span></dt>
          <dd>
            <span>{{ workflowStepRef.assigneeId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.assigneeGroup">Assignee Group</span></dt>
          <dd>
            <span>{{ workflowStepRef.assigneeGroup }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.dueInDays">Due In Days</span></dt>
          <dd>
            <span>{{ workflowStepRef.dueInDays }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.isRequired">Is Required</span></dt>
          <dd>
            <span>{{ workflowStepRef.isRequired }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.canDelegate">Can Delegate</span></dt>
          <dd>
            <span>{{ workflowStepRef.canDelegate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.canReject">Can Reject</span></dt>
          <dd>
            <span>{{ workflowStepRef.canReject }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.configuration">Configuration</span></dt>
          <dd>
            <span>{{ workflowStepRef.configuration }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.workflowServiceWorkflowStep.workflow">Workflow</span></dt>
          <dd>
            @if (workflowStep()!.workflow) {
              <div>
                <a [routerLink]="['/workflow', workflowStep()!.workflow?.id, 'view']">{{ workflowStepRef.workflow?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/workflow-step', workflowStepRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
