<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-comparison-job-heading"
        data-cy="ComparisonJobCreateUpdateHeading"
        jhiTranslate="gatewayApp.transformServiceComparisonJob.home.createOrEditLabel"
      >
        Create or edit a Comparison Job
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.transformServiceComparisonJob.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentId1Ref = editForm.get('documentId1')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentId1" jhiTranslate="gatewayApp.transformServiceComparisonJob.documentId1"
            >Document Id 1</label
          >
          <input
            type="number"
            class="form-control"
            name="documentId1"
            id="field_documentId1"
            data-cy="documentId1"
            formControlName="documentId1"
          />
          @if (documentId1Ref.invalid && (documentId1Ref.dirty || documentId1Ref.touched)) {
            <div>
              @if (editForm.get('documentId1')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('documentId1')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let documentId2Ref = editForm.get('documentId2')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentId2" jhiTranslate="gatewayApp.transformServiceComparisonJob.documentId2"
            >Document Id 2</label
          >
          <input
            type="number"
            class="form-control"
            name="documentId2"
            id="field_documentId2"
            data-cy="documentId2"
            formControlName="documentId2"
          />
          @if (documentId2Ref.invalid && (documentId2Ref.dirty || documentId2Ref.touched)) {
            <div>
              @if (editForm.get('documentId2')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('documentId2')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let comparisonTypeRef = editForm.get('comparisonType')!;
        <div class="mb-3">
          <label class="form-label" for="field_comparisonType" jhiTranslate="gatewayApp.transformServiceComparisonJob.comparisonType"
            >Comparison Type</label
          >
          <select
            class="form-control"
            name="comparisonType"
            formControlName="comparisonType"
            id="field_comparisonType"
            data-cy="comparisonType"
          >
            <option [ngValue]="null">{{ 'gatewayApp.ComparisonType.null' | translate }}</option>
            @for (comparisonType of comparisonTypeValues; track $index) {
              <option [value]="comparisonType">{{ 'gatewayApp.ComparisonType.' + comparisonType | translate }}</option>
            }
          </select>
          @if (comparisonTypeRef.invalid && (comparisonTypeRef.dirty || comparisonTypeRef.touched)) {
            <div>
              @if (editForm.get('comparisonType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_differences" jhiTranslate="gatewayApp.transformServiceComparisonJob.differences"
            >Differences</label
          >
          <textarea
            class="form-control"
            name="differences"
            id="field_differences"
            data-cy="differences"
            formControlName="differences"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_differenceCount" jhiTranslate="gatewayApp.transformServiceComparisonJob.differenceCount"
            >Difference Count</label
          >
          <input
            type="number"
            class="form-control"
            name="differenceCount"
            id="field_differenceCount"
            data-cy="differenceCount"
            formControlName="differenceCount"
          />
        </div>

        @let similarityPercentageRef = editForm.get('similarityPercentage')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_similarityPercentage"
            jhiTranslate="gatewayApp.transformServiceComparisonJob.similarityPercentage"
            >Similarity Percentage</label
          >
          <input
            type="number"
            class="form-control"
            name="similarityPercentage"
            id="field_similarityPercentage"
            data-cy="similarityPercentage"
            formControlName="similarityPercentage"
          />
          @if (similarityPercentageRef.invalid && (similarityPercentageRef.dirty || similarityPercentageRef.touched)) {
            <div>
              @if (editForm.get('similarityPercentage')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              @if (editForm.get('similarityPercentage')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '100' }"
                  >This field cannot be more than 100.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('similarityPercentage')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let diffReportS3KeyRef = editForm.get('diffReportS3Key')!;
        <div class="mb-3">
          <label class="form-label" for="field_diffReportS3Key" jhiTranslate="gatewayApp.transformServiceComparisonJob.diffReportS3Key"
            >Diff Report S 3 Key</label
          >
          <input
            type="text"
            class="form-control"
            name="diffReportS3Key"
            id="field_diffReportS3Key"
            data-cy="diffReportS3Key"
            formControlName="diffReportS3Key"
          />
          @if (diffReportS3KeyRef.invalid && (diffReportS3KeyRef.dirty || diffReportS3KeyRef.touched)) {
            <div>
              @if (editForm.get('diffReportS3Key')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        @let diffVisualS3KeyRef = editForm.get('diffVisualS3Key')!;
        <div class="mb-3">
          <label class="form-label" for="field_diffVisualS3Key" jhiTranslate="gatewayApp.transformServiceComparisonJob.diffVisualS3Key"
            >Diff Visual S 3 Key</label
          >
          <input
            type="text"
            class="form-control"
            name="diffVisualS3Key"
            id="field_diffVisualS3Key"
            data-cy="diffVisualS3Key"
            formControlName="diffVisualS3Key"
          />
          @if (diffVisualS3KeyRef.invalid && (diffVisualS3KeyRef.dirty || diffVisualS3KeyRef.touched)) {
            <div>
              @if (editForm.get('diffVisualS3Key')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="gatewayApp.transformServiceComparisonJob.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.TransformStatus.null' | translate }}</option>
            @for (transformStatus of transformStatusValues; track $index) {
              <option [value]="transformStatus">{{ 'gatewayApp.TransformStatus.' + transformStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let comparedDateRef = editForm.get('comparedDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_comparedDate" jhiTranslate="gatewayApp.transformServiceComparisonJob.comparedDate"
            >Compared Date</label
          >
          <div class="d-flex">
            <input
              id="field_comparedDate"
              data-cy="comparedDate"
              type="datetime-local"
              class="form-control"
              name="comparedDate"
              formControlName="comparedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (comparedDateRef.invalid && (comparedDateRef.dirty || comparedDateRef.touched)) {
            <div>
              @if (editForm.get('comparedDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('comparedDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let comparedByRef = editForm.get('comparedBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_comparedBy" jhiTranslate="gatewayApp.transformServiceComparisonJob.comparedBy"
            >Compared By</label
          >
          <input
            type="text"
            class="form-control"
            name="comparedBy"
            id="field_comparedBy"
            data-cy="comparedBy"
            formControlName="comparedBy"
          />
          @if (comparedByRef.invalid && (comparedByRef.dirty || comparedByRef.touched)) {
            <div>
              @if (editForm.get('comparedBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('comparedBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
