<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (manualChapter(); as manualChapterRef) {
      <div>
        <h2 data-cy="manualChapterDetailsHeading">
          <span jhiTranslate="gatewayApp.businessDocServiceManualChapter.detail.title">Manual Chapter</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ manualChapterRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceManualChapter.manualId">Manual Id</span></dt>
          <dd>
            <span>{{ manualChapterRef.manualId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceManualChapter.chapterNumber">Chapter Number</span></dt>
          <dd>
            <span>{{ manualChapterRef.chapterNumber }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceManualChapter.title">Title</span></dt>
          <dd>
            <span>{{ manualChapterRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceManualChapter.content">Content</span></dt>
          <dd>
            <span>{{ manualChapterRef.content }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceManualChapter.pageStart">Page Start</span></dt>
          <dd>
            <span>{{ manualChapterRef.pageStart }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceManualChapter.pageEnd">Page End</span></dt>
          <dd>
            <span>{{ manualChapterRef.pageEnd }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceManualChapter.level">Level</span></dt>
          <dd>
            <span>{{ manualChapterRef.level }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceManualChapter.displayOrder">Display Order</span></dt>
          <dd>
            <span>{{ manualChapterRef.displayOrder }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceManualChapter.manual">Manual</span></dt>
          <dd>
            @if (manualChapter()!.manual) {
              <div>
                <a [routerLink]="['/manual', manualChapter()!.manual?.id, 'view']">{{ manualChapterRef.manual?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceManualChapter.parentChapter">Parent Chapter</span></dt>
          <dd>
            @if (manualChapter()!.parentChapter) {
              <div>
                <a [routerLink]="['/manual-chapter', manualChapter()!.parentChapter?.id, 'view']">{{
                  manualChapterRef.parentChapter?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/manual-chapter', manualChapterRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
