<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ocr-comparison-heading"
        data-cy="OcrComparisonCreateUpdateHeading"
        jhiTranslate="gatewayApp.ocrServiceOcrComparison.home.createOrEditLabel"
      >
        Create or edit a Ocr Comparison
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.ocrServiceOcrComparison.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentIdRef = editForm.get('documentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentId" jhiTranslate="gatewayApp.ocrServiceOcrComparison.documentId">Document Id</label>
          <input
            type="number"
            class="form-control"
            name="documentId"
            id="field_documentId"
            data-cy="documentId"
            formControlName="documentId"
          />
          @if (documentIdRef.invalid && (documentIdRef.dirty || documentIdRef.touched)) {
            <div>
              @if (editForm.get('documentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('documentId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let documentSha256Ref = editForm.get('documentSha256')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentSha256" jhiTranslate="gatewayApp.ocrServiceOcrComparison.documentSha256"
            >Document Sha 256</label
          >
          <input
            type="text"
            class="form-control"
            name="documentSha256"
            id="field_documentSha256"
            data-cy="documentSha256"
            formControlName="documentSha256"
          />
          @if (documentSha256Ref.invalid && (documentSha256Ref.dirty || documentSha256Ref.touched)) {
            <div>
              @if (editForm.get('documentSha256')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('documentSha256')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        @let pageNumberRef = editForm.get('pageNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_pageNumber" jhiTranslate="gatewayApp.ocrServiceOcrComparison.pageNumber">Page Number</label>
          <input
            type="number"
            class="form-control"
            name="pageNumber"
            id="field_pageNumber"
            data-cy="pageNumber"
            formControlName="pageNumber"
          />
          @if (pageNumberRef.invalid && (pageNumberRef.dirty || pageNumberRef.touched)) {
            <div>
              @if (editForm.get('pageNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('pageNumber')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tikaText" jhiTranslate="gatewayApp.ocrServiceOcrComparison.tikaText">Tika Text</label>
          <textarea class="form-control" name="tikaText" id="field_tikaText" data-cy="tikaText" formControlName="tikaText"></textarea>
        </div>

        @let tikaConfidenceRef = editForm.get('tikaConfidence')!;
        <div class="mb-3">
          <label class="form-label" for="field_tikaConfidence" jhiTranslate="gatewayApp.ocrServiceOcrComparison.tikaConfidence"
            >Tika Confidence</label
          >
          <input
            type="number"
            class="form-control"
            name="tikaConfidence"
            id="field_tikaConfidence"
            data-cy="tikaConfidence"
            formControlName="tikaConfidence"
          />
          @if (tikaConfidenceRef.invalid && (tikaConfidenceRef.dirty || tikaConfidenceRef.touched)) {
            <div>
              @if (editForm.get('tikaConfidence')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              @if (editForm.get('tikaConfidence')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '1' }"
                  >This field cannot be more than 1.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('tikaConfidence')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_aiText" jhiTranslate="gatewayApp.ocrServiceOcrComparison.aiText">Ai Text</label>
          <textarea class="form-control" name="aiText" id="field_aiText" data-cy="aiText" formControlName="aiText"></textarea>
        </div>

        @let aiConfidenceRef = editForm.get('aiConfidence')!;
        <div class="mb-3">
          <label class="form-label" for="field_aiConfidence" jhiTranslate="gatewayApp.ocrServiceOcrComparison.aiConfidence"
            >Ai Confidence</label
          >
          <input
            type="number"
            class="form-control"
            name="aiConfidence"
            id="field_aiConfidence"
            data-cy="aiConfidence"
            formControlName="aiConfidence"
          />
          @if (aiConfidenceRef.invalid && (aiConfidenceRef.dirty || aiConfidenceRef.touched)) {
            <div>
              @if (editForm.get('aiConfidence')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              @if (editForm.get('aiConfidence')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '1' }"
                  >This field cannot be more than 1.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('aiConfidence')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let similarityRef = editForm.get('similarity')!;
        <div class="mb-3">
          <label class="form-label" for="field_similarity" jhiTranslate="gatewayApp.ocrServiceOcrComparison.similarity">Similarity</label>
          <input
            type="number"
            class="form-control"
            name="similarity"
            id="field_similarity"
            data-cy="similarity"
            formControlName="similarity"
          />
          @if (similarityRef.invalid && (similarityRef.dirty || similarityRef.touched)) {
            <div>
              @if (editForm.get('similarity')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              @if (editForm.get('similarity')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '1' }"
                  >This field cannot be more than 1.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('similarity')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_differences" jhiTranslate="gatewayApp.ocrServiceOcrComparison.differences"
            >Differences</label
          >
          <textarea
            class="form-control"
            name="differences"
            id="field_differences"
            data-cy="differences"
            formControlName="differences"
          ></textarea>
        </div>

        @let differencesS3KeyRef = editForm.get('differencesS3Key')!;
        <div class="mb-3">
          <label class="form-label" for="field_differencesS3Key" jhiTranslate="gatewayApp.ocrServiceOcrComparison.differencesS3Key"
            >Differences S 3 Key</label
          >
          <input
            type="text"
            class="form-control"
            name="differencesS3Key"
            id="field_differencesS3Key"
            data-cy="differencesS3Key"
            formControlName="differencesS3Key"
          />
          @if (differencesS3KeyRef.invalid && (differencesS3KeyRef.dirty || differencesS3KeyRef.touched)) {
            <div>
              @if (editForm.get('differencesS3Key')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_selectedEngine" jhiTranslate="gatewayApp.ocrServiceOcrComparison.selectedEngine"
            >Selected Engine</label
          >
          <select
            class="form-control"
            name="selectedEngine"
            formControlName="selectedEngine"
            id="field_selectedEngine"
            data-cy="selectedEngine"
          >
            <option [ngValue]="null">{{ 'gatewayApp.OcrEngine.null' | translate }}</option>
            @for (ocrEngine of ocrEngineValues; track $index) {
              <option [value]="ocrEngine">{{ 'gatewayApp.OcrEngine.' + ocrEngine | translate }}</option>
            }
          </select>
        </div>

        @let selectedByRef = editForm.get('selectedBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_selectedBy" jhiTranslate="gatewayApp.ocrServiceOcrComparison.selectedBy">Selected By</label>
          <input
            type="text"
            class="form-control"
            name="selectedBy"
            id="field_selectedBy"
            data-cy="selectedBy"
            formControlName="selectedBy"
          />
          @if (selectedByRef.invalid && (selectedByRef.dirty || selectedByRef.touched)) {
            <div>
              @if (editForm.get('selectedBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_selectedDate" jhiTranslate="gatewayApp.ocrServiceOcrComparison.selectedDate"
            >Selected Date</label
          >
          <div class="d-flex">
            <input
              id="field_selectedDate"
              data-cy="selectedDate"
              type="datetime-local"
              class="form-control"
              name="selectedDate"
              formControlName="selectedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let comparisonDateRef = editForm.get('comparisonDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_comparisonDate" jhiTranslate="gatewayApp.ocrServiceOcrComparison.comparisonDate"
            >Comparison Date</label
          >
          <div class="d-flex">
            <input
              id="field_comparisonDate"
              data-cy="comparisonDate"
              type="datetime-local"
              class="form-control"
              name="comparisonDate"
              formControlName="comparisonDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (comparisonDateRef.invalid && (comparisonDateRef.dirty || comparisonDateRef.touched)) {
            <div>
              @if (editForm.get('comparisonDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('comparisonDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_metadata" jhiTranslate="gatewayApp.ocrServiceOcrComparison.metadata">Metadata</label>
          <textarea class="form-control" name="metadata" id="field_metadata" data-cy="metadata" formControlName="metadata"></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
