<div>
  <h2 id="page-heading" data-cy="BankStatementHeading">
    <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.home.title">Bank Statements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bank-statement"
        [routerLink]="['/bank-statement/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.home.createLabel">Create a new Bank Statement</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (bankStatements().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.home.notFound">No Bank Statements found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="documentId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.documentId">Document Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="accountNumber">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.accountNumber">Account Number</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="bankName">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.bankName">Bank Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="statementDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.statementDate">Statement Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="statementPeriodStart">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.statementPeriodStart">Statement Period Start</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="statementPeriodEnd">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.statementPeriodEnd">Statement Period End</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="openingBalance">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.openingBalance">Opening Balance</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="closingBalance">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.closingBalance">Closing Balance</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="currency">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.currency">Currency</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.status">Status</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="isReconciled">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.isReconciled">Is Reconciled</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceBankStatement.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (bankStatement of bankStatements(); track trackId(bankStatement)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/bank-statement', bankStatement.id, 'view']">{{ bankStatement.id }}</a>
              </td>
              <td>{{ bankStatement.documentId }}</td>
              <td>{{ bankStatement.accountNumber }}</td>
              <td>{{ bankStatement.bankName }}</td>
              <td>{{ bankStatement.statementDate | formatMediumDate }}</td>
              <td>{{ bankStatement.statementPeriodStart | formatMediumDate }}</td>
              <td>{{ bankStatement.statementPeriodEnd | formatMediumDate }}</td>
              <td>{{ bankStatement.openingBalance }}</td>
              <td>{{ bankStatement.closingBalance }}</td>
              <td>{{ bankStatement.currency }}</td>
              <td [jhiTranslate]="'gatewayApp.StatementStatus.' + (bankStatement.status ?? 'null')">
                {{
                  { null: '', DRAFT: 'DRAFT', PENDING: 'PENDING', PROCESSED: 'PROCESSED', RECONCILED: 'RECONCILED', ARCHIVED: 'ARCHIVED' }[
                    bankStatement.status ?? 'null'
                  ]
                }}
              </td>
              <td>{{ bankStatement.isReconciled }}</td>
              <td>{{ bankStatement.createdDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/bank-statement', bankStatement.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/bank-statement', bankStatement.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(bankStatement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (bankStatements().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
