<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-monitoring-service-status-heading"
        data-cy="MonitoringServiceStatusCreateUpdateHeading"
        jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.home.createOrEditLabel"
      >
        Create or edit a Monitoring Service Status
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let serviceNameRef = editForm.get('serviceName')!;
        <div class="mb-3">
          <label class="form-label" for="field_serviceName" jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.serviceName"
            >Service Name</label
          >
          <input
            type="text"
            class="form-control"
            name="serviceName"
            id="field_serviceName"
            data-cy="serviceName"
            formControlName="serviceName"
          />
          @if (serviceNameRef.invalid && (serviceNameRef.dirty || serviceNameRef.touched)) {
            <div>
              @if (editForm.get('serviceName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('serviceName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let serviceTypeRef = editForm.get('serviceType')!;
        <div class="mb-3">
          <label class="form-label" for="field_serviceType" jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.serviceType"
            >Service Type</label
          >
          <input
            type="text"
            class="form-control"
            name="serviceType"
            id="field_serviceType"
            data-cy="serviceType"
            formControlName="serviceType"
          />
          @if (serviceTypeRef.invalid && (serviceTypeRef.dirty || serviceTypeRef.touched)) {
            <div>
              @if (editForm.get('serviceType')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.status"
            >Status</label
          >
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.MonitoringServiceStatusType.null' | translate }}</option>
            @for (monitoringServiceStatusType of monitoringServiceStatusTypeValues; track $index) {
              <option [value]="monitoringServiceStatusType">
                {{ 'gatewayApp.MonitoringServiceStatusType.' + monitoringServiceStatusType | translate }}
              </option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let endpointRef = editForm.get('endpoint')!;
        <div class="mb-3">
          <label class="form-label" for="field_endpoint" jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.endpoint"
            >Endpoint</label
          >
          <input type="text" class="form-control" name="endpoint" id="field_endpoint" data-cy="endpoint" formControlName="endpoint" />
          @if (endpointRef.invalid && (endpointRef.dirty || endpointRef.touched)) {
            <div>
              @if (editForm.get('endpoint')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_port" jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.port">Port</label>
          <input type="number" class="form-control" name="port" id="field_port" data-cy="port" formControlName="port" />
        </div>

        @let versionRef = editForm.get('version')!;
        <div class="mb-3">
          <label class="form-label" for="field_version" jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.version"
            >Version</label
          >
          <input type="text" class="form-control" name="version" id="field_version" data-cy="version" formControlName="version" />
          @if (versionRef.invalid && (versionRef.dirty || versionRef.touched)) {
            <div>
              @if (editForm.get('version')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastPing" jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.lastPing"
            >Last Ping</label
          >
          <div class="d-flex">
            <input
              id="field_lastPing"
              data-cy="lastPing"
              type="datetime-local"
              class="form-control"
              name="lastPing"
              formControlName="lastPing"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let isHealthyRef = editForm.get('isHealthy')!;
        <div class="mb-3">
          <label class="form-label" for="field_isHealthy" jhiTranslate="gatewayApp.monitoringServiceMonitoringServiceStatus.isHealthy"
            >Is Healthy</label
          >
          <input type="checkbox" class="form-check" name="isHealthy" id="field_isHealthy" data-cy="isHealthy" formControlName="isHealthy" />
          @if (isHealthyRef.invalid && (isHealthyRef.dirty || isHealthyRef.touched)) {
            <div>
              @if (editForm.get('isHealthy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
