<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (emailAttachment(); as emailAttachmentRef) {
      <div>
        <h2 data-cy="emailAttachmentDetailsHeading">
          <span jhiTranslate="gatewayApp.emailImportServiceEmailAttachment.detail.title">Email Attachment</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ emailAttachmentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceEmailAttachment.emailImportId">Email Import Id</span></dt>
          <dd>
            <span>{{ emailAttachmentRef.emailImportId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceEmailAttachment.fileName">File Name</span></dt>
          <dd>
            <span>{{ emailAttachmentRef.fileName }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceEmailAttachment.fileSize">File Size</span></dt>
          <dd>
            <span>{{ emailAttachmentRef.fileSize }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceEmailAttachment.mimeType">Mime Type</span></dt>
          <dd>
            <span>{{ emailAttachmentRef.mimeType }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceEmailAttachment.sha256">Sha 256</span></dt>
          <dd>
            <span>{{ emailAttachmentRef.sha256 }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceEmailAttachment.s3Key">S 3 Key</span></dt>
          <dd>
            <span>{{ emailAttachmentRef.s3Key }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceEmailAttachment.documentId">Document Id</span></dt>
          <dd>
            <span>{{ emailAttachmentRef.documentId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceEmailAttachment.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.AttachmentStatus.' + (emailAttachmentRef.status ?? 'null')">{{
              { null: '', PENDING: 'PENDING', PROCESSING: 'PROCESSING', IMPORTED: 'IMPORTED', SKIPPED: 'SKIPPED', FAILED: 'FAILED' }[
                emailAttachmentRef.status ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceEmailAttachment.errorMessage">Error Message</span></dt>
          <dd>
            <span>{{ emailAttachmentRef.errorMessage }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.emailImportServiceEmailAttachment.emailImport">Email Import</span></dt>
          <dd>
            @if (emailAttachment()!.emailImport) {
              <div>
                <a [routerLink]="['/email-import', emailAttachment()!.emailImport?.id, 'view']">{{ emailAttachmentRef.emailImport?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/email-attachment', emailAttachmentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
