<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (extractedField(); as extractedFieldRef) {
      <div>
        <h2 data-cy="extractedFieldDetailsHeading">
          <span jhiTranslate="gatewayApp.documentServiceExtractedField.detail.title">Extracted Field</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ extractedFieldRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceExtractedField.documentId">Document Id</span></dt>
          <dd>
            <span>{{ extractedFieldRef.documentId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceExtractedField.fieldKey">Field Key</span></dt>
          <dd>
            <span>{{ extractedFieldRef.fieldKey }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceExtractedField.fieldValue">Field Value</span></dt>
          <dd>
            <span>{{ extractedFieldRef.fieldValue }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceExtractedField.confidence">Confidence</span></dt>
          <dd>
            <span>{{ extractedFieldRef.confidence }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceExtractedField.extractionMethod">Extraction Method</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.ExtractionMethod.' + (extractedFieldRef.extractionMethod ?? 'null')">{{
              {
                null: '',
                OCR: 'OCR',
                NLP: 'NLP',
                REGEX: 'REGEX',
                MANUAL: 'MANUAL',
                AI_MODEL: 'AI_MODEL',
                TEMPLATE_MATCHING: 'TEMPLATE_MATCHING',
                BARCODE: 'BARCODE',
                QR_CODE: 'QR_CODE',
              }[extractedFieldRef.extractionMethod ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceExtractedField.isVerified">Is Verified</span></dt>
          <dd>
            <span>{{ extractedFieldRef.isVerified }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceExtractedField.extractedDate">Extracted Date</span></dt>
          <dd>
            <span>{{ extractedFieldRef.extractedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/extracted-field', extractedFieldRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
