<div>
  <h2 id="page-heading" data-cy="ContractClauseHeading">
    <span jhiTranslate="gatewayApp.businessDocServiceContractClause.home.title">Contract Clauses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.businessDocServiceContractClause.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contract-clause"
        [routerLink]="['/contract-clause/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gatewayApp.businessDocServiceContractClause.home.createLabel">Create a new Contract Clause</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (contractClauses().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.businessDocServiceContractClause.home.notFound">No Contract Clauses found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="contractId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceContractClause.contractId">Contract Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="clauseNumber">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceContractClause.clauseNumber">Clause Number</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceContractClause.title">Title</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="content">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceContractClause.content">Content</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="clauseType">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceContractClause.clauseType">Clause Type</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="isMandatory">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceContractClause.isMandatory">Is Mandatory</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="contract.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceContractClause.contract">Contract</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (contractClause of contractClauses(); track trackId(contractClause)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/contract-clause', contractClause.id, 'view']">{{ contractClause.id }}</a>
              </td>
              <td>{{ contractClause.contractId }}</td>
              <td>{{ contractClause.clauseNumber }}</td>
              <td>{{ contractClause.title }}</td>
              <td>{{ contractClause.content }}</td>
              <td [jhiTranslate]="'gatewayApp.ClauseType.' + (contractClause.clauseType ?? 'null')">
                {{
                  {
                    null: '',
                    GENERAL: 'GENERAL',
                    PAYMENT: 'PAYMENT',
                    TERMINATION: 'TERMINATION',
                    CONFIDENTIALITY: 'CONFIDENTIALITY',
                    LIABILITY: 'LIABILITY',
                    DISPUTE_RESOLUTION: 'DISPUTE_RESOLUTION',
                    INTELLECTUAL_PROPERTY: 'INTELLECTUAL_PROPERTY',
                    WARRANTY: 'WARRANTY',
                    FORCE_MAJEURE: 'FORCE_MAJEURE',
                    AMENDMENT: 'AMENDMENT',
                  }[contractClause.clauseType ?? 'null']
                }}
              </td>
              <td>{{ contractClause.isMandatory }}</td>
              <td>
                @if (contractClause.contract) {
                  <div>
                    <a [routerLink]="['/contract', contractClause.contract.id, 'view']">{{ contractClause.contract.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/contract-clause', contractClause.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/contract-clause', contractClause.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(contractClause)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (contractClauses().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
