<div>
  <h2 id="page-heading" data-cy="ReportingExecutionHeading">
    <span jhiTranslate="gatewayApp.reportingServiceReportingExecution.home.title">Reporting Executions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.reportingServiceReportingExecution.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reporting-execution"
        [routerLink]="['/reporting-execution/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.reportingServiceReportingExecution.home.createLabel"
          >Create a new Reporting Execution</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.reportingServiceReportingExecution.home.search"
          >Search for Reporting Execution</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.reportingServiceReportingExecution.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (reportingExecutions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.reportingServiceReportingExecution.home.notFound">No Reporting Executions found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportingExecution.status">Status</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportingExecution.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportingExecution.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="recordsProcessed">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportingExecution.recordsProcessed">Records Processed</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="outputS3Key">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportingExecution.outputS3Key">Output S 3 Key</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="outputSize">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportingExecution.outputSize">Output Size</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="errorMessage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportingExecution.errorMessage">Error Message</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="scheduledReport.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportingExecution.scheduledReport">Scheduled Report</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (reportingExecution of reportingExecutions(); track trackId(reportingExecution)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/reporting-execution', reportingExecution.id, 'view']">{{ reportingExecution.id }}</a>
              </td>
              <td [jhiTranslate]="'gatewayApp.ReportingExecutionStatus.' + (reportingExecution.status ?? 'null')">
                {{
                  { null: '', PENDING: 'PENDING', RUNNING: 'RUNNING', COMPLETED: 'COMPLETED', FAILED: 'FAILED', CANCELLED: 'CANCELLED' }[
                    reportingExecution.status ?? 'null'
                  ]
                }}
              </td>
              <td>{{ reportingExecution.startDate | formatMediumDatetime }}</td>
              <td>{{ reportingExecution.endDate | formatMediumDatetime }}</td>
              <td>{{ reportingExecution.recordsProcessed }}</td>
              <td>{{ reportingExecution.outputS3Key }}</td>
              <td>{{ reportingExecution.outputSize }}</td>
              <td>{{ reportingExecution.errorMessage }}</td>
              <td>
                @if (reportingExecution.scheduledReport) {
                  <div>
                    <a [routerLink]="['/reporting-scheduled-report', reportingExecution.scheduledReport.id, 'view']">{{
                      reportingExecution.scheduledReport.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/reporting-execution', reportingExecution.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/reporting-execution', reportingExecution.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(reportingExecution)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
