<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-email-import-import-rule-heading"
        data-cy="EmailImportImportRuleCreateUpdateHeading"
        jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.home.createOrEditLabel"
      >
        Create or edit a Email Import Import Rule
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.name"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_description"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.description"
            >Description</label
          >
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        @let priorityRef = editForm.get('priority')!;
        <div class="mb-3">
          <label class="form-label" for="field_priority" jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.priority"
            >Priority</label
          >
          <input type="number" class="form-control" name="priority" id="field_priority" data-cy="priority" formControlName="priority" />
          @if (priorityRef.invalid && (priorityRef.dirty || priorityRef.touched)) {
            <div>
              @if (editForm.get('priority')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('priority')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let isActiveRef = editForm.get('isActive')!;
        <div class="mb-3">
          <label class="form-label" for="field_isActive" jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.isActive"
            >Is Active</label
          >
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
          @if (isActiveRef.invalid && (isActiveRef.dirty || isActiveRef.touched)) {
            <div>
              @if (editForm.get('isActive')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let conditionsRef = editForm.get('conditions')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_conditions"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.conditions"
            >Conditions</label
          >
          <textarea
            class="form-control"
            name="conditions"
            id="field_conditions"
            data-cy="conditions"
            formControlName="conditions"
          ></textarea>
          @if (conditionsRef.invalid && (conditionsRef.dirty || conditionsRef.touched)) {
            <div>
              @if (editForm.get('conditions')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let actionsRef = editForm.get('actions')!;
        <div class="mb-3">
          <label class="form-label" for="field_actions" jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.actions"
            >Actions</label
          >
          <textarea class="form-control" name="actions" id="field_actions" data-cy="actions" formControlName="actions"></textarea>
          @if (actionsRef.invalid && (actionsRef.dirty || actionsRef.touched)) {
            <div>
              @if (editForm.get('actions')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_notifyUsers"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.notifyUsers"
            >Notify Users</label
          >
          <textarea
            class="form-control"
            name="notifyUsers"
            id="field_notifyUsers"
            data-cy="notifyUsers"
            formControlName="notifyUsers"
          ></textarea>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_matchCount"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.matchCount"
            >Match Count</label
          >
          <input
            type="number"
            class="form-control"
            name="matchCount"
            id="field_matchCount"
            data-cy="matchCount"
            formControlName="matchCount"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_lastMatchDate"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.lastMatchDate"
            >Last Match Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastMatchDate"
              data-cy="lastMatchDate"
              type="datetime-local"
              class="form-control"
              name="lastMatchDate"
              formControlName="lastMatchDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let createdByRef = editForm.get('createdBy')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_createdBy"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (createdByRef.invalid && (createdByRef.dirty || createdByRef.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('createdBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let createdDateRef = editForm.get('createdDate')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_createdDate"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdDateRef.invalid && (createdDateRef.dirty || createdDateRef.touched)) {
            <div>
              @if (editForm.get('createdDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_lastModifiedDate"
            jhiTranslate="gatewayApp.emailImportDocumentServiceEmailImportImportRule.lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
