<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (documentVersion(); as documentVersionRef) {
      <div>
        <h2 data-cy="documentVersionDetailsHeading">
          <span jhiTranslate="gatewayApp.documentServiceDocumentVersion.detail.title">Document Version</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ documentVersionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentVersion.versionNumber">Version Number</span></dt>
          <dd>
            <span>{{ documentVersionRef.versionNumber }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentVersion.sha256">Sha 256</span></dt>
          <dd>
            <span>{{ documentVersionRef.sha256 }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentVersion.s3Key">S 3 Key</span></dt>
          <dd>
            <span>{{ documentVersionRef.s3Key }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentVersion.fileSize">File Size</span></dt>
          <dd>
            <span>{{ documentVersionRef.fileSize }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentVersion.uploadDate">Upload Date</span></dt>
          <dd>
            <span>{{ documentVersionRef.uploadDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentVersion.isActive">Is Active</span></dt>
          <dd>
            <span>{{ documentVersionRef.isActive }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentVersion.createdBy">Created By</span></dt>
          <dd>
            <span>{{ documentVersionRef.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentVersion.document">Document</span></dt>
          <dd>
            @if (documentVersion()!.document) {
              <div>
                <a [routerLink]="['/document', documentVersion()!.document?.id, 'view']">{{ documentVersionRef.document?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/document-version', documentVersionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
