<div>
  <h2 id="page-heading" data-cy="TransformRedactionJobHeading">
    <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.home.title">Transform Redaction Jobs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transform-redaction-job"
        [routerLink]="['/transform-redaction-job/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.home.createLabel"
          >Create a new Transform Redaction Job</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.home.search"
          >Search for Transform Redaction Job</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.transformServiceTransformRedactionJob.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (transformRedactionJobs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.home.notFound">No Transform Redaction Jobs found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentSha256">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.documentSha256">Document Sha 256</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="redactionAreas">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.redactionAreas">Redaction Areas</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="redactionType">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.redactionType">Redaction Type</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="redactionColor">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.redactionColor">Redaction Color</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="replaceWith">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.replaceWith">Replace With</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="outputS3Key">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.outputS3Key">Output S 3 Key</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="outputDocumentSha256">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.outputDocumentSha256">Output Document Sha 256</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.status">Status</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="errorMessage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.errorMessage">Error Message</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.createdBy">Created By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceTransformRedactionJob.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (transformRedactionJob of transformRedactionJobs(); track trackId(transformRedactionJob)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/transform-redaction-job', transformRedactionJob.id, 'view']">{{ transformRedactionJob.id }}</a>
              </td>
              <td>{{ transformRedactionJob.documentSha256 }}</td>
              <td>{{ transformRedactionJob.redactionAreas }}</td>
              <td [jhiTranslate]="'gatewayApp.RedactionType.' + (transformRedactionJob.redactionType ?? 'null')">
                {{
                  { null: '', BLACK_BOX: 'BLACK_BOX', WHITE_BOX: 'WHITE_BOX', PATTERN: 'PATTERN', PIXELATE: 'PIXELATE', BLUR: 'BLUR' }[
                    transformRedactionJob.redactionType ?? 'null'
                  ]
                }}
              </td>
              <td>{{ transformRedactionJob.redactionColor }}</td>
              <td>{{ transformRedactionJob.replaceWith }}</td>
              <td>{{ transformRedactionJob.outputS3Key }}</td>
              <td>{{ transformRedactionJob.outputDocumentSha256 }}</td>
              <td [jhiTranslate]="'gatewayApp.TransformStatus.' + (transformRedactionJob.status ?? 'null')">
                {{
                  {
                    null: '',
                    PENDING: 'PENDING',
                    PROCESSING: 'PROCESSING',
                    COMPLETED: 'COMPLETED',
                    FAILED: 'FAILED',
                    CANCELLED: 'CANCELLED',
                  }[transformRedactionJob.status ?? 'null']
                }}
              </td>
              <td>{{ transformRedactionJob.startDate | formatMediumDatetime }}</td>
              <td>{{ transformRedactionJob.endDate | formatMediumDatetime }}</td>
              <td>{{ transformRedactionJob.errorMessage }}</td>
              <td>{{ transformRedactionJob.createdBy }}</td>
              <td>{{ transformRedactionJob.createdDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/transform-redaction-job', transformRedactionJob.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/transform-redaction-job', transformRedactionJob.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(transformRedactionJob)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
