<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ocrCache(); as ocrCacheRef) {
      <div>
        <h2 data-cy="ocrCacheDetailsHeading"><span jhiTranslate="gatewayApp.ocrServiceOcrCache.detail.title">Ocr Cache</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ ocrCacheRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.ocrServiceOcrCache.documentSha256">Document Sha 256</span></dt>
          <dd>
            <span>{{ ocrCacheRef.documentSha256 }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.ocrServiceOcrCache.ocrEngine">Ocr Engine</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.OcrEngine.' + (ocrCacheRef.ocrEngine ?? 'null')">{{
              {
                null: '',
                TIKA_TESSERACT: 'TIKA_TESSERACT',
                TIKA_NATIVE: 'TIKA_NATIVE',
                OPENAI_VISION: 'OPENAI_VISION',
                GOOGLE_VISION: 'GOOGLE_VISION',
                AWS_TEXTRACT: 'AWS_TEXTRACT',
                AZURE_VISION: 'AZURE_VISION',
                ANTHROPIC_CLAUDE: 'ANTHROPIC_CLAUDE',
                CUSTOM: 'CUSTOM',
                HYBRID: 'HYBRID',
              }[ocrCacheRef.ocrEngine ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.ocrServiceOcrCache.language">Language</span></dt>
          <dd>
            <span>{{ ocrCacheRef.language }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.ocrServiceOcrCache.pageCount">Page Count</span></dt>
          <dd>
            <span>{{ ocrCacheRef.pageCount }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.ocrServiceOcrCache.totalConfidence">Total Confidence</span></dt>
          <dd>
            <span>{{ ocrCacheRef.totalConfidence }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.ocrServiceOcrCache.s3ResultKey">S 3 Result Key</span></dt>
          <dd>
            <span>{{ ocrCacheRef.s3ResultKey }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.ocrServiceOcrCache.s3Bucket">S 3 Bucket</span></dt>
          <dd>
            <span>{{ ocrCacheRef.s3Bucket }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.ocrServiceOcrCache.extractedTextS3Key">Extracted Text S 3 Key</span></dt>
          <dd>
            <span>{{ ocrCacheRef.extractedTextS3Key }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.ocrServiceOcrCache.metadata">Metadata</span></dt>
          <dd>
            <span>{{ ocrCacheRef.metadata }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.ocrServiceOcrCache.hits">Hits</span></dt>
          <dd>
            <span>{{ ocrCacheRef.hits }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.ocrServiceOcrCache.lastAccessDate">Last Access Date</span></dt>
          <dd>
            <span>{{ ocrCacheRef.lastAccessDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.ocrServiceOcrCache.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ ocrCacheRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.ocrServiceOcrCache.expirationDate">Expiration Date</span></dt>
          <dd>
            <span>{{ ocrCacheRef.expirationDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/ocr-cache', ocrCacheRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
