<div>
  <h2 id="page-heading" data-cy="ReportExecutionHeading">
    <span jhiTranslate="gatewayApp.reportingServiceReportExecution.home.title">Report Executions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.reportingServiceReportExecution.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-report-execution"
        [routerLink]="['/report-execution/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gatewayApp.reportingServiceReportExecution.home.createLabel">Create a new Report Execution</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (reportExecutions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.reportingServiceReportExecution.home.notFound">No Report Executions found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="scheduledReportId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportExecution.scheduledReportId">Scheduled Report Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportExecution.status">Status</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportExecution.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportExecution.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="recordsProcessed">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportExecution.recordsProcessed">Records Processed</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="outputS3Key">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportExecution.outputS3Key">Output S 3 Key</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="outputSize">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportExecution.outputSize">Output Size</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="errorMessage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportExecution.errorMessage">Error Message</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="scheduledReport.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceReportExecution.scheduledReport">Scheduled Report</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (reportExecution of reportExecutions(); track trackId(reportExecution)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/report-execution', reportExecution.id, 'view']">{{ reportExecution.id }}</a>
              </td>
              <td>{{ reportExecution.scheduledReportId }}</td>
              <td [jhiTranslate]="'gatewayApp.ReportExecutionStatus.' + (reportExecution.status ?? 'null')">
                {{
                  { null: '', PENDING: 'PENDING', RUNNING: 'RUNNING', COMPLETED: 'COMPLETED', FAILED: 'FAILED', CANCELLED: 'CANCELLED' }[
                    reportExecution.status ?? 'null'
                  ]
                }}
              </td>
              <td>{{ reportExecution.startDate | formatMediumDatetime }}</td>
              <td>{{ reportExecution.endDate | formatMediumDatetime }}</td>
              <td>{{ reportExecution.recordsProcessed }}</td>
              <td>{{ reportExecution.outputS3Key }}</td>
              <td>{{ reportExecution.outputSize }}</td>
              <td>{{ reportExecution.errorMessage }}</td>
              <td>
                @if (reportExecution.scheduledReport) {
                  <div>
                    <a [routerLink]="['/scheduled-report', reportExecution.scheduledReport.id, 'view']">{{
                      reportExecution.scheduledReport.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/report-execution', reportExecution.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/report-execution', reportExecution.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(reportExecution)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (reportExecutions().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
