<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (metaBookmark(); as metaBookmarkRef) {
      <div>
        <h2 data-cy="metaBookmarkDetailsHeading">
          <span jhiTranslate="gatewayApp.documentServiceMetaBookmark.detail.title">Meta Bookmark</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ metaBookmarkRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceMetaBookmark.userId">User Id</span></dt>
          <dd>
            <span>{{ metaBookmarkRef.userId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceMetaBookmark.entityType">Entity Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.MetaBookmarkType.' + (metaBookmarkRef.entityType ?? 'null')">{{
              {
                null: '',
                DOCUMENT: 'DOCUMENT',
                FOLDER: 'FOLDER',
                SEARCH: 'SEARCH',
                DASHBOARD: 'DASHBOARD',
                WORKFLOW: 'WORKFLOW',
                SMART_FOLDER: 'SMART_FOLDER',
              }[metaBookmarkRef.entityType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceMetaBookmark.entityName">Entity Name</span></dt>
          <dd>
            <span>{{ metaBookmarkRef.entityName }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceMetaBookmark.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ metaBookmarkRef.createdDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/meta-bookmark', metaBookmarkRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
