<div>
  <h2 id="page-heading" data-cy="ImportRuleHeading">
    <span jhiTranslate="gatewayApp.emailImportServiceImportRule.home.title">Import Rules</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.emailImportServiceImportRule.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-import-rule"
        [routerLink]="['/import-rule/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.emailImportServiceImportRule.home.createLabel">Create a new Import Rule</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (importRules().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.emailImportServiceImportRule.home.notFound">No Import Rules found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="priority">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.priority">Priority</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isActive">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.isActive">Is Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="conditions">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.conditions">Conditions</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="actions">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.actions">Actions</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="folderId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.folderId">Folder Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentTypeId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.documentTypeId">Document Type Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="applyTags">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.applyTags">Apply Tags</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notifyUsers">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.notifyUsers">Notify Users</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="matchCount">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.matchCount">Match Count</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastMatchDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.lastMatchDate">Last Match Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportRule.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (importRule of importRules(); track trackId(importRule)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/import-rule', importRule.id, 'view']">{{ importRule.id }}</a>
              </td>
              <td>{{ importRule.name }}</td>
              <td>{{ importRule.description }}</td>
              <td>{{ importRule.priority }}</td>
              <td>{{ importRule.isActive }}</td>
              <td>{{ importRule.conditions }}</td>
              <td>{{ importRule.actions }}</td>
              <td>{{ importRule.folderId }}</td>
              <td>{{ importRule.documentTypeId }}</td>
              <td>{{ importRule.applyTags }}</td>
              <td>{{ importRule.notifyUsers }}</td>
              <td>{{ importRule.matchCount }}</td>
              <td>{{ importRule.lastMatchDate | formatMediumDatetime }}</td>
              <td>{{ importRule.createdBy }}</td>
              <td>{{ importRule.createdDate | formatMediumDatetime }}</td>
              <td>{{ importRule.lastModifiedDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/import-rule', importRule.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/import-rule', importRule.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(importRule)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (importRules().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
