<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-invoice-heading"
        data-cy="InvoiceCreateUpdateHeading"
        jhiTranslate="gatewayApp.businessDocServiceInvoice.home.createOrEditLabel"
      >
        Create or edit a Invoice
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.businessDocServiceInvoice.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentIdRef = editForm.get('documentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentId" jhiTranslate="gatewayApp.businessDocServiceInvoice.documentId"
            >Document Id</label
          >
          <input
            type="number"
            class="form-control"
            name="documentId"
            id="field_documentId"
            data-cy="documentId"
            formControlName="documentId"
          />
          @if (documentIdRef.invalid && (documentIdRef.dirty || documentIdRef.touched)) {
            <div>
              @if (editForm.get('documentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('documentId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let invoiceNumberRef = editForm.get('invoiceNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_invoiceNumber" jhiTranslate="gatewayApp.businessDocServiceInvoice.invoiceNumber"
            >Invoice Number</label
          >
          <input
            type="text"
            class="form-control"
            name="invoiceNumber"
            id="field_invoiceNumber"
            data-cy="invoiceNumber"
            formControlName="invoiceNumber"
          />
          @if (invoiceNumberRef.invalid && (invoiceNumberRef.dirty || invoiceNumberRef.touched)) {
            <div>
              @if (editForm.get('invoiceNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('invoiceNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let invoiceTypeRef = editForm.get('invoiceType')!;
        <div class="mb-3">
          <label class="form-label" for="field_invoiceType" jhiTranslate="gatewayApp.businessDocServiceInvoice.invoiceType"
            >Invoice Type</label
          >
          <select class="form-control" name="invoiceType" formControlName="invoiceType" id="field_invoiceType" data-cy="invoiceType">
            <option [ngValue]="null">{{ 'gatewayApp.InvoiceType.null' | translate }}</option>
            @for (invoiceType of invoiceTypeValues; track $index) {
              <option [value]="invoiceType">{{ 'gatewayApp.InvoiceType.' + invoiceType | translate }}</option>
            }
          </select>
          @if (invoiceTypeRef.invalid && (invoiceTypeRef.dirty || invoiceTypeRef.touched)) {
            <div>
              @if (editForm.get('invoiceType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let supplierNameRef = editForm.get('supplierName')!;
        <div class="mb-3">
          <label class="form-label" for="field_supplierName" jhiTranslate="gatewayApp.businessDocServiceInvoice.supplierName"
            >Supplier Name</label
          >
          <input
            type="text"
            class="form-control"
            name="supplierName"
            id="field_supplierName"
            data-cy="supplierName"
            formControlName="supplierName"
          />
          @if (supplierNameRef.invalid && (supplierNameRef.dirty || supplierNameRef.touched)) {
            <div>
              @if (editForm.get('supplierName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let customerNameRef = editForm.get('customerName')!;
        <div class="mb-3">
          <label class="form-label" for="field_customerName" jhiTranslate="gatewayApp.businessDocServiceInvoice.customerName"
            >Customer Name</label
          >
          <input
            type="text"
            class="form-control"
            name="customerName"
            id="field_customerName"
            data-cy="customerName"
            formControlName="customerName"
          />
          @if (customerNameRef.invalid && (customerNameRef.dirty || customerNameRef.touched)) {
            <div>
              @if (editForm.get('customerName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let issueDateRef = editForm.get('issueDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_issueDate" jhiTranslate="gatewayApp.businessDocServiceInvoice.issueDate">Issue Date</label>
          <div class="input-group">
            <input
              id="field_issueDate"
              data-cy="issueDate"
              type="text"
              class="form-control"
              name="issueDate"
              ngbDatepicker
              #issueDateDp="ngbDatepicker"
              formControlName="issueDate"
            />
            <button type="button" class="btn btn-secondary" (click)="issueDateDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
          @if (issueDateRef.invalid && (issueDateRef.dirty || issueDateRef.touched)) {
            <div>
              @if (editForm.get('issueDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dueDate" jhiTranslate="gatewayApp.businessDocServiceInvoice.dueDate">Due Date</label>
          <div class="input-group">
            <input
              id="field_dueDate"
              data-cy="dueDate"
              type="text"
              class="form-control"
              name="dueDate"
              ngbDatepicker
              #dueDateDp="ngbDatepicker"
              formControlName="dueDate"
            />
            <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_paymentDate" jhiTranslate="gatewayApp.businessDocServiceInvoice.paymentDate"
            >Payment Date</label
          >
          <div class="input-group">
            <input
              id="field_paymentDate"
              data-cy="paymentDate"
              type="text"
              class="form-control"
              name="paymentDate"
              ngbDatepicker
              #paymentDateDp="ngbDatepicker"
              formControlName="paymentDate"
            />
            <button type="button" class="btn btn-secondary" (click)="paymentDateDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        @let totalAmountExclTaxRef = editForm.get('totalAmountExclTax')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalAmountExclTax" jhiTranslate="gatewayApp.businessDocServiceInvoice.totalAmountExclTax"
            >Total Amount Excl Tax</label
          >
          <input
            type="number"
            class="form-control"
            name="totalAmountExclTax"
            id="field_totalAmountExclTax"
            data-cy="totalAmountExclTax"
            formControlName="totalAmountExclTax"
          />
          @if (totalAmountExclTaxRef.invalid && (totalAmountExclTaxRef.dirty || totalAmountExclTaxRef.touched)) {
            <div>
              @if (editForm.get('totalAmountExclTax')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('totalAmountExclTax')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let taxAmountRef = editForm.get('taxAmount')!;
        <div class="mb-3">
          <label class="form-label" for="field_taxAmount" jhiTranslate="gatewayApp.businessDocServiceInvoice.taxAmount">Tax Amount</label>
          <input type="number" class="form-control" name="taxAmount" id="field_taxAmount" data-cy="taxAmount" formControlName="taxAmount" />
          @if (taxAmountRef.invalid && (taxAmountRef.dirty || taxAmountRef.touched)) {
            <div>
              @if (editForm.get('taxAmount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('taxAmount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let totalAmountInclTaxRef = editForm.get('totalAmountInclTax')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalAmountInclTax" jhiTranslate="gatewayApp.businessDocServiceInvoice.totalAmountInclTax"
            >Total Amount Incl Tax</label
          >
          <input
            type="number"
            class="form-control"
            name="totalAmountInclTax"
            id="field_totalAmountInclTax"
            data-cy="totalAmountInclTax"
            formControlName="totalAmountInclTax"
          />
          @if (totalAmountInclTaxRef.invalid && (totalAmountInclTaxRef.dirty || totalAmountInclTaxRef.touched)) {
            <div>
              @if (editForm.get('totalAmountInclTax')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('totalAmountInclTax')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let currencyRef = editForm.get('currency')!;
        <div class="mb-3">
          <label class="form-label" for="field_currency" jhiTranslate="gatewayApp.businessDocServiceInvoice.currency">Currency</label>
          <input type="text" class="form-control" name="currency" id="field_currency" data-cy="currency" formControlName="currency" />
          @if (currencyRef.invalid && (currencyRef.dirty || currencyRef.touched)) {
            <div>
              @if (editForm.get('currency')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('currency')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '3' }"
                  >This field cannot be longer than 3 characters.</small
                >
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="gatewayApp.businessDocServiceInvoice.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.InvoiceStatus.null' | translate }}</option>
            @for (invoiceStatus of invoiceStatusValues; track $index) {
              <option [value]="invoiceStatus">{{ 'gatewayApp.InvoiceStatus.' + invoiceStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_paymentMethod" jhiTranslate="gatewayApp.businessDocServiceInvoice.paymentMethod"
            >Payment Method</label
          >
          <select
            class="form-control"
            name="paymentMethod"
            formControlName="paymentMethod"
            id="field_paymentMethod"
            data-cy="paymentMethod"
          >
            <option [ngValue]="null">{{ 'gatewayApp.PaymentMethod.null' | translate }}</option>
            @for (paymentMethod of paymentMethodValues; track $index) {
              <option [value]="paymentMethod">{{ 'gatewayApp.PaymentMethod.' + paymentMethod | translate }}</option>
            }
          </select>
        </div>

        @let createdDateRef = editForm.get('createdDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="gatewayApp.businessDocServiceInvoice.createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdDateRef.invalid && (createdDateRef.dirty || createdDateRef.touched)) {
            <div>
              @if (editForm.get('createdDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
