<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (documentTemplate(); as documentTemplateRef) {
      <div>
        <h2 data-cy="documentTemplateDetailsHeading">
          <span jhiTranslate="gatewayApp.documentServiceDocumentTemplate.detail.title">Document Template</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ documentTemplateRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTemplate.name">Name</span></dt>
          <dd>
            <span>{{ documentTemplateRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTemplate.templateSha256">Template Sha 256</span></dt>
          <dd>
            <span>{{ documentTemplateRef.templateSha256 }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTemplate.templateS3Key">Template S 3 Key</span></dt>
          <dd>
            <span>{{ documentTemplateRef.templateS3Key }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTemplate.isActive">Is Active</span></dt>
          <dd>
            <span>{{ documentTemplateRef.isActive }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTemplate.createdBy">Created By</span></dt>
          <dd>
            <span>{{ documentTemplateRef.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTemplate.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ documentTemplateRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentTemplate.documentType">Document Type</span></dt>
          <dd>
            @if (documentTemplate()!.documentType) {
              <div>
                <a [routerLink]="['/document-type', documentTemplate()!.documentType?.id, 'view']">{{
                  documentTemplateRef.documentType?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/document-template', documentTemplateRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
