<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-scanner-configuration-heading"
        data-cy="ScannerConfigurationCreateUpdateHeading"
        jhiTranslate="gatewayApp.scanServiceScannerConfiguration.home.createOrEditLabel"
      >
        Create or edit a Scanner Configuration
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let scannerTypeRef = editForm.get('scannerType')!;
        <div class="mb-3">
          <label class="form-label" for="field_scannerType" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.scannerType"
            >Scanner Type</label
          >
          <select class="form-control" name="scannerType" formControlName="scannerType" id="field_scannerType" data-cy="scannerType">
            <option [ngValue]="null">{{ 'gatewayApp.ScannerType.null' | translate }}</option>
            @for (scannerType of scannerTypeValues; track $index) {
              <option [value]="scannerType">{{ 'gatewayApp.ScannerType.' + scannerType | translate }}</option>
            }
          </select>
          @if (scannerTypeRef.invalid && (scannerTypeRef.dirty || scannerTypeRef.touched)) {
            <div>
              @if (editForm.get('scannerType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let ipAddressRef = editForm.get('ipAddress')!;
        <div class="mb-3">
          <label class="form-label" for="field_ipAddress" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.ipAddress"
            >Ip Address</label
          >
          <input type="text" class="form-control" name="ipAddress" id="field_ipAddress" data-cy="ipAddress" formControlName="ipAddress" />
          @if (ipAddressRef.invalid && (ipAddressRef.dirty || ipAddressRef.touched)) {
            <div>
              @if (editForm.get('ipAddress')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '45' }"
                  >This field cannot be longer than 45 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_port" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.port">Port</label>
          <input type="number" class="form-control" name="port" id="field_port" data-cy="port" formControlName="port" />
        </div>

        @let protocolRef = editForm.get('protocol')!;
        <div class="mb-3">
          <label class="form-label" for="field_protocol" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.protocol">Protocol</label>
          <input type="text" class="form-control" name="protocol" id="field_protocol" data-cy="protocol" formControlName="protocol" />
          @if (protocolRef.invalid && (protocolRef.dirty || protocolRef.touched)) {
            <div>
              @if (editForm.get('protocol')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let manufacturerRef = editForm.get('manufacturer')!;
        <div class="mb-3">
          <label class="form-label" for="field_manufacturer" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.manufacturer"
            >Manufacturer</label
          >
          <input
            type="text"
            class="form-control"
            name="manufacturer"
            id="field_manufacturer"
            data-cy="manufacturer"
            formControlName="manufacturer"
          />
          @if (manufacturerRef.invalid && (manufacturerRef.dirty || manufacturerRef.touched)) {
            <div>
              @if (editForm.get('manufacturer')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let modelRef = editForm.get('model')!;
        <div class="mb-3">
          <label class="form-label" for="field_model" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.model">Model</label>
          <input type="text" class="form-control" name="model" id="field_model" data-cy="model" formControlName="model" />
          @if (modelRef.invalid && (modelRef.dirty || modelRef.touched)) {
            <div>
              @if (editForm.get('model')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_defaultColorMode" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.defaultColorMode"
            >Default Color Mode</label
          >
          <select
            class="form-control"
            name="defaultColorMode"
            formControlName="defaultColorMode"
            id="field_defaultColorMode"
            data-cy="defaultColorMode"
          >
            <option [ngValue]="null">{{ 'gatewayApp.ColorMode.null' | translate }}</option>
            @for (colorMode of colorModeValues; track $index) {
              <option [value]="colorMode">{{ 'gatewayApp.ColorMode.' + colorMode | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_defaultResolution"
            jhiTranslate="gatewayApp.scanServiceScannerConfiguration.defaultResolution"
            >Default Resolution</label
          >
          <input
            type="number"
            class="form-control"
            name="defaultResolution"
            id="field_defaultResolution"
            data-cy="defaultResolution"
            formControlName="defaultResolution"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_defaultFormat" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.defaultFormat"
            >Default Format</label
          >
          <select
            class="form-control"
            name="defaultFormat"
            formControlName="defaultFormat"
            id="field_defaultFormat"
            data-cy="defaultFormat"
          >
            <option [ngValue]="null">{{ 'gatewayApp.ScanFormat.null' | translate }}</option>
            @for (scanFormat of scanFormatValues; track $index) {
              <option [value]="scanFormat">{{ 'gatewayApp.ScanFormat.' + scanFormat | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_capabilities" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.capabilities"
            >Capabilities</label
          >
          <textarea
            class="form-control"
            name="capabilities"
            id="field_capabilities"
            data-cy="capabilities"
            formControlName="capabilities"
          ></textarea>
        </div>

        @let isActiveRef = editForm.get('isActive')!;
        <div class="mb-3">
          <label class="form-label" for="field_isActive" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.isActive"
            >Is Active</label
          >
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
          @if (isActiveRef.invalid && (isActiveRef.dirty || isActiveRef.touched)) {
            <div>
              @if (editForm.get('isActive')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let createdDateRef = editForm.get('createdDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdDateRef.invalid && (createdDateRef.dirty || createdDateRef.touched)) {
            <div>
              @if (editForm.get('createdDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastModifiedDate" jhiTranslate="gatewayApp.scanServiceScannerConfiguration.lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
