<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-reporting-system-metric-heading"
        data-cy="ReportingSystemMetricCreateUpdateHeading"
        jhiTranslate="gatewayApp.reportingServiceReportingSystemMetric.home.createOrEditLabel"
      >
        Create or edit a Reporting System Metric
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.reportingServiceReportingSystemMetric.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let metricNameRef = editForm.get('metricName')!;
        <div class="mb-3">
          <label class="form-label" for="field_metricName" jhiTranslate="gatewayApp.reportingServiceReportingSystemMetric.metricName"
            >Metric Name</label
          >
          <input
            type="text"
            class="form-control"
            name="metricName"
            id="field_metricName"
            data-cy="metricName"
            formControlName="metricName"
          />
          @if (metricNameRef.invalid && (metricNameRef.dirty || metricNameRef.touched)) {
            <div>
              @if (editForm.get('metricName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('metricName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cpuUsage" jhiTranslate="gatewayApp.reportingServiceReportingSystemMetric.cpuUsage"
            >Cpu Usage</label
          >
          <input type="number" class="form-control" name="cpuUsage" id="field_cpuUsage" data-cy="cpuUsage" formControlName="cpuUsage" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_memoryUsage" jhiTranslate="gatewayApp.reportingServiceReportingSystemMetric.memoryUsage"
            >Memory Usage</label
          >
          <input
            type="number"
            class="form-control"
            name="memoryUsage"
            id="field_memoryUsage"
            data-cy="memoryUsage"
            formControlName="memoryUsage"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_diskUsage" jhiTranslate="gatewayApp.reportingServiceReportingSystemMetric.diskUsage"
            >Disk Usage</label
          >
          <input type="number" class="form-control" name="diskUsage" id="field_diskUsage" data-cy="diskUsage" formControlName="diskUsage" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_networkIn" jhiTranslate="gatewayApp.reportingServiceReportingSystemMetric.networkIn"
            >Network In</label
          >
          <input type="number" class="form-control" name="networkIn" id="field_networkIn" data-cy="networkIn" formControlName="networkIn" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_networkOut" jhiTranslate="gatewayApp.reportingServiceReportingSystemMetric.networkOut"
            >Network Out</label
          >
          <input
            type="number"
            class="form-control"
            name="networkOut"
            id="field_networkOut"
            data-cy="networkOut"
            formControlName="networkOut"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_activeConnections"
            jhiTranslate="gatewayApp.reportingServiceReportingSystemMetric.activeConnections"
            >Active Connections</label
          >
          <input
            type="number"
            class="form-control"
            name="activeConnections"
            id="field_activeConnections"
            data-cy="activeConnections"
            formControlName="activeConnections"
          />
        </div>

        @let timestampRef = editForm.get('timestamp')!;
        <div class="mb-3">
          <label class="form-label" for="field_timestamp" jhiTranslate="gatewayApp.reportingServiceReportingSystemMetric.timestamp"
            >Timestamp</label
          >
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (timestampRef.invalid && (timestampRef.dirty || timestampRef.touched)) {
            <div>
              @if (editForm.get('timestamp')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('timestamp')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
