<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-contract-heading"
        data-cy="ContractCreateUpdateHeading"
        jhiTranslate="gatewayApp.businessDocServiceContract.home.createOrEditLabel"
      >
        Create or edit a Contract
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.businessDocServiceContract.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentIdRef = editForm.get('documentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentId" jhiTranslate="gatewayApp.businessDocServiceContract.documentId"
            >Document Id</label
          >
          <input
            type="number"
            class="form-control"
            name="documentId"
            id="field_documentId"
            data-cy="documentId"
            formControlName="documentId"
          />
          @if (documentIdRef.invalid && (documentIdRef.dirty || documentIdRef.touched)) {
            <div>
              @if (editForm.get('documentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('documentId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let contractNumberRef = editForm.get('contractNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_contractNumber" jhiTranslate="gatewayApp.businessDocServiceContract.contractNumber"
            >Contract Number</label
          >
          <input
            type="text"
            class="form-control"
            name="contractNumber"
            id="field_contractNumber"
            data-cy="contractNumber"
            formControlName="contractNumber"
          />
          @if (contractNumberRef.invalid && (contractNumberRef.dirty || contractNumberRef.touched)) {
            <div>
              @if (editForm.get('contractNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('contractNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let contractTypeRef = editForm.get('contractType')!;
        <div class="mb-3">
          <label class="form-label" for="field_contractType" jhiTranslate="gatewayApp.businessDocServiceContract.contractType"
            >Contract Type</label
          >
          <select class="form-control" name="contractType" formControlName="contractType" id="field_contractType" data-cy="contractType">
            <option [ngValue]="null">{{ 'gatewayApp.ContractType.null' | translate }}</option>
            @for (contractType of contractTypeValues; track $index) {
              <option [value]="contractType">{{ 'gatewayApp.ContractType.' + contractType | translate }}</option>
            }
          </select>
          @if (contractTypeRef.invalid && (contractTypeRef.dirty || contractTypeRef.touched)) {
            <div>
              @if (editForm.get('contractType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let titleRef = editForm.get('title')!;
        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="gatewayApp.businessDocServiceContract.title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (titleRef.invalid && (titleRef.dirty || titleRef.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('title')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let partyARef = editForm.get('partyA')!;
        <div class="mb-3">
          <label class="form-label" for="field_partyA" jhiTranslate="gatewayApp.businessDocServiceContract.partyA">Party A</label>
          <input type="text" class="form-control" name="partyA" id="field_partyA" data-cy="partyA" formControlName="partyA" />
          @if (partyARef.invalid && (partyARef.dirty || partyARef.touched)) {
            <div>
              @if (editForm.get('partyA')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('partyA')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let partyBRef = editForm.get('partyB')!;
        <div class="mb-3">
          <label class="form-label" for="field_partyB" jhiTranslate="gatewayApp.businessDocServiceContract.partyB">Party B</label>
          <input type="text" class="form-control" name="partyB" id="field_partyB" data-cy="partyB" formControlName="partyB" />
          @if (partyBRef.invalid && (partyBRef.dirty || partyBRef.touched)) {
            <div>
              @if (editForm.get('partyB')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('partyB')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let startDateRef = editForm.get('startDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_startDate" jhiTranslate="gatewayApp.businessDocServiceContract.startDate">Start Date</label>
          <div class="input-group">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="text"
              class="form-control"
              name="startDate"
              ngbDatepicker
              #startDateDp="ngbDatepicker"
              formControlName="startDate"
            />
            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (startDateRef.invalid && (startDateRef.dirty || startDateRef.touched)) {
            <div>
              @if (editForm.get('startDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_endDate" jhiTranslate="gatewayApp.businessDocServiceContract.endDate">End Date</label>
          <div class="input-group">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="text"
              class="form-control"
              name="endDate"
              ngbDatepicker
              #endDateDp="ngbDatepicker"
              formControlName="endDate"
            />
            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        @let autoRenewRef = editForm.get('autoRenew')!;
        <div class="mb-3">
          <label class="form-label" for="field_autoRenew" jhiTranslate="gatewayApp.businessDocServiceContract.autoRenew">Auto Renew</label>
          <input type="checkbox" class="form-check" name="autoRenew" id="field_autoRenew" data-cy="autoRenew" formControlName="autoRenew" />
          @if (autoRenewRef.invalid && (autoRenewRef.dirty || autoRenewRef.touched)) {
            <div>
              @if (editForm.get('autoRenew')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contractValue" jhiTranslate="gatewayApp.businessDocServiceContract.contractValue"
            >Contract Value</label
          >
          <input
            type="number"
            class="form-control"
            name="contractValue"
            id="field_contractValue"
            data-cy="contractValue"
            formControlName="contractValue"
          />
        </div>

        @let currencyRef = editForm.get('currency')!;
        <div class="mb-3">
          <label class="form-label" for="field_currency" jhiTranslate="gatewayApp.businessDocServiceContract.currency">Currency</label>
          <input type="text" class="form-control" name="currency" id="field_currency" data-cy="currency" formControlName="currency" />
          @if (currencyRef.invalid && (currencyRef.dirty || currencyRef.touched)) {
            <div>
              @if (editForm.get('currency')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '3' }"
                  >This field cannot be longer than 3 characters.</small
                >
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="gatewayApp.businessDocServiceContract.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.ContractStatus.null' | translate }}</option>
            @for (contractStatus of contractStatusValues; track $index) {
              <option [value]="contractStatus">{{ 'gatewayApp.ContractStatus.' + contractStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let createdDateRef = editForm.get('createdDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="gatewayApp.businessDocServiceContract.createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdDateRef.invalid && (createdDateRef.dirty || createdDateRef.touched)) {
            <div>
              @if (editForm.get('createdDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
