<div>
  <h2 id="page-heading" data-cy="OcrCacheHeading">
    <span jhiTranslate="gatewayApp.ocrServiceOcrCache.home.title">Ocr Caches</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.ocrServiceOcrCache.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ocr-cache"
        [routerLink]="['/ocr-cache/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gatewayApp.ocrServiceOcrCache.home.createLabel">Create a new Ocr Cache</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (ocrCaches().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.ocrServiceOcrCache.home.notFound">No Ocr Caches found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="documentSha256">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceOcrCache.documentSha256">Document Sha 256</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="ocrEngine">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceOcrCache.ocrEngine">Ocr Engine</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="language">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceOcrCache.language">Language</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="pageCount">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceOcrCache.pageCount">Page Count</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="totalConfidence">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceOcrCache.totalConfidence">Total Confidence</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="s3ResultKey">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceOcrCache.s3ResultKey">S 3 Result Key</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="s3Bucket">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceOcrCache.s3Bucket">S 3 Bucket</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="extractedTextS3Key">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceOcrCache.extractedTextS3Key">Extracted Text S 3 Key</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="metadata">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceOcrCache.metadata">Metadata</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="hits">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceOcrCache.hits">Hits</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="lastAccessDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceOcrCache.lastAccessDate">Last Access Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceOcrCache.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="expirationDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceOcrCache.expirationDate">Expiration Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ocrCache of ocrCaches(); track trackId(ocrCache)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ocr-cache', ocrCache.id, 'view']">{{ ocrCache.id }}</a>
              </td>
              <td>{{ ocrCache.documentSha256 }}</td>
              <td [jhiTranslate]="'gatewayApp.OcrEngine.' + (ocrCache.ocrEngine ?? 'null')">
                {{
                  {
                    null: '',
                    TIKA_TESSERACT: 'TIKA_TESSERACT',
                    TIKA_NATIVE: 'TIKA_NATIVE',
                    OPENAI_VISION: 'OPENAI_VISION',
                    GOOGLE_VISION: 'GOOGLE_VISION',
                    AWS_TEXTRACT: 'AWS_TEXTRACT',
                    AZURE_VISION: 'AZURE_VISION',
                    ANTHROPIC_CLAUDE: 'ANTHROPIC_CLAUDE',
                    CUSTOM: 'CUSTOM',
                    HYBRID: 'HYBRID',
                  }[ocrCache.ocrEngine ?? 'null']
                }}
              </td>
              <td>{{ ocrCache.language }}</td>
              <td>{{ ocrCache.pageCount }}</td>
              <td>{{ ocrCache.totalConfidence }}</td>
              <td>{{ ocrCache.s3ResultKey }}</td>
              <td>{{ ocrCache.s3Bucket }}</td>
              <td>{{ ocrCache.extractedTextS3Key }}</td>
              <td>{{ ocrCache.metadata }}</td>
              <td>{{ ocrCache.hits }}</td>
              <td>{{ ocrCache.lastAccessDate | formatMediumDatetime }}</td>
              <td>{{ ocrCache.createdDate | formatMediumDatetime }}</td>
              <td>{{ ocrCache.expirationDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/ocr-cache', ocrCache.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/ocr-cache', ocrCache.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(ocrCache)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (ocrCaches().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
