<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (systemHealth(); as systemHealthRef) {
      <div>
        <h2 data-cy="systemHealthDetailsHeading">
          <span jhiTranslate="gatewayApp.monitoringServiceSystemHealth.detail.title">System Health</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ systemHealthRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceSystemHealth.serviceName">Service Name</span></dt>
          <dd>
            <span>{{ systemHealthRef.serviceName }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceSystemHealth.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.HealthStatus.' + (systemHealthRef.status ?? 'null')">{{
              { null: '', HEALTHY: 'HEALTHY', DEGRADED: 'DEGRADED', UNHEALTHY: 'UNHEALTHY', UNKNOWN: 'UNKNOWN' }[
                systemHealthRef.status ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceSystemHealth.version">Version</span></dt>
          <dd>
            <span>{{ systemHealthRef.version }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceSystemHealth.uptime">Uptime</span></dt>
          <dd>
            <span>{{ systemHealthRef.uptime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceSystemHealth.cpuUsage">Cpu Usage</span></dt>
          <dd>
            <span>{{ systemHealthRef.cpuUsage }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceSystemHealth.memoryUsage">Memory Usage</span></dt>
          <dd>
            <span>{{ systemHealthRef.memoryUsage }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceSystemHealth.errorRate">Error Rate</span></dt>
          <dd>
            <span>{{ systemHealthRef.errorRate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceSystemHealth.lastCheck">Last Check</span></dt>
          <dd>
            <span>{{ systemHealthRef.lastCheck | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/system-health', systemHealthRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
