<div>
  <h2 id="page-heading" data-cy="ExtractedTextHeading">
    <span jhiTranslate="gatewayApp.ocrServiceExtractedText.home.title">Extracted Texts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.ocrServiceExtractedText.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-extracted-text"
        [routerLink]="['/extracted-text/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.ocrServiceExtractedText.home.createLabel">Create a new Extracted Text</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.ocrServiceExtractedText.home.search"
          >Search for Extracted Text</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.ocrServiceExtractedText.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (extractedTexts().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.ocrServiceExtractedText.home.notFound">No Extracted Texts found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="content">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceExtractedText.content">Content</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="contentSha256">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceExtractedText.contentSha256">Content Sha 256</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="s3ContentKey">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceExtractedText.s3ContentKey">S 3 Content Key</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="s3Bucket">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceExtractedText.s3Bucket">S 3 Bucket</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="pageNumber">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceExtractedText.pageNumber">Page Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="language">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceExtractedText.language">Language</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="wordCount">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceExtractedText.wordCount">Word Count</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hasStructuredData">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceExtractedText.hasStructuredData">Has Structured Data</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="structuredData">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceExtractedText.structuredData">Structured Data</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="structuredDataS3Key">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceExtractedText.structuredDataS3Key">Structured Data S 3 Key</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="extractedDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceExtractedText.extractedDate">Extracted Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="job.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.ocrServiceExtractedText.job">Job</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (extractedText of extractedTexts(); track trackId(extractedText)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/extracted-text', extractedText.id, 'view']">{{ extractedText.id }}</a>
              </td>
              <td>{{ extractedText.content }}</td>
              <td>{{ extractedText.contentSha256 }}</td>
              <td>{{ extractedText.s3ContentKey }}</td>
              <td>{{ extractedText.s3Bucket }}</td>
              <td>{{ extractedText.pageNumber }}</td>
              <td>{{ extractedText.language }}</td>
              <td>{{ extractedText.wordCount }}</td>
              <td>{{ extractedText.hasStructuredData }}</td>
              <td>{{ extractedText.structuredData }}</td>
              <td>{{ extractedText.structuredDataS3Key }}</td>
              <td>{{ extractedText.extractedDate | formatMediumDatetime }}</td>
              <td>
                @if (extractedText.job) {
                  <div>
                    <a [routerLink]="['/ocr-job', extractedText.job.id, 'view']">{{ extractedText.job.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/extracted-text', extractedText.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/extracted-text', extractedText.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(extractedText)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (extractedTexts().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
