<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-scanned-page-heading"
        data-cy="ScannedPageCreateUpdateHeading"
        jhiTranslate="gatewayApp.scanServiceScannedPage.home.createOrEditLabel"
      >
        Create or edit a Scanned Page
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.scanServiceScannedPage.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let scanJobIdRef = editForm.get('scanJobId')!;
        <div class="mb-3">
          <label class="form-label" for="field_scanJobId" jhiTranslate="gatewayApp.scanServiceScannedPage.scanJobId">Scan Job Id</label>
          <input type="number" class="form-control" name="scanJobId" id="field_scanJobId" data-cy="scanJobId" formControlName="scanJobId" />
          @if (scanJobIdRef.invalid && (scanJobIdRef.dirty || scanJobIdRef.touched)) {
            <div>
              @if (editForm.get('scanJobId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('scanJobId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let pageNumberRef = editForm.get('pageNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_pageNumber" jhiTranslate="gatewayApp.scanServiceScannedPage.pageNumber">Page Number</label>
          <input
            type="number"
            class="form-control"
            name="pageNumber"
            id="field_pageNumber"
            data-cy="pageNumber"
            formControlName="pageNumber"
          />
          @if (pageNumberRef.invalid && (pageNumberRef.dirty || pageNumberRef.touched)) {
            <div>
              @if (editForm.get('pageNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('pageNumber')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let sha256Ref = editForm.get('sha256')!;
        <div class="mb-3">
          <label class="form-label" for="field_sha256" jhiTranslate="gatewayApp.scanServiceScannedPage.sha256">Sha 256</label>
          <input type="text" class="form-control" name="sha256" id="field_sha256" data-cy="sha256" formControlName="sha256" />
          @if (sha256Ref.invalid && (sha256Ref.dirty || sha256Ref.touched)) {
            <div>
              @if (editForm.get('sha256')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('sha256')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        @let s3KeyRef = editForm.get('s3Key')!;
        <div class="mb-3">
          <label class="form-label" for="field_s3Key" jhiTranslate="gatewayApp.scanServiceScannedPage.s3Key">S 3 Key</label>
          <input type="text" class="form-control" name="s3Key" id="field_s3Key" data-cy="s3Key" formControlName="s3Key" />
          @if (s3KeyRef.invalid && (s3KeyRef.dirty || s3KeyRef.touched)) {
            <div>
              @if (editForm.get('s3Key')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('s3Key')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        @let s3PreviewKeyRef = editForm.get('s3PreviewKey')!;
        <div class="mb-3">
          <label class="form-label" for="field_s3PreviewKey" jhiTranslate="gatewayApp.scanServiceScannedPage.s3PreviewKey"
            >S 3 Preview Key</label
          >
          <input
            type="text"
            class="form-control"
            name="s3PreviewKey"
            id="field_s3PreviewKey"
            data-cy="s3PreviewKey"
            formControlName="s3PreviewKey"
          />
          @if (s3PreviewKeyRef.invalid && (s3PreviewKeyRef.dirty || s3PreviewKeyRef.touched)) {
            <div>
              @if (editForm.get('s3PreviewKey')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fileSize" jhiTranslate="gatewayApp.scanServiceScannedPage.fileSize">File Size</label>
          <input type="number" class="form-control" name="fileSize" id="field_fileSize" data-cy="fileSize" formControlName="fileSize" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_width" jhiTranslate="gatewayApp.scanServiceScannedPage.width">Width</label>
          <input type="number" class="form-control" name="width" id="field_width" data-cy="width" formControlName="width" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_height" jhiTranslate="gatewayApp.scanServiceScannedPage.height">Height</label>
          <input type="number" class="form-control" name="height" id="field_height" data-cy="height" formControlName="height" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dpi" jhiTranslate="gatewayApp.scanServiceScannedPage.dpi">Dpi</label>
          <input type="number" class="form-control" name="dpi" id="field_dpi" data-cy="dpi" formControlName="dpi" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documentId" jhiTranslate="gatewayApp.scanServiceScannedPage.documentId">Document Id</label>
          <input
            type="number"
            class="form-control"
            name="documentId"
            id="field_documentId"
            data-cy="documentId"
            formControlName="documentId"
          />
        </div>

        @let scannedDateRef = editForm.get('scannedDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_scannedDate" jhiTranslate="gatewayApp.scanServiceScannedPage.scannedDate"
            >Scanned Date</label
          >
          <div class="d-flex">
            <input
              id="field_scannedDate"
              data-cy="scannedDate"
              type="datetime-local"
              class="form-control"
              name="scannedDate"
              formControlName="scannedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (scannedDateRef.invalid && (scannedDateRef.dirty || scannedDateRef.touched)) {
            <div>
              @if (editForm.get('scannedDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('scannedDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_scanJob" jhiTranslate="gatewayApp.scanServiceScannedPage.scanJob">Scan Job</label>
          <select
            class="form-control"
            id="field_scanJob"
            data-cy="scanJob"
            name="scanJob"
            formControlName="scanJob"
            [compareWith]="compareScanJob"
          >
            @if (!editForm.get('scanJob')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (scanJobOption of scanJobsSharedCollection(); track $index) {
              <option [ngValue]="scanJobOption">{{ scanJobOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['scanJob'])!.invalid && (editForm.get(['scanJob'])!.dirty || editForm.get(['scanJob'])!.touched)) {
          <div>
            @if (editForm.get(['scanJob'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
