<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-workflow-approval-history-heading"
        data-cy="WorkflowApprovalHistoryCreateUpdateHeading"
        jhiTranslate="gatewayApp.workflowServiceWorkflowApprovalHistory.home.createOrEditLabel"
      >
        Create or edit a Workflow Approval History
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.workflowServiceWorkflowApprovalHistory.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentSha256Ref = editForm.get('documentSha256')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_documentSha256"
            jhiTranslate="gatewayApp.workflowServiceWorkflowApprovalHistory.documentSha256"
            >Document Sha 256</label
          >
          <input
            type="text"
            class="form-control"
            name="documentSha256"
            id="field_documentSha256"
            data-cy="documentSha256"
            formControlName="documentSha256"
          />
          @if (documentSha256Ref.invalid && (documentSha256Ref.dirty || documentSha256Ref.touched)) {
            <div>
              @if (editForm.get('documentSha256')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('documentSha256')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        @let stepNumberRef = editForm.get('stepNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_stepNumber" jhiTranslate="gatewayApp.workflowServiceWorkflowApprovalHistory.stepNumber"
            >Step Number</label
          >
          <input
            type="number"
            class="form-control"
            name="stepNumber"
            id="field_stepNumber"
            data-cy="stepNumber"
            formControlName="stepNumber"
          />
          @if (stepNumberRef.invalid && (stepNumberRef.dirty || stepNumberRef.touched)) {
            <div>
              @if (editForm.get('stepNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('stepNumber')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_action" jhiTranslate="gatewayApp.workflowServiceWorkflowApprovalHistory.action"
            >Action</label
          >
          <select class="form-control" name="action" formControlName="action" id="field_action" data-cy="action">
            <option [ngValue]="null">{{ 'gatewayApp.TaskAction.null' | translate }}</option>
            @for (taskAction of taskActionValues; track $index) {
              <option [value]="taskAction">{{ 'gatewayApp.TaskAction.' + taskAction | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_comment" jhiTranslate="gatewayApp.workflowServiceWorkflowApprovalHistory.comment"
            >Comment</label
          >
          <textarea class="form-control" name="comment" id="field_comment" data-cy="comment" formControlName="comment"></textarea>
        </div>

        @let actionDateRef = editForm.get('actionDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_actionDate" jhiTranslate="gatewayApp.workflowServiceWorkflowApprovalHistory.actionDate"
            >Action Date</label
          >
          <div class="d-flex">
            <input
              id="field_actionDate"
              data-cy="actionDate"
              type="datetime-local"
              class="form-control"
              name="actionDate"
              formControlName="actionDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (actionDateRef.invalid && (actionDateRef.dirty || actionDateRef.touched)) {
            <div>
              @if (editForm.get('actionDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('actionDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let actionByRef = editForm.get('actionBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_actionBy" jhiTranslate="gatewayApp.workflowServiceWorkflowApprovalHistory.actionBy"
            >Action By</label
          >
          <input type="text" class="form-control" name="actionBy" id="field_actionBy" data-cy="actionBy" formControlName="actionBy" />
          @if (actionByRef.invalid && (actionByRef.dirty || actionByRef.touched)) {
            <div>
              @if (editForm.get('actionBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('actionBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let previousAssigneeRef = editForm.get('previousAssignee')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_previousAssignee"
            jhiTranslate="gatewayApp.workflowServiceWorkflowApprovalHistory.previousAssignee"
            >Previous Assignee</label
          >
          <input
            type="text"
            class="form-control"
            name="previousAssignee"
            id="field_previousAssignee"
            data-cy="previousAssignee"
            formControlName="previousAssignee"
          />
          @if (previousAssigneeRef.invalid && (previousAssigneeRef.dirty || previousAssigneeRef.touched)) {
            <div>
              @if (editForm.get('previousAssignee')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_timeTaken" jhiTranslate="gatewayApp.workflowServiceWorkflowApprovalHistory.timeTaken"
            >Time Taken</label
          >
          <input type="number" class="form-control" name="timeTaken" id="field_timeTaken" data-cy="timeTaken" formControlName="timeTaken" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_workflowInstance"
            jhiTranslate="gatewayApp.workflowServiceWorkflowApprovalHistory.workflowInstance"
            >Workflow Instance</label
          >
          <select
            class="form-control"
            id="field_workflowInstance"
            data-cy="workflowInstance"
            name="workflowInstance"
            formControlName="workflowInstance"
            [compareWith]="compareWorkflowInstance"
          >
            <option [ngValue]="null"></option>
            @for (workflowInstanceOption of workflowInstancesSharedCollection; track $index) {
              <option [ngValue]="workflowInstanceOption">{{ workflowInstanceOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
