<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (performanceMetric(); as performanceMetricRef) {
      <div>
        <h2 data-cy="performanceMetricDetailsHeading">
          <span jhiTranslate="gatewayApp.reportingServicePerformanceMetric.detail.title">Performance Metric</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ performanceMetricRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServicePerformanceMetric.metricName">Metric Name</span></dt>
          <dd>
            <span>{{ performanceMetricRef.metricName }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServicePerformanceMetric.metricType">Metric Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.MetricType.' + (performanceMetricRef.metricType ?? 'null')">{{
              {
                null: '',
                UPLOAD_SPEED: 'UPLOAD_SPEED',
                OCR_DURATION: 'OCR_DURATION',
                SEARCH_LATENCY: 'SEARCH_LATENCY',
                API_RESPONSE_TIME: 'API_RESPONSE_TIME',
                STORAGE_IOPS: 'STORAGE_IOPS',
                CACHE_HIT_RATE: 'CACHE_HIT_RATE',
                QUEUE_LENGTH: 'QUEUE_LENGTH',
                ERROR_RATE: 'ERROR_RATE',
                THROUGHPUT: 'THROUGHPUT',
                CONCURRENT_USERS: 'CONCURRENT_USERS',
              }[performanceMetricRef.metricType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServicePerformanceMetric.value">Value</span></dt>
          <dd>
            <span>{{ performanceMetricRef.value }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServicePerformanceMetric.unit">Unit</span></dt>
          <dd>
            <span>{{ performanceMetricRef.unit }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServicePerformanceMetric.serviceName">Service Name</span></dt>
          <dd>
            <span>{{ performanceMetricRef.serviceName }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.reportingServicePerformanceMetric.timestamp">Timestamp</span></dt>
          <dd>
            <span>{{ performanceMetricRef.timestamp | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/performance-metric', performanceMetricRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
