<div>
  <h2 id="page-heading" data-cy="InvoiceHeading">
    <span jhiTranslate="gatewayApp.businessDocServiceInvoice.home.title">Invoices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.businessDocServiceInvoice.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-invoice"
        [routerLink]="['/invoice/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.businessDocServiceInvoice.home.createLabel">Create a new Invoice</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.businessDocServiceInvoice.home.search"
          >Search for Invoice</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.businessDocServiceInvoice.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters" />

  @if (invoices().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.businessDocServiceInvoice.home.notFound">No Invoices found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.documentId">Document Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="invoiceNumber">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.invoiceNumber">Invoice Number</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="invoiceType">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.invoiceType">Invoice Type</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="supplierName">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.supplierName">Supplier Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="customerName">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.customerName">Customer Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="issueDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.issueDate">Issue Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dueDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.dueDate">Due Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paymentDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.paymentDate">Payment Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalAmountExclTax">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.totalAmountExclTax">Total Amount Excl Tax</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="taxAmount">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.taxAmount">Tax Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalAmountInclTax">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.totalAmountInclTax">Total Amount Incl Tax</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currency">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.currency">Currency</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.status">Status</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="paymentMethod">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.paymentMethod">Payment Method</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.businessDocServiceInvoice.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (invoice of invoices(); track trackId(invoice)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/invoice', invoice.id, 'view']">{{ invoice.id }}</a>
              </td>
              <td>{{ invoice.documentId }}</td>
              <td>{{ invoice.invoiceNumber }}</td>
              <td [jhiTranslate]="'gatewayApp.InvoiceType.' + (invoice.invoiceType ?? 'null')">
                {{
                  {
                    null: '',
                    PURCHASE: 'PURCHASE',
                    SALES: 'SALES',
                    CREDIT_NOTE: 'CREDIT_NOTE',
                    DEBIT_NOTE: 'DEBIT_NOTE',
                    PROFORMA: 'PROFORMA',
                  }[invoice.invoiceType ?? 'null']
                }}
              </td>
              <td>{{ invoice.supplierName }}</td>
              <td>{{ invoice.customerName }}</td>
              <td>{{ invoice.issueDate | formatMediumDate }}</td>
              <td>{{ invoice.dueDate | formatMediumDate }}</td>
              <td>{{ invoice.paymentDate | formatMediumDate }}</td>
              <td>{{ invoice.totalAmountExclTax }}</td>
              <td>{{ invoice.taxAmount }}</td>
              <td>{{ invoice.totalAmountInclTax }}</td>
              <td>{{ invoice.currency }}</td>
              <td [jhiTranslate]="'gatewayApp.InvoiceStatus.' + (invoice.status ?? 'null')">
                {{
                  {
                    null: '',
                    DRAFT: 'DRAFT',
                    PENDING_APPROVAL: 'PENDING_APPROVAL',
                    APPROVED: 'APPROVED',
                    SENT: 'SENT',
                    PAID: 'PAID',
                    PARTIALLY_PAID: 'PARTIALLY_PAID',
                    OVERDUE: 'OVERDUE',
                    CANCELLED: 'CANCELLED',
                    DISPUTED: 'DISPUTED',
                  }[invoice.status ?? 'null']
                }}
              </td>
              <td [jhiTranslate]="'gatewayApp.PaymentMethod.' + (invoice.paymentMethod ?? 'null')">
                {{
                  {
                    null: '',
                    WIRE_TRANSFER: 'WIRE_TRANSFER',
                    CHECK: 'CHECK',
                    CASH: 'CASH',
                    CREDIT_CARD: 'CREDIT_CARD',
                    DEBIT_CARD: 'DEBIT_CARD',
                    PAYPAL: 'PAYPAL',
                    DIRECT_DEBIT: 'DIRECT_DEBIT',
                    OTHER: 'OTHER',
                  }[invoice.paymentMethod ?? 'null']
                }}
              </td>
              <td>{{ invoice.createdDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/invoice', invoice.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/invoice', invoice.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(invoice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (invoices().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
