<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-document-version-heading"
        data-cy="DocumentVersionCreateUpdateHeading"
        jhiTranslate="gatewayApp.documentServiceDocumentVersion.home.createOrEditLabel"
      >
        Create or edit a Document Version
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.documentServiceDocumentVersion.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let versionNumberRef = editForm.get('versionNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_versionNumber" jhiTranslate="gatewayApp.documentServiceDocumentVersion.versionNumber"
            >Version Number</label
          >
          <input
            type="number"
            class="form-control"
            name="versionNumber"
            id="field_versionNumber"
            data-cy="versionNumber"
            formControlName="versionNumber"
          />
          @if (versionNumberRef.invalid && (versionNumberRef.dirty || versionNumberRef.touched)) {
            <div>
              @if (editForm.get('versionNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('versionNumber')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let sha256Ref = editForm.get('sha256')!;
        <div class="mb-3">
          <label class="form-label" for="field_sha256" jhiTranslate="gatewayApp.documentServiceDocumentVersion.sha256">Sha 256</label>
          <input type="text" class="form-control" name="sha256" id="field_sha256" data-cy="sha256" formControlName="sha256" />
          @if (sha256Ref.invalid && (sha256Ref.dirty || sha256Ref.touched)) {
            <div>
              @if (editForm.get('sha256')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('sha256')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        @let s3KeyRef = editForm.get('s3Key')!;
        <div class="mb-3">
          <label class="form-label" for="field_s3Key" jhiTranslate="gatewayApp.documentServiceDocumentVersion.s3Key">S 3 Key</label>
          <input type="text" class="form-control" name="s3Key" id="field_s3Key" data-cy="s3Key" formControlName="s3Key" />
          @if (s3KeyRef.invalid && (s3KeyRef.dirty || s3KeyRef.touched)) {
            <div>
              @if (editForm.get('s3Key')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('s3Key')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        @let fileSizeRef = editForm.get('fileSize')!;
        <div class="mb-3">
          <label class="form-label" for="field_fileSize" jhiTranslate="gatewayApp.documentServiceDocumentVersion.fileSize">File Size</label>
          <input type="number" class="form-control" name="fileSize" id="field_fileSize" data-cy="fileSize" formControlName="fileSize" />
          @if (fileSizeRef.invalid && (fileSizeRef.dirty || fileSizeRef.touched)) {
            <div>
              @if (editForm.get('fileSize')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('fileSize')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let uploadDateRef = editForm.get('uploadDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_uploadDate" jhiTranslate="gatewayApp.documentServiceDocumentVersion.uploadDate"
            >Upload Date</label
          >
          <div class="d-flex">
            <input
              id="field_uploadDate"
              data-cy="uploadDate"
              type="datetime-local"
              class="form-control"
              name="uploadDate"
              formControlName="uploadDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (uploadDateRef.invalid && (uploadDateRef.dirty || uploadDateRef.touched)) {
            <div>
              @if (editForm.get('uploadDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('uploadDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let isActiveRef = editForm.get('isActive')!;
        <div class="mb-3">
          <label class="form-label" for="field_isActive" jhiTranslate="gatewayApp.documentServiceDocumentVersion.isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
          @if (isActiveRef.invalid && (isActiveRef.dirty || isActiveRef.touched)) {
            <div>
              @if (editForm.get('isActive')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let createdByRef = editForm.get('createdBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="gatewayApp.documentServiceDocumentVersion.createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (createdByRef.invalid && (createdByRef.dirty || createdByRef.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('createdBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_document" jhiTranslate="gatewayApp.documentServiceDocumentVersion.document">Document</label>
          <select
            class="form-control"
            id="field_document"
            data-cy="document"
            name="document"
            formControlName="document"
            [compareWith]="compareDocument"
          >
            @if (!editForm.get('document')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (documentOption of documentsSharedCollection; track $index) {
              <option [ngValue]="documentOption">{{ documentOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['document'])!.invalid && (editForm.get(['document'])!.dirty || editForm.get(['document'])!.touched)) {
          <div>
            @if (editForm.get(['document'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
