<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (notificationTemplate(); as notificationTemplateRef) {
      <div>
        <h2 data-cy="notificationTemplateDetailsHeading">
          <span jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.detail.title">Notification Template</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ notificationTemplateRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.name">Name</span></dt>
          <dd>
            <span>{{ notificationTemplateRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.subject">Subject</span></dt>
          <dd>
            <span>{{ notificationTemplateRef.subject }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.bodyTemplate">Body Template</span></dt>
          <dd>
            <span>{{ notificationTemplateRef.bodyTemplate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.type">Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.NotificationType.' + (notificationTemplateRef.type ?? 'null')">{{
              {
                null: '',
                DOCUMENT_UPLOADED: 'DOCUMENT_UPLOADED',
                DOCUMENT_PROCESSED: 'DOCUMENT_PROCESSED',
                DOCUMENT_SHARED: 'DOCUMENT_SHARED',
                WORKFLOW_ASSIGNED: 'WORKFLOW_ASSIGNED',
                WORKFLOW_APPROVED: 'WORKFLOW_APPROVED',
                WORKFLOW_REJECTED: 'WORKFLOW_REJECTED',
                WORKFLOW_COMPLETED: 'WORKFLOW_COMPLETED',
                OCR_COMPLETED: 'OCR_COMPLETED',
                AI_TAG_SUGGESTED: 'AI_TAG_SUGGESTED',
                SIMILAR_DOCUMENT_FOUND: 'SIMILAR_DOCUMENT_FOUND',
                SYSTEM_ALERT: 'SYSTEM_ALERT',
                CUSTOM: 'CUSTOM',
              }[notificationTemplateRef.type ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.channel">Channel</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.NotificationChannel.' + (notificationTemplateRef.channel ?? 'null')">{{
              { null: '', EMAIL: 'EMAIL', PUSH: 'PUSH', IN_APP: 'IN_APP', SMS: 'SMS', WEBHOOK: 'WEBHOOK' }[
                notificationTemplateRef.channel ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.variables">Variables</span></dt>
          <dd>
            <span>{{ notificationTemplateRef.variables }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.isActive">Is Active</span></dt>
          <dd>
            <span>{{ notificationTemplateRef.isActive }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ notificationTemplateRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ notificationTemplateRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/notification-template', notificationTemplateRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
