<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transform-conversion-job-heading"
        data-cy="TransformConversionJobCreateUpdateHeading"
        jhiTranslate="gatewayApp.transformServiceTransformConversionJob.home.createOrEditLabel"
      >
        Create or edit a Transform Conversion Job
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.transformServiceTransformConversionJob.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentSha256Ref = editForm.get('documentSha256')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_documentSha256"
            jhiTranslate="gatewayApp.transformServiceTransformConversionJob.documentSha256"
            >Document Sha 256</label
          >
          <input
            type="text"
            class="form-control"
            name="documentSha256"
            id="field_documentSha256"
            data-cy="documentSha256"
            formControlName="documentSha256"
          />
          @if (documentSha256Ref.invalid && (documentSha256Ref.dirty || documentSha256Ref.touched)) {
            <div>
              @if (editForm.get('documentSha256')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('documentSha256')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        @let sourceFormatRef = editForm.get('sourceFormat')!;
        <div class="mb-3">
          <label class="form-label" for="field_sourceFormat" jhiTranslate="gatewayApp.transformServiceTransformConversionJob.sourceFormat"
            >Source Format</label
          >
          <input
            type="text"
            class="form-control"
            name="sourceFormat"
            id="field_sourceFormat"
            data-cy="sourceFormat"
            formControlName="sourceFormat"
          />
          @if (sourceFormatRef.invalid && (sourceFormatRef.dirty || sourceFormatRef.touched)) {
            <div>
              @if (editForm.get('sourceFormat')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('sourceFormat')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let targetFormatRef = editForm.get('targetFormat')!;
        <div class="mb-3">
          <label class="form-label" for="field_targetFormat" jhiTranslate="gatewayApp.transformServiceTransformConversionJob.targetFormat"
            >Target Format</label
          >
          <input
            type="text"
            class="form-control"
            name="targetFormat"
            id="field_targetFormat"
            data-cy="targetFormat"
            formControlName="targetFormat"
          />
          @if (targetFormatRef.invalid && (targetFormatRef.dirty || targetFormatRef.touched)) {
            <div>
              @if (editForm.get('targetFormat')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('targetFormat')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let conversionEngineRef = editForm.get('conversionEngine')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_conversionEngine"
            jhiTranslate="gatewayApp.transformServiceTransformConversionJob.conversionEngine"
            >Conversion Engine</label
          >
          <input
            type="text"
            class="form-control"
            name="conversionEngine"
            id="field_conversionEngine"
            data-cy="conversionEngine"
            formControlName="conversionEngine"
          />
          @if (conversionEngineRef.invalid && (conversionEngineRef.dirty || conversionEngineRef.touched)) {
            <div>
              @if (editForm.get('conversionEngine')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_options" jhiTranslate="gatewayApp.transformServiceTransformConversionJob.options"
            >Options</label
          >
          <textarea class="form-control" name="options" id="field_options" data-cy="options" formControlName="options"></textarea>
        </div>

        @let outputS3KeyRef = editForm.get('outputS3Key')!;
        <div class="mb-3">
          <label class="form-label" for="field_outputS3Key" jhiTranslate="gatewayApp.transformServiceTransformConversionJob.outputS3Key"
            >Output S 3 Key</label
          >
          <input
            type="text"
            class="form-control"
            name="outputS3Key"
            id="field_outputS3Key"
            data-cy="outputS3Key"
            formControlName="outputS3Key"
          />
          @if (outputS3KeyRef.invalid && (outputS3KeyRef.dirty || outputS3KeyRef.touched)) {
            <div>
              @if (editForm.get('outputS3Key')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        @let outputDocumentSha256Ref = editForm.get('outputDocumentSha256')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_outputDocumentSha256"
            jhiTranslate="gatewayApp.transformServiceTransformConversionJob.outputDocumentSha256"
            >Output Document Sha 256</label
          >
          <input
            type="text"
            class="form-control"
            name="outputDocumentSha256"
            id="field_outputDocumentSha256"
            data-cy="outputDocumentSha256"
            formControlName="outputDocumentSha256"
          />
          @if (outputDocumentSha256Ref.invalid && (outputDocumentSha256Ref.dirty || outputDocumentSha256Ref.touched)) {
            <div>
              @if (editForm.get('outputDocumentSha256')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="gatewayApp.transformServiceTransformConversionJob.status"
            >Status</label
          >
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.TransformStatus.null' | translate }}</option>
            @for (transformStatus of transformStatusValues; track $index) {
              <option [value]="transformStatus">{{ 'gatewayApp.TransformStatus.' + transformStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_startDate" jhiTranslate="gatewayApp.transformServiceTransformConversionJob.startDate"
            >Start Date</label
          >
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_endDate" jhiTranslate="gatewayApp.transformServiceTransformConversionJob.endDate"
            >End Date</label
          >
          <div class="d-flex">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="datetime-local"
              class="form-control"
              name="endDate"
              formControlName="endDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_errorMessage" jhiTranslate="gatewayApp.transformServiceTransformConversionJob.errorMessage"
            >Error Message</label
          >
          <textarea
            class="form-control"
            name="errorMessage"
            id="field_errorMessage"
            data-cy="errorMessage"
            formControlName="errorMessage"
          ></textarea>
        </div>

        @let createdByRef = editForm.get('createdBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="gatewayApp.transformServiceTransformConversionJob.createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (createdByRef.invalid && (createdByRef.dirty || createdByRef.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('createdBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let createdDateRef = editForm.get('createdDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="gatewayApp.transformServiceTransformConversionJob.createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdDateRef.invalid && (createdDateRef.dirty || createdDateRef.touched)) {
            <div>
              @if (editForm.get('createdDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
