<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (invoiceLine(); as invoiceLineRef) {
      <div>
        <h2 data-cy="invoiceLineDetailsHeading">
          <span jhiTranslate="gatewayApp.businessDocServiceInvoiceLine.detail.title">Invoice Line</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ invoiceLineRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceInvoiceLine.invoiceId">Invoice Id</span></dt>
          <dd>
            <span>{{ invoiceLineRef.invoiceId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceInvoiceLine.lineNumber">Line Number</span></dt>
          <dd>
            <span>{{ invoiceLineRef.lineNumber }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceInvoiceLine.description">Description</span></dt>
          <dd>
            <span>{{ invoiceLineRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceInvoiceLine.quantity">Quantity</span></dt>
          <dd>
            <span>{{ invoiceLineRef.quantity }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceInvoiceLine.unitPrice">Unit Price</span></dt>
          <dd>
            <span>{{ invoiceLineRef.unitPrice }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceInvoiceLine.taxRate">Tax Rate</span></dt>
          <dd>
            <span>{{ invoiceLineRef.taxRate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceInvoiceLine.totalAmountExclTax">Total Amount Excl Tax</span></dt>
          <dd>
            <span>{{ invoiceLineRef.totalAmountExclTax }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceInvoiceLine.invoice">Invoice</span></dt>
          <dd>
            @if (invoiceLine()!.invoice) {
              <div>
                <a [routerLink]="['/invoice', invoiceLine()!.invoice?.id, 'view']">{{ invoiceLineRef.invoice?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/invoice-line', invoiceLineRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
