<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-system-health-heading"
        data-cy="SystemHealthCreateUpdateHeading"
        jhiTranslate="gatewayApp.monitoringServiceSystemHealth.home.createOrEditLabel"
      >
        Create or edit a System Health
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.monitoringServiceSystemHealth.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let serviceNameRef = editForm.get('serviceName')!;
        <div class="mb-3">
          <label class="form-label" for="field_serviceName" jhiTranslate="gatewayApp.monitoringServiceSystemHealth.serviceName"
            >Service Name</label
          >
          <input
            type="text"
            class="form-control"
            name="serviceName"
            id="field_serviceName"
            data-cy="serviceName"
            formControlName="serviceName"
          />
          @if (serviceNameRef.invalid && (serviceNameRef.dirty || serviceNameRef.touched)) {
            <div>
              @if (editForm.get('serviceName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('serviceName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="gatewayApp.monitoringServiceSystemHealth.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.HealthStatus.null' | translate }}</option>
            @for (healthStatus of healthStatusValues; track $index) {
              <option [value]="healthStatus">{{ 'gatewayApp.HealthStatus.' + healthStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let versionRef = editForm.get('version')!;
        <div class="mb-3">
          <label class="form-label" for="field_version" jhiTranslate="gatewayApp.monitoringServiceSystemHealth.version">Version</label>
          <input type="text" class="form-control" name="version" id="field_version" data-cy="version" formControlName="version" />
          @if (versionRef.invalid && (versionRef.dirty || versionRef.touched)) {
            <div>
              @if (editForm.get('version')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_uptime" jhiTranslate="gatewayApp.monitoringServiceSystemHealth.uptime">Uptime</label>
          <input type="number" class="form-control" name="uptime" id="field_uptime" data-cy="uptime" formControlName="uptime" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cpuUsage" jhiTranslate="gatewayApp.monitoringServiceSystemHealth.cpuUsage">Cpu Usage</label>
          <input type="number" class="form-control" name="cpuUsage" id="field_cpuUsage" data-cy="cpuUsage" formControlName="cpuUsage" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_memoryUsage" jhiTranslate="gatewayApp.monitoringServiceSystemHealth.memoryUsage"
            >Memory Usage</label
          >
          <input
            type="number"
            class="form-control"
            name="memoryUsage"
            id="field_memoryUsage"
            data-cy="memoryUsage"
            formControlName="memoryUsage"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_errorRate" jhiTranslate="gatewayApp.monitoringServiceSystemHealth.errorRate"
            >Error Rate</label
          >
          <input type="number" class="form-control" name="errorRate" id="field_errorRate" data-cy="errorRate" formControlName="errorRate" />
        </div>

        @let lastCheckRef = editForm.get('lastCheck')!;
        <div class="mb-3">
          <label class="form-label" for="field_lastCheck" jhiTranslate="gatewayApp.monitoringServiceSystemHealth.lastCheck"
            >Last Check</label
          >
          <div class="d-flex">
            <input
              id="field_lastCheck"
              data-cy="lastCheck"
              type="datetime-local"
              class="form-control"
              name="lastCheck"
              formControlName="lastCheck"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (lastCheckRef.invalid && (lastCheckRef.dirty || lastCheckRef.touched)) {
            <div>
              @if (editForm.get('lastCheck')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('lastCheck')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
