<div>
  <h2 id="page-heading" data-cy="ScanJobHeading">
    <span jhiTranslate="gatewayApp.scanServiceScanJob.home.title">Scan Jobs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.scanServiceScanJob.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-scan-job"
        [routerLink]="['/scan-job/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gatewayApp.scanServiceScanJob.home.createLabel">Create a new Scan Job</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (scanJobs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.scanServiceScanJob.home.notFound">No Scan Jobs found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.description">Description</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="scannerConfigId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.scannerConfigId">Scanner Config Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="batchId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.batchId">Batch Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="documentTypeId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.documentTypeId">Document Type Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="folderId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.folderId">Folder Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="pageCount">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.pageCount">Page Count</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.status">Status</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="colorMode">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.colorMode">Color Mode</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="resolution">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.resolution">Resolution</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="fileFormat">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.fileFormat">File Format</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="errorMessage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.errorMessage">Error Message</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="scannerConfig.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.scannerConfig">Scanner Config</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="batch.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.scanServiceScanJob.batch">Batch</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (scanJob of scanJobs(); track trackId(scanJob)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/scan-job', scanJob.id, 'view']">{{ scanJob.id }}</a>
              </td>
              <td>{{ scanJob.name }}</td>
              <td>{{ scanJob.description }}</td>
              <td>{{ scanJob.scannerConfigId }}</td>
              <td>{{ scanJob.batchId }}</td>
              <td>{{ scanJob.documentTypeId }}</td>
              <td>{{ scanJob.folderId }}</td>
              <td>{{ scanJob.pageCount }}</td>
              <td [jhiTranslate]="'gatewayApp.ScanStatus.' + (scanJob.status ?? 'null')">
                {{
                  { null: '', PENDING: 'PENDING', SCANNING: 'SCANNING', COMPLETED: 'COMPLETED', FAILED: 'FAILED', CANCELLED: 'CANCELLED' }[
                    scanJob.status ?? 'null'
                  ]
                }}
              </td>
              <td [jhiTranslate]="'gatewayApp.ColorMode.' + (scanJob.colorMode ?? 'null')">
                {{
                  { null: '', BLACK_WHITE: 'BLACK_WHITE', GRAYSCALE: 'GRAYSCALE', COLOR: 'COLOR', AUTO: 'AUTO' }[
                    scanJob.colorMode ?? 'null'
                  ]
                }}
              </td>
              <td>{{ scanJob.resolution }}</td>
              <td [jhiTranslate]="'gatewayApp.ScanFormat.' + (scanJob.fileFormat ?? 'null')">
                {{ { null: '', PDF: 'PDF', TIFF: 'TIFF', JPEG: 'JPEG', PNG: 'PNG' }[scanJob.fileFormat ?? 'null'] }}
              </td>
              <td>{{ scanJob.startDate | formatMediumDatetime }}</td>
              <td>{{ scanJob.endDate | formatMediumDatetime }}</td>
              <td>{{ scanJob.errorMessage }}</td>
              <td>{{ scanJob.createdBy }}</td>
              <td>{{ scanJob.createdDate | formatMediumDatetime }}</td>
              <td>
                @if (scanJob.scannerConfig) {
                  <div>
                    <a [routerLink]="['/scanner-configuration', scanJob.scannerConfig.id, 'view']">{{ scanJob.scannerConfig.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (scanJob.batch) {
                  <div>
                    <a [routerLink]="['/scan-batch', scanJob.batch.id, 'view']">{{ scanJob.batch.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/scan-job', scanJob.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/scan-job', scanJob.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(scanJob)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (scanJobs().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
