<div>
  <h2 id="page-heading" data-cy="DocumentSimilarityHeading">
    <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.home.title">Document Similarities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-document-similarity"
        [routerLink]="['/document-similarity/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.home.createLabel">Create a new Document Similarity</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (documentSimilarities().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.home.notFound">No Document Similarities found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="documentId1">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.documentId1">Document Id 1</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="documentId2">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.documentId2">Document Id 2</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="similarityScore">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.similarityScore">Similarity Score</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="algorithm">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.algorithm">Algorithm</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="features">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.features">Features</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="computedDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.computedDate">Computed Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="isRelevant">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.isRelevant">Is Relevant</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="reviewedBy">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.reviewedBy">Reviewed By</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="reviewedDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.reviewedDate">Reviewed Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="job.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.similarityServiceDocumentSimilarity.job">Job</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (documentSimilarity of documentSimilarities(); track trackId(documentSimilarity)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/document-similarity', documentSimilarity.id, 'view']">{{ documentSimilarity.id }}</a>
              </td>
              <td>{{ documentSimilarity.documentId1 }}</td>
              <td>{{ documentSimilarity.documentId2 }}</td>
              <td>{{ documentSimilarity.similarityScore }}</td>
              <td [jhiTranslate]="'gatewayApp.SimilarityAlgorithm.' + (documentSimilarity.algorithm ?? 'null')">
                {{
                  {
                    null: '',
                    COSINE: 'COSINE',
                    JACCARD: 'JACCARD',
                    LEVENSHTEIN: 'LEVENSHTEIN',
                    LSH: 'LSH',
                    DEEP_LEARNING: 'DEEP_LEARNING',
                    COMBINED: 'COMBINED',
                  }[documentSimilarity.algorithm ?? 'null']
                }}
              </td>
              <td>{{ documentSimilarity.features }}</td>
              <td>{{ documentSimilarity.computedDate | formatMediumDatetime }}</td>
              <td>{{ documentSimilarity.isRelevant }}</td>
              <td>{{ documentSimilarity.reviewedBy }}</td>
              <td>{{ documentSimilarity.reviewedDate | formatMediumDatetime }}</td>
              <td>
                @if (documentSimilarity.job) {
                  <div>
                    <a [routerLink]="['/similarity-job', documentSimilarity.job.id, 'view']">{{ documentSimilarity.job.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/document-similarity', documentSimilarity.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/document-similarity', documentSimilarity.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(documentSimilarity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (documentSimilarities().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
