<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (documentServiceStatus(); as documentServiceStatusRef) {
      <div>
        <h2 data-cy="documentServiceStatusDetailsHeading">
          <span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.detail.title">Document Service Status</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ documentServiceStatusRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.documentId">Document Id</span></dt>
          <dd>
            <span>{{ documentServiceStatusRef.documentId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.serviceType">Service Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.ServiceType.' + (documentServiceStatusRef.serviceType ?? 'null')">{{
              {
                null: '',
                OCR_SERVICE: 'OCR_SERVICE',
                AI_SERVICE: 'AI_SERVICE',
                WORKFLOW_SERVICE: 'WORKFLOW_SERVICE',
                SEARCH_SERVICE: 'SEARCH_SERVICE',
                TRANSFORM_SERVICE: 'TRANSFORM_SERVICE',
                ARCHIVE_SERVICE: 'ARCHIVE_SERVICE',
                EXPORT_SERVICE: 'EXPORT_SERVICE',
                SIMILARITY_SERVICE: 'SIMILARITY_SERVICE',
                BUSINESS_SERVICE: 'BUSINESS_SERVICE',
                SCAN_SERVICE: 'SCAN_SERVICE',
                EMAIL_IMPORT_SERVICE: 'EMAIL_IMPORT_SERVICE',
                REPORTING_SERVICE: 'REPORTING_SERVICE',
                MONITORING_SERVICE: 'MONITORING_SERVICE',
              }[documentServiceStatusRef.serviceType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.ServiceStatus.' + (documentServiceStatusRef.status ?? 'null')">{{
              {
                null: '',
                NOT_APPLICABLE: 'NOT_APPLICABLE',
                PENDING: 'PENDING',
                QUEUED: 'QUEUED',
                IN_PROGRESS: 'IN_PROGRESS',
                COMPLETED: 'COMPLETED',
                FAILED: 'FAILED',
                CANCELLED: 'CANCELLED',
                SKIPPED: 'SKIPPED',
                RETRYING: 'RETRYING',
                PARTIALLY_COMPLETED: 'PARTIALLY_COMPLETED',
              }[documentServiceStatusRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.statusDetails">Status Details</span></dt>
          <dd>
            <span>{{ documentServiceStatusRef.statusDetails }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.errorMessage">Error Message</span></dt>
          <dd>
            <span>{{ documentServiceStatusRef.errorMessage }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.retryCount">Retry Count</span></dt>
          <dd>
            <span>{{ documentServiceStatusRef.retryCount }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.lastProcessedDate">Last Processed Date</span></dt>
          <dd>
            <span>{{ documentServiceStatusRef.lastProcessedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.processingStartDate">Processing Start Date</span></dt>
          <dd>
            <span>{{ documentServiceStatusRef.processingStartDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.processingEndDate">Processing End Date</span></dt>
          <dd>
            <span>{{ documentServiceStatusRef.processingEndDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.processingDuration">Processing Duration</span></dt>
          <dd>
            <span>{{ documentServiceStatusRef.processingDuration }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.jobId">Job Id</span></dt>
          <dd>
            <span>{{ documentServiceStatusRef.jobId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.priority">Priority</span></dt>
          <dd>
            <span>{{ documentServiceStatusRef.priority }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.updatedBy">Updated By</span></dt>
          <dd>
            <span>{{ documentServiceStatusRef.updatedBy }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.updatedDate">Updated Date</span></dt>
          <dd>
            <span>{{ documentServiceStatusRef.updatedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.document">Document</span></dt>
          <dd>
            @if (documentServiceStatus()!.document) {
              <div>
                <a [routerLink]="['/document', documentServiceStatus()!.document?.id, 'view']">{{
                  documentServiceStatusRef.document?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/document-service-status', documentServiceStatusRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
