<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-notification-template-heading"
        data-cy="NotificationTemplateCreateUpdateHeading"
        jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.home.createOrEditLabel"
      >
        Create or edit a Notification Template
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let subjectRef = editForm.get('subject')!;
        <div class="mb-3">
          <label class="form-label" for="field_subject" jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.subject"
            >Subject</label
          >
          <input type="text" class="form-control" name="subject" id="field_subject" data-cy="subject" formControlName="subject" />
          @if (subjectRef.invalid && (subjectRef.dirty || subjectRef.touched)) {
            <div>
              @if (editForm.get('subject')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('subject')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let bodyTemplateRef = editForm.get('bodyTemplate')!;
        <div class="mb-3">
          <label class="form-label" for="field_bodyTemplate" jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.bodyTemplate"
            >Body Template</label
          >
          <textarea
            class="form-control"
            name="bodyTemplate"
            id="field_bodyTemplate"
            data-cy="bodyTemplate"
            formControlName="bodyTemplate"
          ></textarea>
          @if (bodyTemplateRef.invalid && (bodyTemplateRef.dirty || bodyTemplateRef.touched)) {
            <div>
              @if (editForm.get('bodyTemplate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'gatewayApp.NotificationType.null' | translate }}</option>
            @for (notificationType of notificationTypeValues; track $index) {
              <option [value]="notificationType">{{ 'gatewayApp.NotificationType.' + notificationType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_channel" jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.channel"
            >Channel</label
          >
          <select class="form-control" name="channel" formControlName="channel" id="field_channel" data-cy="channel">
            <option [ngValue]="null">{{ 'gatewayApp.NotificationChannel.null' | translate }}</option>
            @for (notificationChannel of notificationChannelValues; track $index) {
              <option [value]="notificationChannel">{{ 'gatewayApp.NotificationChannel.' + notificationChannel | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_variables" jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.variables"
            >Variables</label
          >
          <textarea class="form-control" name="variables" id="field_variables" data-cy="variables" formControlName="variables"></textarea>
        </div>

        @let isActiveRef = editForm.get('isActive')!;
        <div class="mb-3">
          <label class="form-label" for="field_isActive" jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.isActive"
            >Is Active</label
          >
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
          @if (isActiveRef.invalid && (isActiveRef.dirty || isActiveRef.touched)) {
            <div>
              @if (editForm.get('isActive')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let createdDateRef = editForm.get('createdDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdDateRef.invalid && (createdDateRef.dirty || createdDateRef.touched)) {
            <div>
              @if (editForm.get('createdDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_lastModifiedDate"
            jhiTranslate="gatewayApp.notificationServiceNotificationTemplate.lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
