<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (documentProcess(); as documentProcessRef) {
      <div>
        <h2 data-cy="documentProcessDetailsHeading">
          <span jhiTranslate="gatewayApp.documentProcess.detail.title">Document Process</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ documentProcessRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentProcess.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.WorkflowInstanceStatus.' + (documentProcessRef.status ?? 'null')">{{
              {
                null: '',
                PENDING: 'PENDING',
                IN_PROGRESS: 'IN_PROGRESS',
                COMPLETED: 'COMPLETED',
                CANCELLED: 'CANCELLED',
                REJECTED: 'REJECTED',
                ON_HOLD: 'ON_HOLD',
              }[documentProcessRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.documentProcess.documentSha256">Document Sha 256</span></dt>
          <dd>
            <span>{{ documentProcessRef.documentSha256 }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/document-process', documentProcessRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
