<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (contractClause(); as contractClauseRef) {
      <div>
        <h2 data-cy="contractClauseDetailsHeading">
          <span jhiTranslate="gatewayApp.businessDocServiceContractClause.detail.title">Contract Clause</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ contractClauseRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceContractClause.contractId">Contract Id</span></dt>
          <dd>
            <span>{{ contractClauseRef.contractId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceContractClause.clauseNumber">Clause Number</span></dt>
          <dd>
            <span>{{ contractClauseRef.clauseNumber }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceContractClause.title">Title</span></dt>
          <dd>
            <span>{{ contractClauseRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceContractClause.content">Content</span></dt>
          <dd>
            <span>{{ contractClauseRef.content }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceContractClause.clauseType">Clause Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.ClauseType.' + (contractClauseRef.clauseType ?? 'null')">{{
              {
                null: '',
                GENERAL: 'GENERAL',
                PAYMENT: 'PAYMENT',
                TERMINATION: 'TERMINATION',
                CONFIDENTIALITY: 'CONFIDENTIALITY',
                LIABILITY: 'LIABILITY',
                DISPUTE_RESOLUTION: 'DISPUTE_RESOLUTION',
                INTELLECTUAL_PROPERTY: 'INTELLECTUAL_PROPERTY',
                WARRANTY: 'WARRANTY',
                FORCE_MAJEURE: 'FORCE_MAJEURE',
                AMENDMENT: 'AMENDMENT',
              }[contractClauseRef.clauseType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceContractClause.isMandatory">Is Mandatory</span></dt>
          <dd>
            <span>{{ contractClauseRef.isMandatory }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.businessDocServiceContractClause.contract">Contract</span></dt>
          <dd>
            @if (contractClause()!.contract) {
              <div>
                <a [routerLink]="['/contract', contractClause()!.contract?.id, 'view']">{{ contractClauseRef.contract?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/contract-clause', contractClauseRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
