<div>
  <h2 id="page-heading" data-cy="DashboardHeading">
    <span jhiTranslate="gatewayApp.reportingServiceDashboard.home.title">Dashboards</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.reportingServiceDashboard.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dashboard"
        [routerLink]="['/dashboard/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gatewayApp.reportingServiceDashboard.home.createLabel">Create a new Dashboard</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (dashboards().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.reportingServiceDashboard.home.notFound">No Dashboards found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboard.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboard.description">Description</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="userId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboard.userId">User Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="isPublic">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboard.isPublic">Is Public</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="layout">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboard.layout">Layout</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="refreshInterval">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboard.refreshInterval">Refresh Interval</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="isDefault">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboard.isDefault">Is Default</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboard.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (dashboard of dashboards(); track trackId(dashboard)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/dashboard', dashboard.id, 'view']">{{ dashboard.id }}</a>
              </td>
              <td>{{ dashboard.name }}</td>
              <td>{{ dashboard.description }}</td>
              <td>{{ dashboard.userId }}</td>
              <td>{{ dashboard.isPublic }}</td>
              <td>{{ dashboard.layout }}</td>
              <td>{{ dashboard.refreshInterval }}</td>
              <td>{{ dashboard.isDefault }}</td>
              <td>{{ dashboard.createdDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/dashboard', dashboard.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/dashboard', dashboard.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(dashboard)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (dashboards().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
