<div>
  <h2 id="page-heading" data-cy="ImportMappingHeading">
    <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.home.title">Import Mappings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-import-mapping"
        [routerLink]="['/import-mapping/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.home.createLabel">Create a new Import Mapping</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (importMappings().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.home.notFound">No Import Mappings found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="ruleId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.ruleId">Rule Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="emailField">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.emailField">Email Field</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="documentField">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.documentField">Document Field</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="transformation">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.transformation">Transformation</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="transformationConfig">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.transformationConfig">Transformation Config</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="isRequired">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.isRequired">Is Required</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="defaultValue">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.defaultValue">Default Value</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="validationRegex">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.validationRegex">Validation Regex</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="rule.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.emailImportServiceImportMapping.rule">Rule</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (importMapping of importMappings(); track trackId(importMapping)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/import-mapping', importMapping.id, 'view']">{{ importMapping.id }}</a>
              </td>
              <td>{{ importMapping.ruleId }}</td>
              <td [jhiTranslate]="'gatewayApp.EmailField.' + (importMapping.emailField ?? 'null')">
                {{
                  {
                    null: '',
                    FROM: 'FROM',
                    TO: 'TO',
                    CC: 'CC',
                    BCC: 'BCC',
                    SUBJECT: 'SUBJECT',
                    BODY: 'BODY',
                    BODY_HTML: 'BODY_HTML',
                    DATE: 'DATE',
                    ATTACHMENT_NAME: 'ATTACHMENT_NAME',
                    ATTACHMENT_COUNT: 'ATTACHMENT_COUNT',
                    MESSAGE_ID: 'MESSAGE_ID',
                    IN_REPLY_TO: 'IN_REPLY_TO',
                    HEADERS: 'HEADERS',
                  }[importMapping.emailField ?? 'null']
                }}
              </td>
              <td>{{ importMapping.documentField }}</td>
              <td [jhiTranslate]="'gatewayApp.MappingTransformation.' + (importMapping.transformation ?? 'null')">
                {{
                  {
                    null: '',
                    NONE: 'NONE',
                    UPPERCASE: 'UPPERCASE',
                    LOWERCASE: 'LOWERCASE',
                    TRIM: 'TRIM',
                    EXTRACT_DATE: 'EXTRACT_DATE',
                    EXTRACT_NUMBER: 'EXTRACT_NUMBER',
                    EXTRACT_EMAIL: 'EXTRACT_EMAIL',
                    REGEX_EXTRACT: 'REGEX_EXTRACT',
                    REPLACE: 'REPLACE',
                    SPLIT: 'SPLIT',
                    CONCAT: 'CONCAT',
                    CUSTOM: 'CUSTOM',
                  }[importMapping.transformation ?? 'null']
                }}
              </td>
              <td>{{ importMapping.transformationConfig }}</td>
              <td>{{ importMapping.isRequired }}</td>
              <td>{{ importMapping.defaultValue }}</td>
              <td>{{ importMapping.validationRegex }}</td>
              <td>
                @if (importMapping.rule) {
                  <div>
                    <a [routerLink]="['/import-rule', importMapping.rule.id, 'view']">{{ importMapping.rule.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/import-mapping', importMapping.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/import-mapping', importMapping.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(importMapping)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (importMappings().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
