<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (serviceStatus(); as serviceStatusRef) {
      <div>
        <h2 data-cy="serviceStatusDetailsHeading">
          <span jhiTranslate="gatewayApp.monitoringServiceServiceStatus.detail.title">Service Status</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ serviceStatusRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceServiceStatus.serviceName">Service Name</span></dt>
          <dd>
            <span>{{ serviceStatusRef.serviceName }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceServiceStatus.serviceType">Service Type</span></dt>
          <dd>
            <span>{{ serviceStatusRef.serviceType }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceServiceStatus.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.ServiceStatusType.' + (serviceStatusRef.status ?? 'null')">{{
              {
                null: '',
                RUNNING: 'RUNNING',
                STARTING: 'STARTING',
                STOPPING: 'STOPPING',
                STOPPED: 'STOPPED',
                ERROR: 'ERROR',
                MAINTENANCE: 'MAINTENANCE',
              }[serviceStatusRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceServiceStatus.endpoint">Endpoint</span></dt>
          <dd>
            <span>{{ serviceStatusRef.endpoint }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceServiceStatus.port">Port</span></dt>
          <dd>
            <span>{{ serviceStatusRef.port }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceServiceStatus.version">Version</span></dt>
          <dd>
            <span>{{ serviceStatusRef.version }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceServiceStatus.lastPing">Last Ping</span></dt>
          <dd>
            <span>{{ serviceStatusRef.lastPing | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceServiceStatus.isHealthy">Is Healthy</span></dt>
          <dd>
            <span>{{ serviceStatusRef.isHealthy }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/service-status', serviceStatusRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
