<div>
  <h2 id="page-heading" data-cy="ExtractedFieldHeading">
    <span jhiTranslate="gatewayApp.documentServiceExtractedField.home.title">Extracted Fields</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.documentServiceExtractedField.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-extracted-field"
        [routerLink]="['/extracted-field/new']"
      >
        <fa-icon icon="plus" />
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.documentServiceExtractedField.home.createLabel"
          >Create a new Extracted Field</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.documentServiceExtractedField.home.search"
          >Search for Extracted Field</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.documentServiceExtractedField.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search" />
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt" />
          </button>
        }
      </div>
    </div>
  </form>

  @if (extractedFields().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.documentServiceExtractedField.home.notFound">No Extracted Fields found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="documentId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceExtractedField.documentId">Document Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="fieldKey">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceExtractedField.fieldKey">Field Key</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="fieldValue">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceExtractedField.fieldValue">Field Value</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="confidence">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceExtractedField.confidence">Confidence</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="extractionMethod">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceExtractedField.extractionMethod">Extraction Method</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="isVerified">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceExtractedField.isVerified">Is Verified</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="extractedDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceExtractedField.extractedDate">Extracted Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (extractedField of extractedFields(); track trackId(extractedField)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/extracted-field', extractedField.id, 'view']">{{ extractedField.id }}</a>
              </td>
              <td>{{ extractedField.documentId }}</td>
              <td>{{ extractedField.fieldKey }}</td>
              <td>{{ extractedField.fieldValue }}</td>
              <td>{{ extractedField.confidence }}</td>
              <td [jhiTranslate]="'gatewayApp.ExtractionMethod.' + (extractedField.extractionMethod ?? 'null')">
                {{
                  {
                    null: '',
                    OCR: 'OCR',
                    NLP: 'NLP',
                    REGEX: 'REGEX',
                    MANUAL: 'MANUAL',
                    AI_MODEL: 'AI_MODEL',
                    TEMPLATE_MATCHING: 'TEMPLATE_MATCHING',
                    BARCODE: 'BARCODE',
                    QR_CODE: 'QR_CODE',
                  }[extractedField.extractionMethod ?? 'null']
                }}
              </td>
              <td>{{ extractedField.isVerified }}</td>
              <td>{{ extractedField.extractedDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/extracted-field', extractedField.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/extracted-field', extractedField.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(extractedField)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (extractedFields().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
