<div>
  <h2 id="page-heading" data-cy="DocumentTagHeading">
    <span jhiTranslate="gatewayApp.documentServiceDocumentTag.home.title">Document Tags</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.documentServiceDocumentTag.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-document-tag"
        [routerLink]="['/document-tag/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.documentServiceDocumentTag.home.createLabel">Create a new Document Tag</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.documentServiceDocumentTag.home.search"
          >Search for Document Tag</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.documentServiceDocumentTag.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (documentTags().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.documentServiceDocumentTag.home.notFound">No Document Tags found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="assignedDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentTag.assignedDate">Assigned Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="assignedBy">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentTag.assignedBy">Assigned By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="confidence">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentTag.confidence">Confidence</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isAutoMetaTagged">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentTag.isAutoMetaTagged">Is Auto Meta Tagged</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="source">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentTag.source">Source</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="document.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentTag.document">Document</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="metaTag.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceDocumentTag.metaTag">Meta Tag</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (documentTag of documentTags(); track trackId(documentTag)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/document-tag', documentTag.id, 'view']">{{ documentTag.id }}</a>
              </td>
              <td>{{ documentTag.assignedDate | formatMediumDatetime }}</td>
              <td>{{ documentTag.assignedBy }}</td>
              <td>{{ documentTag.confidence }}</td>
              <td>{{ documentTag.isAutoMetaTagged }}</td>
              <td [jhiTranslate]="'gatewayApp.MetaTagSource.' + (documentTag.source ?? 'null')">
                {{
                  {
                    null: '',
                    MANUAL: 'MANUAL',
                    AI_SUGGESTED: 'AI_SUGGESTED',
                    AI_CONFIRMED: 'AI_CONFIRMED',
                    RULE_BASED: 'RULE_BASED',
                    IMPORTED: 'IMPORTED',
                  }[documentTag.source ?? 'null']
                }}
              </td>
              <td>
                @if (documentTag.document) {
                  <div>
                    <a [routerLink]="['/document', documentTag.document.id, 'view']">{{ documentTag.document.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (documentTag.metaTag) {
                  <div>
                    <a [routerLink]="['/meta-tag', documentTag.metaTag.id, 'view']">{{ documentTag.metaTag.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/document-tag', documentTag.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/document-tag', documentTag.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(documentTag)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
