<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-webhook-subscription-heading"
        data-cy="WebhookSubscriptionCreateUpdateHeading"
        jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.home.createOrEditLabel"
      >
        Create or edit a Webhook Subscription
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let urlRef = editForm.get('url')!;
        <div class="mb-3">
          <label class="form-label" for="field_url" jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
          @if (urlRef.invalid && (urlRef.dirty || urlRef.touched)) {
            <div>
              @if (editForm.get('url')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('url')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        @let secretRef = editForm.get('secret')!;
        <div class="mb-3">
          <label class="form-label" for="field_secret" jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.secret"
            >Secret</label
          >
          <input type="text" class="form-control" name="secret" id="field_secret" data-cy="secret" formControlName="secret" />
          @if (secretRef.invalid && (secretRef.dirty || secretRef.touched)) {
            <div>
              @if (editForm.get('secret')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let eventsRef = editForm.get('events')!;
        <div class="mb-3">
          <label class="form-label" for="field_events" jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.events"
            >Events</label
          >
          <textarea class="form-control" name="events" id="field_events" data-cy="events" formControlName="events"></textarea>
          @if (eventsRef.invalid && (eventsRef.dirty || eventsRef.touched)) {
            <div>
              @if (editForm.get('events')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_headers" jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.headers"
            >Headers</label
          >
          <textarea class="form-control" name="headers" id="field_headers" data-cy="headers" formControlName="headers"></textarea>
        </div>

        @let isActiveRef = editForm.get('isActive')!;
        <div class="mb-3">
          <label class="form-label" for="field_isActive" jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.isActive"
            >Is Active</label
          >
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
          @if (isActiveRef.invalid && (isActiveRef.dirty || isActiveRef.touched)) {
            <div>
              @if (editForm.get('isActive')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_retryCount" jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.retryCount"
            >Retry Count</label
          >
          <input
            type="number"
            class="form-control"
            name="retryCount"
            id="field_retryCount"
            data-cy="retryCount"
            formControlName="retryCount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_maxRetries" jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.maxRetries"
            >Max Retries</label
          >
          <input
            type="number"
            class="form-control"
            name="maxRetries"
            id="field_maxRetries"
            data-cy="maxRetries"
            formControlName="maxRetries"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_retryDelay" jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.retryDelay"
            >Retry Delay</label
          >
          <input
            type="number"
            class="form-control"
            name="retryDelay"
            id="field_retryDelay"
            data-cy="retryDelay"
            formControlName="retryDelay"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_lastTriggerDate"
            jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.lastTriggerDate"
            >Last Trigger Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastTriggerDate"
              data-cy="lastTriggerDate"
              type="datetime-local"
              class="form-control"
              name="lastTriggerDate"
              formControlName="lastTriggerDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_lastSuccessDate"
            jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.lastSuccessDate"
            >Last Success Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastSuccessDate"
              data-cy="lastSuccessDate"
              type="datetime-local"
              class="form-control"
              name="lastSuccessDate"
              formControlName="lastSuccessDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_lastErrorMessage"
            jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.lastErrorMessage"
            >Last Error Message</label
          >
          <textarea
            class="form-control"
            name="lastErrorMessage"
            id="field_lastErrorMessage"
            data-cy="lastErrorMessage"
            formControlName="lastErrorMessage"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_failureCount" jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.failureCount"
            >Failure Count</label
          >
          <input
            type="number"
            class="form-control"
            name="failureCount"
            id="field_failureCount"
            data-cy="failureCount"
            formControlName="failureCount"
          />
        </div>

        @let createdByRef = editForm.get('createdBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (createdByRef.invalid && (createdByRef.dirty || createdByRef.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('createdBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let createdDateRef = editForm.get('createdDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdDateRef.invalid && (createdDateRef.dirty || createdDateRef.touched)) {
            <div>
              @if (editForm.get('createdDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_lastModifiedDate"
            jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
