<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-archive-document-heading"
        data-cy="ArchiveDocumentCreateUpdateHeading"
        jhiTranslate="gatewayApp.archiveServiceArchiveDocument.home.createOrEditLabel"
      >
        Create or edit a Archive Document
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.archiveServiceArchiveDocument.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let archiveJobIdRef = editForm.get('archiveJobId')!;
        <div class="mb-3">
          <label class="form-label" for="field_archiveJobId" jhiTranslate="gatewayApp.archiveServiceArchiveDocument.archiveJobId"
            >Archive Job Id</label
          >
          <input
            type="number"
            class="form-control"
            name="archiveJobId"
            id="field_archiveJobId"
            data-cy="archiveJobId"
            formControlName="archiveJobId"
          />
          @if (archiveJobIdRef.invalid && (archiveJobIdRef.dirty || archiveJobIdRef.touched)) {
            <div>
              @if (editForm.get('archiveJobId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('archiveJobId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let documentIdRef = editForm.get('documentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentId" jhiTranslate="gatewayApp.archiveServiceArchiveDocument.documentId"
            >Document Id</label
          >
          <input
            type="number"
            class="form-control"
            name="documentId"
            id="field_documentId"
            data-cy="documentId"
            formControlName="documentId"
          />
          @if (documentIdRef.invalid && (documentIdRef.dirty || documentIdRef.touched)) {
            <div>
              @if (editForm.get('documentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('documentId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let documentSha256Ref = editForm.get('documentSha256')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentSha256" jhiTranslate="gatewayApp.archiveServiceArchiveDocument.documentSha256"
            >Document Sha 256</label
          >
          <input
            type="text"
            class="form-control"
            name="documentSha256"
            id="field_documentSha256"
            data-cy="documentSha256"
            formControlName="documentSha256"
          />
          @if (documentSha256Ref.invalid && (documentSha256Ref.dirty || documentSha256Ref.touched)) {
            <div>
              @if (editForm.get('documentSha256')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('documentSha256')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        @let originalPathRef = editForm.get('originalPath')!;
        <div class="mb-3">
          <label class="form-label" for="field_originalPath" jhiTranslate="gatewayApp.archiveServiceArchiveDocument.originalPath"
            >Original Path</label
          >
          <input
            type="text"
            class="form-control"
            name="originalPath"
            id="field_originalPath"
            data-cy="originalPath"
            formControlName="originalPath"
          />
          @if (originalPathRef.invalid && (originalPathRef.dirty || originalPathRef.touched)) {
            <div>
              @if (editForm.get('originalPath')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        @let archivePathRef = editForm.get('archivePath')!;
        <div class="mb-3">
          <label class="form-label" for="field_archivePath" jhiTranslate="gatewayApp.archiveServiceArchiveDocument.archivePath"
            >Archive Path</label
          >
          <input
            type="text"
            class="form-control"
            name="archivePath"
            id="field_archivePath"
            data-cy="archivePath"
            formControlName="archivePath"
          />
          @if (archivePathRef.invalid && (archivePathRef.dirty || archivePathRef.touched)) {
            <div>
              @if (editForm.get('archivePath')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fileSize" jhiTranslate="gatewayApp.archiveServiceArchiveDocument.fileSize">File Size</label>
          <input type="number" class="form-control" name="fileSize" id="field_fileSize" data-cy="fileSize" formControlName="fileSize" />
        </div>

        @let addedDateRef = editForm.get('addedDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_addedDate" jhiTranslate="gatewayApp.archiveServiceArchiveDocument.addedDate"
            >Added Date</label
          >
          <div class="d-flex">
            <input
              id="field_addedDate"
              data-cy="addedDate"
              type="datetime-local"
              class="form-control"
              name="addedDate"
              formControlName="addedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (addedDateRef.invalid && (addedDateRef.dirty || addedDateRef.touched)) {
            <div>
              @if (editForm.get('addedDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('addedDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_archiveJob" jhiTranslate="gatewayApp.archiveServiceArchiveDocument.archiveJob"
            >Archive Job</label
          >
          <select
            class="form-control"
            id="field_archiveJob"
            data-cy="archiveJob"
            name="archiveJob"
            formControlName="archiveJob"
            [compareWith]="compareArchiveJob"
          >
            @if (!editForm.get('archiveJob')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (archiveJobOption of archiveJobsSharedCollection; track $index) {
              <option [ngValue]="archiveJobOption">{{ archiveJobOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['archiveJob'])!.invalid && (editForm.get(['archiveJob'])!.dirty || editForm.get(['archiveJob'])!.touched)) {
          <div>
            @if (editForm.get(['archiveJob'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
