<div>
  <h2 id="page-heading" data-cy="MergeJobHeading">
    <span jhiTranslate="gatewayApp.transformServiceMergeJob.home.title">Merge Jobs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.transformServiceMergeJob.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-merge-job"
        [routerLink]="['/merge-job/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.transformServiceMergeJob.home.createLabel">Create a new Merge Job</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (mergeJobs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.transformServiceMergeJob.home.notFound">No Merge Jobs found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sourceDocumentIds">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.sourceDocumentIds">Source Document Ids</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mergeOrder">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.mergeOrder">Merge Order</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="includeBookmarks">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.includeBookmarks">Include Bookmarks</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="includeToc">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.includeToc">Include Toc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addPageNumbers">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.addPageNumbers">Add Page Numbers</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="outputS3Key">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.outputS3Key">Output S 3 Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="outputDocumentId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.outputDocumentId">Output Document Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="errorMessage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.errorMessage">Error Message</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceMergeJob.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (mergeJob of mergeJobs(); track trackId(mergeJob)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/merge-job', mergeJob.id, 'view']">{{ mergeJob.id }}</a>
              </td>
              <td>{{ mergeJob.name }}</td>
              <td>{{ mergeJob.sourceDocumentIds }}</td>
              <td>{{ mergeJob.mergeOrder }}</td>
              <td>{{ mergeJob.includeBookmarks }}</td>
              <td>{{ mergeJob.includeToc }}</td>
              <td>{{ mergeJob.addPageNumbers }}</td>
              <td>{{ mergeJob.outputS3Key }}</td>
              <td>{{ mergeJob.outputDocumentId }}</td>
              <td [jhiTranslate]="'gatewayApp.TransformStatus.' + (mergeJob.status ?? 'null')">
                {{
                  {
                    null: '',
                    PENDING: 'PENDING',
                    PROCESSING: 'PROCESSING',
                    COMPLETED: 'COMPLETED',
                    FAILED: 'FAILED',
                    CANCELLED: 'CANCELLED',
                  }[mergeJob.status ?? 'null']
                }}
              </td>
              <td>{{ mergeJob.startDate | formatMediumDatetime }}</td>
              <td>{{ mergeJob.endDate | formatMediumDatetime }}</td>
              <td>{{ mergeJob.errorMessage }}</td>
              <td>{{ mergeJob.createdBy }}</td>
              <td>{{ mergeJob.createdDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/merge-job', mergeJob.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/merge-job', mergeJob.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(mergeJob)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (mergeJobs().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
