<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ocr-job-heading" data-cy="OcrJobCreateUpdateHeading" jhiTranslate="gatewayApp.ocrServiceOcrJob.home.createOrEditLabel">
        Create or edit a Ocr Job
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.ocrServiceOcrJob.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="gatewayApp.ocrServiceOcrJob.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.OcrStatus.null' | translate }}</option>
            @for (ocrStatus of ocrStatusValues; track $index) {
              <option [value]="ocrStatus">{{ 'gatewayApp.OcrStatus.' + ocrStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let documentIdRef = editForm.get('documentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentId" jhiTranslate="gatewayApp.ocrServiceOcrJob.documentId">Document Id</label>
          <input
            type="number"
            class="form-control"
            name="documentId"
            id="field_documentId"
            data-cy="documentId"
            formControlName="documentId"
          />
          @if (documentIdRef.invalid && (documentIdRef.dirty || documentIdRef.touched)) {
            <div>
              @if (editForm.get('documentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('documentId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let documentSha256Ref = editForm.get('documentSha256')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentSha256" jhiTranslate="gatewayApp.ocrServiceOcrJob.documentSha256"
            >Document Sha 256</label
          >
          <input
            type="text"
            class="form-control"
            name="documentSha256"
            id="field_documentSha256"
            data-cy="documentSha256"
            formControlName="documentSha256"
          />
          @if (documentSha256Ref.invalid && (documentSha256Ref.dirty || documentSha256Ref.touched)) {
            <div>
              @if (editForm.get('documentSha256')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('documentSha256')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        @let s3KeyRef = editForm.get('s3Key')!;
        <div class="mb-3">
          <label class="form-label" for="field_s3Key" jhiTranslate="gatewayApp.ocrServiceOcrJob.s3Key">S 3 Key</label>
          <input type="text" class="form-control" name="s3Key" id="field_s3Key" data-cy="s3Key" formControlName="s3Key" />
          @if (s3KeyRef.invalid && (s3KeyRef.dirty || s3KeyRef.touched)) {
            <div>
              @if (editForm.get('s3Key')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('s3Key')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        @let s3BucketRef = editForm.get('s3Bucket')!;
        <div class="mb-3">
          <label class="form-label" for="field_s3Bucket" jhiTranslate="gatewayApp.ocrServiceOcrJob.s3Bucket">S 3 Bucket</label>
          <input type="text" class="form-control" name="s3Bucket" id="field_s3Bucket" data-cy="s3Bucket" formControlName="s3Bucket" />
          @if (s3BucketRef.invalid && (s3BucketRef.dirty || s3BucketRef.touched)) {
            <div>
              @if (editForm.get('s3Bucket')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('s3Bucket')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let requestedLanguageRef = editForm.get('requestedLanguage')!;
        <div class="mb-3">
          <label class="form-label" for="field_requestedLanguage" jhiTranslate="gatewayApp.ocrServiceOcrJob.requestedLanguage"
            >Requested Language</label
          >
          <input
            type="text"
            class="form-control"
            name="requestedLanguage"
            id="field_requestedLanguage"
            data-cy="requestedLanguage"
            formControlName="requestedLanguage"
          />
          @if (requestedLanguageRef.invalid && (requestedLanguageRef.dirty || requestedLanguageRef.touched)) {
            <div>
              @if (editForm.get('requestedLanguage')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '10' }"
                  >This field cannot be longer than 10 characters.</small
                >
              }
            </div>
          }
        </div>

        @let detectedLanguageRef = editForm.get('detectedLanguage')!;
        <div class="mb-3">
          <label class="form-label" for="field_detectedLanguage" jhiTranslate="gatewayApp.ocrServiceOcrJob.detectedLanguage"
            >Detected Language</label
          >
          <input
            type="text"
            class="form-control"
            name="detectedLanguage"
            id="field_detectedLanguage"
            data-cy="detectedLanguage"
            formControlName="detectedLanguage"
          />
          @if (detectedLanguageRef.invalid && (detectedLanguageRef.dirty || detectedLanguageRef.touched)) {
            <div>
              @if (editForm.get('detectedLanguage')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '10' }"
                  >This field cannot be longer than 10 characters.</small
                >
              }
            </div>
          }
        </div>

        @let languageConfidenceRef = editForm.get('languageConfidence')!;
        <div class="mb-3">
          <label class="form-label" for="field_languageConfidence" jhiTranslate="gatewayApp.ocrServiceOcrJob.languageConfidence"
            >Language Confidence</label
          >
          <input
            type="number"
            class="form-control"
            name="languageConfidence"
            id="field_languageConfidence"
            data-cy="languageConfidence"
            formControlName="languageConfidence"
          />
          @if (languageConfidenceRef.invalid && (languageConfidenceRef.dirty || languageConfidenceRef.touched)) {
            <div>
              @if (editForm.get('languageConfidence')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              @if (editForm.get('languageConfidence')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '1' }"
                  >This field cannot be more than 1.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('languageConfidence')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ocrEngine" jhiTranslate="gatewayApp.ocrServiceOcrJob.ocrEngine">Ocr Engine</label>
          <select class="form-control" name="ocrEngine" formControlName="ocrEngine" id="field_ocrEngine" data-cy="ocrEngine">
            <option [ngValue]="null">{{ 'gatewayApp.OcrEngine.null' | translate }}</option>
            @for (ocrEngine of ocrEngineValues; track $index) {
              <option [value]="ocrEngine">{{ 'gatewayApp.OcrEngine.' + ocrEngine | translate }}</option>
            }
          </select>
        </div>

        @let tikaEndpointRef = editForm.get('tikaEndpoint')!;
        <div class="mb-3">
          <label class="form-label" for="field_tikaEndpoint" jhiTranslate="gatewayApp.ocrServiceOcrJob.tikaEndpoint">Tika Endpoint</label>
          <input
            type="text"
            class="form-control"
            name="tikaEndpoint"
            id="field_tikaEndpoint"
            data-cy="tikaEndpoint"
            formControlName="tikaEndpoint"
          />
          @if (tikaEndpointRef.invalid && (tikaEndpointRef.dirty || tikaEndpointRef.touched)) {
            <div>
              @if (editForm.get('tikaEndpoint')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let aiProviderRef = editForm.get('aiProvider')!;
        <div class="mb-3">
          <label class="form-label" for="field_aiProvider" jhiTranslate="gatewayApp.ocrServiceOcrJob.aiProvider">Ai Provider</label>
          <input
            type="text"
            class="form-control"
            name="aiProvider"
            id="field_aiProvider"
            data-cy="aiProvider"
            formControlName="aiProvider"
          />
          @if (aiProviderRef.invalid && (aiProviderRef.dirty || aiProviderRef.touched)) {
            <div>
              @if (editForm.get('aiProvider')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let aiModelRef = editForm.get('aiModel')!;
        <div class="mb-3">
          <label class="form-label" for="field_aiModel" jhiTranslate="gatewayApp.ocrServiceOcrJob.aiModel">Ai Model</label>
          <input type="text" class="form-control" name="aiModel" id="field_aiModel" data-cy="aiModel" formControlName="aiModel" />
          @if (aiModelRef.invalid && (aiModelRef.dirty || aiModelRef.touched)) {
            <div>
              @if (editForm.get('aiModel')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let resultCacheKeyRef = editForm.get('resultCacheKey')!;
        <div class="mb-3">
          <label class="form-label" for="field_resultCacheKey" jhiTranslate="gatewayApp.ocrServiceOcrJob.resultCacheKey"
            >Result Cache Key</label
          >
          <input
            type="text"
            class="form-control"
            name="resultCacheKey"
            id="field_resultCacheKey"
            data-cy="resultCacheKey"
            formControlName="resultCacheKey"
          />
          @if (resultCacheKeyRef.invalid && (resultCacheKeyRef.dirty || resultCacheKeyRef.touched)) {
            <div>
              @if (editForm.get('resultCacheKey')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '128' }"
                  >This field cannot be longer than 128 characters.</small
                >
              }
            </div>
          }
        </div>

        @let isCachedRef = editForm.get('isCached')!;
        <div class="mb-3">
          <label class="form-label" for="field_isCached" jhiTranslate="gatewayApp.ocrServiceOcrJob.isCached">Is Cached</label>
          <input type="checkbox" class="form-check" name="isCached" id="field_isCached" data-cy="isCached" formControlName="isCached" />
          @if (isCachedRef.invalid && (isCachedRef.dirty || isCachedRef.touched)) {
            <div>
              @if (editForm.get('isCached')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_startDate" jhiTranslate="gatewayApp.ocrServiceOcrJob.startDate">Start Date</label>
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_endDate" jhiTranslate="gatewayApp.ocrServiceOcrJob.endDate">End Date</label>
          <div class="d-flex">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="datetime-local"
              class="form-control"
              name="endDate"
              formControlName="endDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_errorMessage" jhiTranslate="gatewayApp.ocrServiceOcrJob.errorMessage">Error Message</label>
          <textarea
            class="form-control"
            name="errorMessage"
            id="field_errorMessage"
            data-cy="errorMessage"
            formControlName="errorMessage"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pageCount" jhiTranslate="gatewayApp.ocrServiceOcrJob.pageCount">Page Count</label>
          <input type="number" class="form-control" name="pageCount" id="field_pageCount" data-cy="pageCount" formControlName="pageCount" />
        </div>

        @let progressRef = editForm.get('progress')!;
        <div class="mb-3">
          <label class="form-label" for="field_progress" jhiTranslate="gatewayApp.ocrServiceOcrJob.progress">Progress</label>
          <input type="number" class="form-control" name="progress" id="field_progress" data-cy="progress" formControlName="progress" />
          @if (progressRef.invalid && (progressRef.dirty || progressRef.touched)) {
            <div>
              @if (editForm.get('progress')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              @if (editForm.get('progress')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '100' }"
                  >This field cannot be more than 100.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('progress')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_retryCount" jhiTranslate="gatewayApp.ocrServiceOcrJob.retryCount">Retry Count</label>
          <input
            type="number"
            class="form-control"
            name="retryCount"
            id="field_retryCount"
            data-cy="retryCount"
            formControlName="retryCount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_priority" jhiTranslate="gatewayApp.ocrServiceOcrJob.priority">Priority</label>
          <input type="number" class="form-control" name="priority" id="field_priority" data-cy="priority" formControlName="priority" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_processingTime" jhiTranslate="gatewayApp.ocrServiceOcrJob.processingTime"
            >Processing Time</label
          >
          <input
            type="number"
            class="form-control"
            name="processingTime"
            id="field_processingTime"
            data-cy="processingTime"
            formControlName="processingTime"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_costEstimate" jhiTranslate="gatewayApp.ocrServiceOcrJob.costEstimate">Cost Estimate</label>
          <input
            type="number"
            class="form-control"
            name="costEstimate"
            id="field_costEstimate"
            data-cy="costEstimate"
            formControlName="costEstimate"
          />
        </div>

        @let createdDateRef = editForm.get('createdDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="gatewayApp.ocrServiceOcrJob.createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdDateRef.invalid && (createdDateRef.dirty || createdDateRef.touched)) {
            <div>
              @if (editForm.get('createdDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let createdByRef = editForm.get('createdBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="gatewayApp.ocrServiceOcrJob.createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (createdByRef.invalid && (createdByRef.dirty || createdByRef.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('createdBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
