<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-workflow-instance-heading"
        data-cy="WorkflowInstanceCreateUpdateHeading"
        jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.home.createOrEditLabel"
      >
        Create or edit a Workflow Instance
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentIdRef = editForm.get('documentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentId" jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.documentId"
            >Document Id</label
          >
          <input
            type="number"
            class="form-control"
            name="documentId"
            id="field_documentId"
            data-cy="documentId"
            formControlName="documentId"
          />
          @if (documentIdRef.invalid && (documentIdRef.dirty || documentIdRef.touched)) {
            <div>
              @if (editForm.get('documentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('documentId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.WorkflowInstanceStatus.null' | translate }}</option>
            @for (workflowInstanceStatus of workflowInstanceStatusValues; track $index) {
              <option [value]="workflowInstanceStatus">
                {{ 'gatewayApp.WorkflowInstanceStatus.' + workflowInstanceStatus | translate }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_currentStepNumber"
            jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.currentStepNumber"
            >Current Step Number</label
          >
          <input
            type="number"
            class="form-control"
            name="currentStepNumber"
            id="field_currentStepNumber"
            data-cy="currentStepNumber"
            formControlName="currentStepNumber"
          />
        </div>

        @let startDateRef = editForm.get('startDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_startDate" jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.startDate"
            >Start Date</label
          >
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (startDateRef.invalid && (startDateRef.dirty || startDateRef.touched)) {
            <div>
              @if (editForm.get('startDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('startDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dueDate" jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.dueDate">Due Date</label>
          <div class="d-flex">
            <input
              id="field_dueDate"
              data-cy="dueDate"
              type="datetime-local"
              class="form-control"
              name="dueDate"
              formControlName="dueDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_completedDate" jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.completedDate"
            >Completed Date</label
          >
          <div class="d-flex">
            <input
              id="field_completedDate"
              data-cy="completedDate"
              type="datetime-local"
              class="form-control"
              name="completedDate"
              formControlName="completedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cancelledDate" jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.cancelledDate"
            >Cancelled Date</label
          >
          <div class="d-flex">
            <input
              id="field_cancelledDate"
              data-cy="cancelledDate"
              type="datetime-local"
              class="form-control"
              name="cancelledDate"
              formControlName="cancelledDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_cancellationReason"
            jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.cancellationReason"
            >Cancellation Reason</label
          >
          <textarea
            class="form-control"
            name="cancellationReason"
            id="field_cancellationReason"
            data-cy="cancellationReason"
            formControlName="cancellationReason"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_priority" jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.priority">Priority</label>
          <select class="form-control" name="priority" formControlName="priority" id="field_priority" data-cy="priority">
            <option [ngValue]="null">{{ 'gatewayApp.WorkflowPriority.null' | translate }}</option>
            @for (workflowPriority of workflowPriorityValues; track $index) {
              <option [value]="workflowPriority">{{ 'gatewayApp.WorkflowPriority.' + workflowPriority | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_metadata" jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.metadata">Metadata</label>
          <textarea class="form-control" name="metadata" id="field_metadata" data-cy="metadata" formControlName="metadata"></textarea>
        </div>

        @let createdByRef = editForm.get('createdBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (createdByRef.invalid && (createdByRef.dirty || createdByRef.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('createdBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_workflow" jhiTranslate="gatewayApp.workflowServiceWorkflowInstance.workflow">Workflow</label>
          <select
            class="form-control"
            id="field_workflow"
            data-cy="workflow"
            name="workflow"
            formControlName="workflow"
            [compareWith]="compareWorkflow"
          >
            @if (!editForm.get('workflow')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (workflowOption of workflowsSharedCollection; track $index) {
              <option [ngValue]="workflowOption">{{ workflowOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['workflow'])!.invalid && (editForm.get(['workflow'])!.dirty || editForm.get(['workflow'])!.touched)) {
          <div>
            @if (editForm.get(['workflow'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
