<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-reporting-performance-metric-heading"
        data-cy="ReportingPerformanceMetricCreateUpdateHeading"
        jhiTranslate="gatewayApp.reportingServiceReportingPerformanceMetric.home.createOrEditLabel"
      >
        Create or edit a Reporting Performance Metric
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.reportingServiceReportingPerformanceMetric.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let metricNameRef = editForm.get('metricName')!;
        <div class="mb-3">
          <label class="form-label" for="field_metricName" jhiTranslate="gatewayApp.reportingServiceReportingPerformanceMetric.metricName"
            >Metric Name</label
          >
          <input
            type="text"
            class="form-control"
            name="metricName"
            id="field_metricName"
            data-cy="metricName"
            formControlName="metricName"
          />
          @if (metricNameRef.invalid && (metricNameRef.dirty || metricNameRef.touched)) {
            <div>
              @if (editForm.get('metricName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('metricName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let metricTypeRef = editForm.get('metricType')!;
        <div class="mb-3">
          <label class="form-label" for="field_metricType" jhiTranslate="gatewayApp.reportingServiceReportingPerformanceMetric.metricType"
            >Metric Type</label
          >
          <select class="form-control" name="metricType" formControlName="metricType" id="field_metricType" data-cy="metricType">
            <option [ngValue]="null">{{ 'gatewayApp.MetricType.null' | translate }}</option>
            @for (metricType of metricTypeValues; track $index) {
              <option [value]="metricType">{{ 'gatewayApp.MetricType.' + metricType | translate }}</option>
            }
          </select>
          @if (metricTypeRef.invalid && (metricTypeRef.dirty || metricTypeRef.touched)) {
            <div>
              @if (editForm.get('metricType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let valueRef = editForm.get('value')!;
        <div class="mb-3">
          <label class="form-label" for="field_value" jhiTranslate="gatewayApp.reportingServiceReportingPerformanceMetric.value"
            >Value</label
          >
          <input type="number" class="form-control" name="value" id="field_value" data-cy="value" formControlName="value" />
          @if (valueRef.invalid && (valueRef.dirty || valueRef.touched)) {
            <div>
              @if (editForm.get('value')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('value')?.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let unitRef = editForm.get('unit')!;
        <div class="mb-3">
          <label class="form-label" for="field_unit" jhiTranslate="gatewayApp.reportingServiceReportingPerformanceMetric.unit">Unit</label>
          <input type="text" class="form-control" name="unit" id="field_unit" data-cy="unit" formControlName="unit" />
          @if (unitRef.invalid && (unitRef.dirty || unitRef.touched)) {
            <div>
              @if (editForm.get('unit')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('unit')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >This field cannot be longer than 20 characters.</small
                >
              }
            </div>
          }
        </div>

        @let serviceNameRef = editForm.get('serviceName')!;
        <div class="mb-3">
          <label class="form-label" for="field_serviceName" jhiTranslate="gatewayApp.reportingServiceReportingPerformanceMetric.serviceName"
            >Service Name</label
          >
          <input
            type="text"
            class="form-control"
            name="serviceName"
            id="field_serviceName"
            data-cy="serviceName"
            formControlName="serviceName"
          />
          @if (serviceNameRef.invalid && (serviceNameRef.dirty || serviceNameRef.touched)) {
            <div>
              @if (editForm.get('serviceName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let timestampRef = editForm.get('timestamp')!;
        <div class="mb-3">
          <label class="form-label" for="field_timestamp" jhiTranslate="gatewayApp.reportingServiceReportingPerformanceMetric.timestamp"
            >Timestamp</label
          >
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (timestampRef.invalid && (timestampRef.dirty || timestampRef.touched)) {
            <div>
              @if (editForm.get('timestamp')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('timestamp')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
