<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (scannerConfiguration(); as scannerConfigurationRef) {
      <div>
        <h2 data-cy="scannerConfigurationDetailsHeading">
          <span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.detail.title">Scanner Configuration</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ scannerConfigurationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.name">Name</span></dt>
          <dd>
            <span>{{ scannerConfigurationRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.scannerType">Scanner Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.ScannerType.' + (scannerConfigurationRef.scannerType ?? 'null')">{{
              { null: '', NETWORK: 'NETWORK', LOCAL: 'LOCAL', MOBILE: 'MOBILE', MULTIFUNCTION: 'MULTIFUNCTION' }[
                scannerConfigurationRef.scannerType ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.ipAddress">Ip Address</span></dt>
          <dd>
            <span>{{ scannerConfigurationRef.ipAddress }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.port">Port</span></dt>
          <dd>
            <span>{{ scannerConfigurationRef.port }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.protocol">Protocol</span></dt>
          <dd>
            <span>{{ scannerConfigurationRef.protocol }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.manufacturer">Manufacturer</span></dt>
          <dd>
            <span>{{ scannerConfigurationRef.manufacturer }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.model">Model</span></dt>
          <dd>
            <span>{{ scannerConfigurationRef.model }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.defaultColorMode">Default Color Mode</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.ColorMode.' + (scannerConfigurationRef.defaultColorMode ?? 'null')">{{
              { null: '', BLACK_WHITE: 'BLACK_WHITE', GRAYSCALE: 'GRAYSCALE', COLOR: 'COLOR', AUTO: 'AUTO' }[
                scannerConfigurationRef.defaultColorMode ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.defaultResolution">Default Resolution</span></dt>
          <dd>
            <span>{{ scannerConfigurationRef.defaultResolution }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.defaultFormat">Default Format</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.ScanFormat.' + (scannerConfigurationRef.defaultFormat ?? 'null')">{{
              { null: '', PDF: 'PDF', TIFF: 'TIFF', JPEG: 'JPEG', PNG: 'PNG' }[scannerConfigurationRef.defaultFormat ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.capabilities">Capabilities</span></dt>
          <dd>
            <span>{{ scannerConfigurationRef.capabilities }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.isActive">Is Active</span></dt>
          <dd>
            <span>{{ scannerConfigurationRef.isActive }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ scannerConfigurationRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.scanServiceScannerConfiguration.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ scannerConfigurationRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/scanner-configuration', scannerConfigurationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
