<div>
  <h2 id="page-heading" data-cy="ConversionJobHeading">
    <span jhiTranslate="gatewayApp.transformServiceConversionJob.home.title">Conversion Jobs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.transformServiceConversionJob.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-conversion-job"
        [routerLink]="['/conversion-job/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gatewayApp.transformServiceConversionJob.home.createLabel">Create a new Conversion Job</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (conversionJobs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.transformServiceConversionJob.home.notFound">No Conversion Jobs found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="documentId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.documentId">Document Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="documentSha256">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.documentSha256">Document Sha 256</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="sourceFormat">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.sourceFormat">Source Format</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="targetFormat">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.targetFormat">Target Format</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="conversionEngine">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.conversionEngine">Conversion Engine</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="options">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.options">Options</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="outputS3Key">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.outputS3Key">Output S 3 Key</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="outputDocumentId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.outputDocumentId">Output Document Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.status">Status</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="errorMessage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.errorMessage">Error Message</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.transformServiceConversionJob.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (conversionJob of conversionJobs(); track trackId(conversionJob)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/conversion-job', conversionJob.id, 'view']">{{ conversionJob.id }}</a>
              </td>
              <td>{{ conversionJob.documentId }}</td>
              <td>{{ conversionJob.documentSha256 }}</td>
              <td>{{ conversionJob.sourceFormat }}</td>
              <td>{{ conversionJob.targetFormat }}</td>
              <td>{{ conversionJob.conversionEngine }}</td>
              <td>{{ conversionJob.options }}</td>
              <td>{{ conversionJob.outputS3Key }}</td>
              <td>{{ conversionJob.outputDocumentId }}</td>
              <td [jhiTranslate]="'gatewayApp.TransformStatus.' + (conversionJob.status ?? 'null')">
                {{
                  {
                    null: '',
                    PENDING: 'PENDING',
                    PROCESSING: 'PROCESSING',
                    COMPLETED: 'COMPLETED',
                    FAILED: 'FAILED',
                    CANCELLED: 'CANCELLED',
                  }[conversionJob.status ?? 'null']
                }}
              </td>
              <td>{{ conversionJob.startDate | formatMediumDatetime }}</td>
              <td>{{ conversionJob.endDate | formatMediumDatetime }}</td>
              <td>{{ conversionJob.errorMessage }}</td>
              <td>{{ conversionJob.createdBy }}</td>
              <td>{{ conversionJob.createdDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/conversion-job', conversionJob.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/conversion-job', conversionJob.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(conversionJob)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (conversionJobs().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
