<div>
  <h2 id="page-heading" data-cy="DashboardWidgetHeading">
    <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.home.title">Dashboard Widgets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dashboard-widget"
        [routerLink]="['/dashboard-widget/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.home.createLabel">Create a new Dashboard Widget</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (dashboardWidgets().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.home.notFound">No Dashboard Widgets found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dashboardId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.dashboardId">Dashboard Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="widgetType">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.widgetType">Widget Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="configuration">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.configuration">Configuration</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataSource">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.dataSource">Data Source</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="position">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.position">Position</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sizeX">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.sizeX">Size X</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sizeY">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.sizeY">Size Y</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dashboard.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.reportingServiceDashboardWidget.dashboard">Dashboard</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (dashboardWidget of dashboardWidgets(); track trackId(dashboardWidget)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/dashboard-widget', dashboardWidget.id, 'view']">{{ dashboardWidget.id }}</a>
              </td>
              <td>{{ dashboardWidget.dashboardId }}</td>
              <td [jhiTranslate]="'gatewayApp.WidgetType.' + (dashboardWidget.widgetType ?? 'null')">
                {{
                  {
                    null: '',
                    DOCUMENT_COUNT: 'DOCUMENT_COUNT',
                    STORAGE_USAGE: 'STORAGE_USAGE',
                    RECENT_UPLOADS: 'RECENT_UPLOADS',
                    TOP_TAGS: 'TOP_TAGS',
                    WORKFLOW_STATUS: 'WORKFLOW_STATUS',
                    USER_ACTIVITY: 'USER_ACTIVITY',
                    CHART_LINE: 'CHART_LINE',
                    CHART_BAR: 'CHART_BAR',
                    CHART_PIE: 'CHART_PIE',
                    CHART_DOUGHNUT: 'CHART_DOUGHNUT',
                    CHART_AREA: 'CHART_AREA',
                    TABLE: 'TABLE',
                    METRIC: 'METRIC',
                    HEATMAP: 'HEATMAP',
                    GAUGE: 'GAUGE',
                    TIMELINE: 'TIMELINE',
                  }[dashboardWidget.widgetType ?? 'null']
                }}
              </td>
              <td>{{ dashboardWidget.title }}</td>
              <td>{{ dashboardWidget.configuration }}</td>
              <td>{{ dashboardWidget.dataSource }}</td>
              <td>{{ dashboardWidget.position }}</td>
              <td>{{ dashboardWidget.sizeX }}</td>
              <td>{{ dashboardWidget.sizeY }}</td>
              <td>
                @if (dashboardWidget.dashboard) {
                  <div>
                    <a [routerLink]="['/dashboard', dashboardWidget.dashboard.id, 'view']">{{ dashboardWidget.dashboard.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/dashboard-widget', dashboardWidget.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/dashboard-widget', dashboardWidget.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(dashboardWidget)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (dashboardWidgets().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
