<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-document-service-status-heading"
        data-cy="DocumentServiceStatusCreateUpdateHeading"
        jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.home.createOrEditLabel"
      >
        Create or edit a Document Service Status
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentIdRef = editForm.get('documentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentId" jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.documentId"
            >Document Id</label
          >
          <input
            type="number"
            class="form-control"
            name="documentId"
            id="field_documentId"
            data-cy="documentId"
            formControlName="documentId"
          />
          @if (documentIdRef.invalid && (documentIdRef.dirty || documentIdRef.touched)) {
            <div>
              @if (editForm.get('documentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('documentId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let serviceTypeRef = editForm.get('serviceType')!;
        <div class="mb-3">
          <label class="form-label" for="field_serviceType" jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.serviceType"
            >Service Type</label
          >
          <select class="form-control" name="serviceType" formControlName="serviceType" id="field_serviceType" data-cy="serviceType">
            <option [ngValue]="null">{{ 'gatewayApp.ServiceType.null' | translate }}</option>
            @for (serviceType of serviceTypeValues; track $index) {
              <option [value]="serviceType">{{ 'gatewayApp.ServiceType.' + serviceType | translate }}</option>
            }
          </select>
          @if (serviceTypeRef.invalid && (serviceTypeRef.dirty || serviceTypeRef.touched)) {
            <div>
              @if (editForm.get('serviceType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.ServiceStatus.null' | translate }}</option>
            @for (serviceStatus of serviceStatusValues; track $index) {
              <option [value]="serviceStatus">{{ 'gatewayApp.ServiceStatus.' + serviceStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_statusDetails" jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.statusDetails"
            >Status Details</label
          >
          <textarea
            class="form-control"
            name="statusDetails"
            id="field_statusDetails"
            data-cy="statusDetails"
            formControlName="statusDetails"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_errorMessage" jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.errorMessage"
            >Error Message</label
          >
          <textarea
            class="form-control"
            name="errorMessage"
            id="field_errorMessage"
            data-cy="errorMessage"
            formControlName="errorMessage"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_retryCount" jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.retryCount"
            >Retry Count</label
          >
          <input
            type="number"
            class="form-control"
            name="retryCount"
            id="field_retryCount"
            data-cy="retryCount"
            formControlName="retryCount"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_lastProcessedDate"
            jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.lastProcessedDate"
            >Last Processed Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastProcessedDate"
              data-cy="lastProcessedDate"
              type="datetime-local"
              class="form-control"
              name="lastProcessedDate"
              formControlName="lastProcessedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_processingStartDate"
            jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.processingStartDate"
            >Processing Start Date</label
          >
          <div class="d-flex">
            <input
              id="field_processingStartDate"
              data-cy="processingStartDate"
              type="datetime-local"
              class="form-control"
              name="processingStartDate"
              formControlName="processingStartDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_processingEndDate"
            jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.processingEndDate"
            >Processing End Date</label
          >
          <div class="d-flex">
            <input
              id="field_processingEndDate"
              data-cy="processingEndDate"
              type="datetime-local"
              class="form-control"
              name="processingEndDate"
              formControlName="processingEndDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_processingDuration"
            jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.processingDuration"
            >Processing Duration</label
          >
          <input
            type="number"
            class="form-control"
            name="processingDuration"
            id="field_processingDuration"
            data-cy="processingDuration"
            formControlName="processingDuration"
          />
        </div>

        @let jobIdRef = editForm.get('jobId')!;
        <div class="mb-3">
          <label class="form-label" for="field_jobId" jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.jobId">Job Id</label>
          <input type="text" class="form-control" name="jobId" id="field_jobId" data-cy="jobId" formControlName="jobId" />
          @if (jobIdRef.invalid && (jobIdRef.dirty || jobIdRef.touched)) {
            <div>
              @if (editForm.get('jobId')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_priority" jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.priority"
            >Priority</label
          >
          <input type="number" class="form-control" name="priority" id="field_priority" data-cy="priority" formControlName="priority" />
        </div>

        @let updatedByRef = editForm.get('updatedBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_updatedBy" jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.updatedBy"
            >Updated By</label
          >
          <input type="text" class="form-control" name="updatedBy" id="field_updatedBy" data-cy="updatedBy" formControlName="updatedBy" />
          @if (updatedByRef.invalid && (updatedByRef.dirty || updatedByRef.touched)) {
            <div>
              @if (editForm.get('updatedBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let updatedDateRef = editForm.get('updatedDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_updatedDate" jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.updatedDate"
            >Updated Date</label
          >
          <div class="d-flex">
            <input
              id="field_updatedDate"
              data-cy="updatedDate"
              type="datetime-local"
              class="form-control"
              name="updatedDate"
              formControlName="updatedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (updatedDateRef.invalid && (updatedDateRef.dirty || updatedDateRef.touched)) {
            <div>
              @if (editForm.get('updatedDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('updatedDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_document" jhiTranslate="gatewayApp.documentServiceDocumentServiceStatus.document"
            >Document</label
          >
          <select
            class="form-control"
            id="field_document"
            data-cy="document"
            name="document"
            formControlName="document"
            [compareWith]="compareDocument"
          >
            @if (!editForm.get('document')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (documentOption of documentsSharedCollection; track $index) {
              <option [ngValue]="documentOption">{{ documentOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['document'])!.invalid && (editForm.get(['document'])!.dirty || editForm.get(['document'])!.touched)) {
          <div>
            @if (editForm.get(['document'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
