<div>
  <h2 id="page-heading" data-cy="TagHeading">
    <span jhiTranslate="gatewayApp.documentServiceTag.home.title">Tags</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.documentServiceTag.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tag"
        [routerLink]="['/tag/new']"
      >
        <fa-icon icon="plus" />
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.documentServiceTag.home.createLabel">Create a new Tag</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.documentServiceTag.home.search">Search for Tag</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.documentServiceTag.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search" />
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt" />
          </button>
        }
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters" />

  @if (tags().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.documentServiceTag.home.notFound">No Tags found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceTag.name">Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="color">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceTag.color">Color</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceTag.description">Description</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="usageCount">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceTag.usageCount">Usage Count</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="isSystem">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceTag.isSystem">Is System</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceTag.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceTag.createdBy">Created By</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort" />
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="tagCategory.id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.documentServiceTag.tagCategory">Tag Category</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (tag of tags(); track trackId(tag)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/tag', tag.id, 'view']">{{ tag.id }}</a>
              </td>
              <td>{{ tag.name }}</td>
              <td>{{ tag.color }}</td>
              <td>{{ tag.description }}</td>
              <td>{{ tag.usageCount }}</td>
              <td>{{ tag.isSystem }}</td>
              <td>{{ tag.createdDate | formatMediumDatetime }}</td>
              <td>{{ tag.createdBy }}</td>
              <td>
                @if (tag.tagCategory) {
                  <div>
                    <a [routerLink]="['/tag-category', tag.tagCategory.id, 'view']">{{ tag.tagCategory.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/tag', tag.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/tag', tag.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(tag)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (tags().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
