<div>
  <h2 id="page-heading" data-cy="LanguageDetectionHeading">
    <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.home.title">Language Detections</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-language-detection"
        [routerLink]="['/language-detection/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.home.createLabel">Create a new Language Detection</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (languageDetections().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.home.notFound">No Language Detections found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.documentId">Document Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentSha256">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.documentSha256">Document Sha 256</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="detectedLanguage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.detectedLanguage">Detected Language</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="confidence">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.confidence">Confidence</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="detectionMethod">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.detectionMethod">Detection Method</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="alternativeLanguages">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.alternativeLanguages">Alternative Languages</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="textSample">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.textSample">Text Sample</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="resultCacheKey">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.resultCacheKey">Result Cache Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isCached">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.isCached">Is Cached</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="detectedDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.detectedDate">Detected Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="modelVersion">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceLanguageDetection.modelVersion">Model Version</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (languageDetection of languageDetections(); track trackId(languageDetection)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/language-detection', languageDetection.id, 'view']">{{ languageDetection.id }}</a>
              </td>
              <td>{{ languageDetection.documentId }}</td>
              <td>{{ languageDetection.documentSha256 }}</td>
              <td>{{ languageDetection.detectedLanguage }}</td>
              <td>{{ languageDetection.confidence }}</td>
              <td [jhiTranslate]="'gatewayApp.LanguageDetectionMethod.' + (languageDetection.detectionMethod ?? 'null')">
                {{
                  {
                    null: '',
                    TIKA: 'TIKA',
                    LANGDETECT: 'LANGDETECT',
                    FASTTEXT: 'FASTTEXT',
                    BERT_MULTILINGUAL: 'BERT_MULTILINGUAL',
                    MANUAL: 'MANUAL',
                    COMBINED: 'COMBINED',
                  }[languageDetection.detectionMethod ?? 'null']
                }}
              </td>
              <td>{{ languageDetection.alternativeLanguages }}</td>
              <td>{{ languageDetection.textSample }}</td>
              <td>{{ languageDetection.resultCacheKey }}</td>
              <td>{{ languageDetection.isCached }}</td>
              <td>{{ languageDetection.detectedDate | formatMediumDatetime }}</td>
              <td>{{ languageDetection.modelVersion }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/language-detection', languageDetection.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/language-detection', languageDetection.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(languageDetection)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (languageDetections().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
