<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (webhookLog(); as webhookLogRef) {
      <div>
        <h2 data-cy="webhookLogDetailsHeading">
          <span jhiTranslate="gatewayApp.notificationServiceWebhookLog.detail.title">Webhook Log</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ webhookLogRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceWebhookLog.subscriptionId">Subscription Id</span></dt>
          <dd>
            <span>{{ webhookLogRef.subscriptionId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceWebhookLog.eventType">Event Type</span></dt>
          <dd>
            <span>{{ webhookLogRef.eventType }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceWebhookLog.payload">Payload</span></dt>
          <dd>
            <span>{{ webhookLogRef.payload }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceWebhookLog.responseStatus">Response Status</span></dt>
          <dd>
            <span>{{ webhookLogRef.responseStatus }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceWebhookLog.responseBody">Response Body</span></dt>
          <dd>
            <span>{{ webhookLogRef.responseBody }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceWebhookLog.responseTime">Response Time</span></dt>
          <dd>
            <span>{{ webhookLogRef.responseTime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceWebhookLog.attemptNumber">Attempt Number</span></dt>
          <dd>
            <span>{{ webhookLogRef.attemptNumber }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceWebhookLog.isSuccess">Is Success</span></dt>
          <dd>
            <span>{{ webhookLogRef.isSuccess }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceWebhookLog.errorMessage">Error Message</span></dt>
          <dd>
            <span>{{ webhookLogRef.errorMessage }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceWebhookLog.sentDate">Sent Date</span></dt>
          <dd>
            <span>{{ webhookLogRef.sentDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.notificationServiceWebhookLog.subscription">Subscription</span></dt>
          <dd>
            @if (webhookLog()!.subscription) {
              <div>
                <a [routerLink]="['/webhook-subscription', webhookLog()!.subscription?.id, 'view']">{{ webhookLogRef.subscription?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/webhook-log', webhookLogRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
