<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (monitoringAlertRule(); as monitoringAlertRuleRef) {
      <div>
        <h2 data-cy="monitoringAlertRuleDetailsHeading">
          <span jhiTranslate="gatewayApp.monitoringServiceMonitoringAlertRule.detail.title">Monitoring Alert Rule</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ monitoringAlertRuleRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceMonitoringAlertRule.name">Name</span></dt>
          <dd>
            <span>{{ monitoringAlertRuleRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceMonitoringAlertRule.description">Description</span></dt>
          <dd>
            <span>{{ monitoringAlertRuleRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceMonitoringAlertRule.alertType">Alert Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.MonitoringAlertType.' + (monitoringAlertRuleRef.alertType ?? 'null')">{{
              {
                null: '',
                DOCUMENT_EXPIRATION: 'DOCUMENT_EXPIRATION',
                STORAGE_QUOTA: 'STORAGE_QUOTA',
                UNUSUAL_ACTIVITY: 'UNUSUAL_ACTIVITY',
                COMPLIANCE_VIOLATION: 'COMPLIANCE_VIOLATION',
                WORKFLOW_DELAYED: 'WORKFLOW_DELAYED',
                FAILED_OCR: 'FAILED_OCR',
                MISSING_METADATA: 'MISSING_METADATA',
                DUPLICATE_DETECTED: 'DUPLICATE_DETECTED',
                PERMISSION_CHANGED: 'PERMISSION_CHANGED',
                SERVICE_DOWN: 'SERVICE_DOWN',
                HIGH_ERROR_RATE: 'HIGH_ERROR_RATE',
                CONTRACT_EXPIRATION: 'CONTRACT_EXPIRATION',
                INVOICE_OVERDUE: 'INVOICE_OVERDUE',
                SYSTEM_OVERLOAD: 'SYSTEM_OVERLOAD',
              }[monitoringAlertRuleRef.alertType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceMonitoringAlertRule.conditions">Conditions</span></dt>
          <dd>
            <span>{{ monitoringAlertRuleRef.conditions }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceMonitoringAlertRule.severity">Severity</span></dt>
          <dd>
            <span [jhiTranslate]="'gatewayApp.Severity.' + (monitoringAlertRuleRef.severity ?? 'null')">{{
              { null: '', LOW: 'LOW', MEDIUM: 'MEDIUM', HIGH: 'HIGH', CRITICAL: 'CRITICAL' }[monitoringAlertRuleRef.severity ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceMonitoringAlertRule.recipients">Recipients</span></dt>
          <dd>
            <span>{{ monitoringAlertRuleRef.recipients }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceMonitoringAlertRule.isActive">Is Active</span></dt>
          <dd>
            <span>{{ monitoringAlertRuleRef.isActive }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceMonitoringAlertRule.triggerCount">Trigger Count</span></dt>
          <dd>
            <span>{{ monitoringAlertRuleRef.triggerCount }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceMonitoringAlertRule.lastTriggered">Last Triggered</span></dt>
          <dd>
            <span>{{ monitoringAlertRuleRef.lastTriggered | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceMonitoringAlertRule.createdBy">Created By</span></dt>
          <dd>
            <span>{{ monitoringAlertRuleRef.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.monitoringServiceMonitoringAlertRule.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ monitoringAlertRuleRef.createdDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/monitoring-alert-rule', monitoringAlertRuleRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
