<div>
  <h2 id="page-heading" data-cy="CorrespondentExtractionHeading">
    <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.home.title">Correspondent Extractions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-correspondent-extraction"
        [routerLink]="['/correspondent-extraction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.home.createLabel">Create a new Correspondent Extraction</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (correspondentExtractions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.home.notFound">No Correspondent Extractions found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.documentId">Document Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentSha256">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.documentSha256">Document Sha 256</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="extractedText">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.extractedText">Extracted Text</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="extractedTextSha256">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.extractedTextSha256">Extracted Text Sha 256</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="detectedLanguage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.detectedLanguage">Detected Language</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="languageConfidence">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.languageConfidence">Language Confidence</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="resultCacheKey">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.resultCacheKey">Result Cache Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isCached">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.isCached">Is Cached</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="resultS3Key">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.resultS3Key">Result S 3 Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="errorMessage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.errorMessage">Error Message</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sendersCount">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.sendersCount">Senders Count</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="recipientsCount">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.recipientsCount">Recipients Count</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.aiServiceCorrespondentExtraction.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (correspondentExtraction of correspondentExtractions(); track trackId(correspondentExtraction)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/correspondent-extraction', correspondentExtraction.id, 'view']">{{ correspondentExtraction.id }}</a>
              </td>
              <td>{{ correspondentExtraction.documentId }}</td>
              <td>{{ correspondentExtraction.documentSha256 }}</td>
              <td>{{ correspondentExtraction.extractedText }}</td>
              <td>{{ correspondentExtraction.extractedTextSha256 }}</td>
              <td>{{ correspondentExtraction.detectedLanguage }}</td>
              <td>{{ correspondentExtraction.languageConfidence }}</td>
              <td [jhiTranslate]="'gatewayApp.AiJobStatus.' + (correspondentExtraction.status ?? 'null')">
                {{
                  {
                    null: '',
                    PENDING: 'PENDING',
                    IN_PROGRESS: 'IN_PROGRESS',
                    COMPLETED: 'COMPLETED',
                    FAILED: 'FAILED',
                    CANCELLED: 'CANCELLED',
                  }[correspondentExtraction.status ?? 'null']
                }}
              </td>
              <td>{{ correspondentExtraction.resultCacheKey }}</td>
              <td>{{ correspondentExtraction.isCached }}</td>
              <td>{{ correspondentExtraction.resultS3Key }}</td>
              <td>{{ correspondentExtraction.startDate | formatMediumDatetime }}</td>
              <td>{{ correspondentExtraction.endDate | formatMediumDatetime }}</td>
              <td>{{ correspondentExtraction.errorMessage }}</td>
              <td>{{ correspondentExtraction.sendersCount }}</td>
              <td>{{ correspondentExtraction.recipientsCount }}</td>
              <td>{{ correspondentExtraction.createdDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/correspondent-extraction', correspondentExtraction.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/correspondent-extraction', correspondentExtraction.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(correspondentExtraction)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (correspondentExtractions().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
