<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span class="navbar-title" jhiTranslate="global.title">Gateway</span>
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars" />
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home" />
              <span jhiTranslate="global.menu.home">Home</span>
            </span>
          </a>
        </li>
        @if (account() !== null) {
          <li
            ngbDropdown
            class="nav-item dropdown pointer"
            display="dynamic"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
              <span>
                <fa-icon icon="th-list" />
                <span jhiTranslate="global.menu.entities.main">Entities</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceDocument">Document</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-service-status"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentServiceStatus">Document Service Status</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/folder"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceFolder">Folder</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tag"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceTag">Tag</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tag-category"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceTagCategory">Tag Category</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-tag"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentTag">Document Tag</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-type"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentType">Document Type</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-type-field"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentTypeField">Document Type Field</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-metadata"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentMetadata">Document Metadata</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/extracted-field"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceExtractedField">Extracted Field</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-permission"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentPermission">Document Permission</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/permission-group"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServicePermissionGroup">Permission Group</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-audit"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentAudit">Document Audit</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-comment"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentComment">Document Comment</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-relation"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentRelation">Document Relation</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-statistics"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentStatistics">Document Statistics</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-template"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentTemplate">Document Template</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/saved-search"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceSavedSearch">Saved Search</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/smart-folder"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceSmartFolder">Smart Folder</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/bookmark"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceBookmark">Bookmark</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-version"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentVersion">Document Version</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-process"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.documentProcess">Document Process</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ocr-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.ocrServiceOcrJob">Ocr Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ocr-result"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.ocrServiceOcrResult">Ocr Result</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/extracted-text"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.ocrServiceExtractedText">Extracted Text</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ocr-comparison"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.ocrServiceOcrComparison">Ocr Comparison</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ocr-cache"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.ocrServiceOcrCache">Ocr Cache</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/search-index"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.searchServiceSearchIndex">Search Index</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/search-query"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.searchServiceSearchQuery">Search Query</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/semantic-search"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.searchServiceSemanticSearch">Semantic Search</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/search-facet"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.searchServiceSearchFacet">Search Facet</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/notification"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.notificationServiceNotification">Notification</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/notification-template"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.notificationServiceNotificationTemplate">Notification Template</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/notification-preference"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.notificationServiceNotificationPreference">Notification Preference</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/notification-event"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.notificationServiceNotificationEvent">Notification Event</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/webhook-subscription"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.notificationServiceWebhookSubscription">Webhook Subscription</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/webhook-log"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.notificationServiceWebhookLog">Webhook Log</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/workflow"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.workflowServiceWorkflow">Workflow</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/workflow-step"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.workflowServiceWorkflowStep">Workflow Step</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/workflow-instance"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.workflowServiceWorkflowInstance">Workflow Instance</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/workflow-task"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.workflowServiceWorkflowTask">Workflow Task</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/approval-history"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.workflowServiceApprovalHistory">Approval History</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/auto-tag-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.aiServiceAutoTagJob">Auto Tag Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tag-prediction"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.aiServiceTagPrediction">Tag Prediction</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/correspondent-extraction"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.aiServiceCorrespondentExtraction">Correspondent Extraction</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/correspondent"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.aiServiceCorrespondent">Correspondent</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/language-detection"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.aiServiceLanguageDetection">Language Detection</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ai-cache"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.aiServiceAiCache">Ai Cache</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-similarity"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.similarityServiceDocumentSimilarity">Document Similarity</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/similarity-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.similarityServiceSimilarityJob">Similarity Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-fingerprint"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.similarityServiceDocumentFingerprint">Document Fingerprint</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/similarity-cluster"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.similarityServiceSimilarityCluster">Similarity Cluster</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/archive-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.archiveServiceArchiveJob">Archive Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/archive-document"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.archiveServiceArchiveDocument">Archive Document</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/export-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.exportServiceExportJob">Export Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/export-pattern"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.exportServiceExportPattern">Export Pattern</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/export-result"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.exportServiceExportResult">Export Result</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/email-import"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.emailImportServiceEmailImport">Email Import</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/email-attachment"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.emailImportServiceEmailAttachment">Email Attachment</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/import-rule"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.emailImportServiceImportRule">Import Rule</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/import-mapping"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.emailImportServiceImportMapping">Import Mapping</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/scan-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.scanServiceScanJob">Scan Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/scan-batch"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.scanServiceScanBatch">Scan Batch</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/scanner-configuration"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.scanServiceScannerConfiguration">Scanner Configuration</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/scanned-page"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.scanServiceScannedPage">Scanned Page</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/conversion-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.transformServiceConversionJob">Conversion Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/watermark-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.transformServiceWatermarkJob">Watermark Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/redaction-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.transformServiceRedactionJob">Redaction Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/compression-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.transformServiceCompressionJob">Compression Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/merge-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.transformServiceMergeJob">Merge Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/comparison-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.transformServiceComparisonJob">Comparison Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/invoice"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.businessDocServiceInvoice">Invoice</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/invoice-line"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.businessDocServiceInvoiceLine">Invoice Line</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/contract"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.businessDocServiceContract">Contract</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/contract-clause"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.businessDocServiceContractClause">Contract Clause</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/bank-statement"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.businessDocServiceBankStatement">Bank Statement</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/bank-transaction"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.businessDocServiceBankTransaction">Bank Transaction</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/manual"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.businessDocServiceManual">Manual</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/manual-chapter"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.businessDocServiceManualChapter">Manual Chapter</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/dashboard"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.reportingServiceDashboard">Dashboard</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/dashboard-widget"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.reportingServiceDashboardWidget">Dashboard Widget</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/scheduled-report"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.reportingServiceScheduledReport">Scheduled Report</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/report-execution"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.reportingServiceReportExecution">Report Execution</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/performance-metric"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.reportingServicePerformanceMetric">Performance Metric</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/system-metric"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.reportingServiceSystemMetric">System Metric</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/alert"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.monitoringServiceAlert">Alert</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/alert-rule"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.monitoringServiceAlertRule">Alert Rule</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-watch"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.monitoringServiceDocumentWatch">Document Watch</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/maintenance-task"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.monitoringServiceMaintenanceTask">Maintenance Task</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/system-health"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.monitoringServiceSystemHealth">System Health</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/service-status"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.entities.monitoringServiceServiceStatus">Service Status</span>
                </a>
              </li>
              <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
            </ul>
          </li>
        }
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog" />
              <span jhiTranslate="global.menu.admin.main">Administration</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="/authority"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.entities.adminAuthority">Authority</span>
              </a>
            </li>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
            <li>
              <a class="dropdown-item" routerLink="/admin/gateway" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="road" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.admin.gateway">Gateway</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.admin.userManagement">User management</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/tracker" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="eye" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.admin.health">Health</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.admin.logs">Logs</span>
              </a>
            </li>
            @if (openAPIEnabled()) {
              <li>
                <a class="dropdown-item" routerLink="/admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                  <fa-icon icon="book" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.admin.apidocs">API</span>
                </a>
              </li>
            }
          </ul>
        </li>
        @if (languages && languages.length > 1) {
          <li ngbDropdown class="nav-item dropdown pointer" display="dynamic">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
              <span>
                <fa-icon icon="flag" />
                <span jhiTranslate="global.menu.language">Language</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
              @for (language of languages; track $index) {
                <li>
                  <a
                    class="dropdown-item"
                    [jhiActiveMenu]="language"
                    href="javascript:void(0);"
                    (click)="changeLanguage(language); collapseNavbar()"
                    >{{ language | findLanguageFromKey }}</a
                  >
                </li>
              }
            </ul>
          </li>
        }
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          @let accountRef = account();
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            @if (!accountRef?.imageUrl) {
              <span>
                <fa-icon icon="user" />
                <span jhiTranslate="global.menu.account.main">Account</span>
              </span>
            } @else {
              <span>
                <img [src]="accountRef!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
              </span>
            }
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            @if (accountRef !== null) {
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/settings"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="settings"
                >
                  <fa-icon icon="wrench" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.account.settings">Settings</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/password"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="passwordItem"
                >
                  <fa-icon icon="lock" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.account.password">Password</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                  <fa-icon icon="sign-out-alt" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.account.logout">Sign out</span>
                </a>
              </li>
            } @else {
              <li>
                <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                  <fa-icon icon="sign-in-alt" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.account.login">Sign in</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/register"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="register"
                >
                  <fa-icon icon="user-plus" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.account.register">Register</span>
                </a>
              </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
