<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span class="navbar-title" jhiTranslate="global.title">Gateway</span>
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span jhiTranslate="global.menu.home">Home</span>
            </span>
          </a>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        @if (account() !== null) {
          <li
            ngbDropdown
            class="nav-item dropdown pointer"
            display="dynamic"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
              <span>
                <fa-icon icon="th-list"></fa-icon>
                <span jhiTranslate="global.menu.entities.main">Entities</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocument">Document</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-service-status"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentServiceStatus">Document Service Status</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/meta-folder"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceMetaFolder">Meta Folder</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/meta-tag"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceMetaTag">Meta Tag</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/meta-meta-tag-category"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceMetaMetaTagCategory">Meta Meta Tag Category</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-tag"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentTag">Document Tag</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-type"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentType">Document Type</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-type-field"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentTypeField">Document Type Field</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-metadata"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentMetadata">Document Metadata</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-extracted-field"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentExtractedField">Document Extracted Field</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-permission"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentPermission">Document Permission</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/meta-permission-group"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceMetaPermissionGroup">Meta Permission Group</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-audit"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentAudit">Document Audit</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-comment"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentComment">Document Comment</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-relation"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentRelation">Document Relation</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-statistics"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentStatistics">Document Statistics</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-template"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentTemplate">Document Template</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/meta-saved-search"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceMetaSavedSearch">Meta Saved Search</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/meta-smart-folder"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceMetaSmartFolder">Meta Smart Folder</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/meta-bookmark"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceMetaBookmark">Meta Bookmark</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-version"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentServiceDocumentVersion">Document Version</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document-process"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.documentProcess">Document Process</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ocr-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.ocrServiceOcrJob">Ocr Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ocr-result"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.ocrServiceOcrResult">Ocr Result</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/orc-extracted-text"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.ocrServiceOrcExtractedText">Orc Extracted Text</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ocr-comparison"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.ocrServiceOcrComparison">Ocr Comparison</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ocr-cache"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.ocrServiceOcrCache">Ocr Cache</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/search-index"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.searchServiceSearchIndex">Search Index</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/search-query"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.searchServiceSearchQuery">Search Query</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/search-semantic"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.searchServiceSearchSemantic">Search Semantic</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/search-facet"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.searchServiceSearchFacet">Search Facet</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/notification"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.notificationServiceNotification">Notification</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/notification-template"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.notificationServiceNotificationTemplate">Notification Template</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/notification-preference"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.notificationServiceNotificationPreference">Notification Preference</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/notification-event"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.notificationServiceNotificationEvent">Notification Event</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/notification-webhook-subscription"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.notificationServiceNotificationWebhookSubscription"
                    >Notification Webhook Subscription</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/notification-webhook-log"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.notificationServiceNotificationWebhookLog">Notification Webhook Log</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/workflow"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.workflowServiceWorkflow">Workflow</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/workflow-step"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.workflowServiceWorkflowStep">Workflow Step</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/workflow-instance"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.workflowServiceWorkflowInstance">Workflow Instance</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/workflow-task"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.workflowServiceWorkflowTask">Workflow Task</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/workflow-approval-history"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.workflowServiceWorkflowApprovalHistory">Workflow Approval History</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ai-auto-tag-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.aiServiceAiAutoTagJob">AI Auto Tag Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ai-tag-prediction"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.aiServiceAiTagPrediction">AI Tag Prediction</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ai-type-prediction"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.aiServiceAiTypePrediction">AI Type Prediction</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ai-correspondent-prediction"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.aiServiceAiCorrespondentPrediction">AI Correspondent Prediction</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ai-language-detection"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.aiServiceAiLanguageDetection">AI Language Detection</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/ai-cache"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.aiServiceAiCache">AI Cache</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/similarity-document-comparison"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.similarityServiceSimilarityDocumentComparison"
                    >Similarity Document Comparison</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/similarity-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.similarityServiceSimilarityJob">Similarity Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/similarity-document-fingerprint"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.similarityServiceSimilarityDocumentFingerprint"
                    >Similarity Document Fingerprint</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/similarity-cluster"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.similarityServiceSimilarityCluster">Similarity Cluster</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/archive-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.archiveServiceArchiveJob">Archive Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/archive-document"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.archiveServiceArchiveDocument">Archive Document</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/export-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.exportServiceExportJob">Export Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/export-pattern"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.exportServiceExportPattern">Export Pattern</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/export-result"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.exportServiceExportResult">Export Result</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/email-import-document"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.emailImportDocumentServiceEmailImportDocument">Email Import Document</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/email-import-email-attachment"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.emailImportDocumentServiceEmailImportEmailAttachment"
                    >Email Import Email Attachment</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/email-import-import-rule"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.emailImportDocumentServiceEmailImportImportRule">Email Import Import Rule</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/email-import-import-mapping"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.emailImportDocumentServiceEmailImportImportMapping"
                    >Email Import Import Mapping</span
                  >
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/monitoring-alert"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.monitoringServiceMonitoringAlert">Monitoring Alert</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/monitoring-alert-rule"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.monitoringServiceMonitoringAlertRule">Monitoring Alert Rule</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/monitoring-document-watch"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.monitoringServiceMonitoringDocumentWatch">Monitoring Document Watch</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/monitoring-maintenance-task"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.monitoringServiceMonitoringMaintenanceTask">Monitoring Maintenance Task</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/monitoring-system-health"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.monitoringServiceMonitoringSystemHealth">Monitoring System Health</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/monitoring-service-status"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.monitoringServiceMonitoringServiceStatus">Monitoring Service Status</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/transform-conversion-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.transformServiceTransformConversionJob">Transform Conversion Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/transform-watermark-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.transformServiceTransformWatermarkJob">Transform Watermark Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/transform-redaction-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.transformServiceTransformRedactionJob">Transform Redaction Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/transform-compression-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.transformServiceTransformCompressionJob">Transform Compression Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/transform-merge-job"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.transformServiceTransformMergeJob">Transform Merge Job</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/reporting-dashboard"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.reportingServiceReportingDashboard">Reporting Dashboard</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/reporting-dashboard-widget"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.reportingServiceReportingDashboardWidget">Reporting Dashboard Widget</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/reporting-scheduled-report"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.reportingServiceReportingScheduledReport">Reporting Scheduled Report</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/reporting-execution"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.reportingServiceReportingExecution">Reporting Execution</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/reporting-system-metric"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.reportingServiceReportingSystemMetric">Reporting System Metric</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/reporting-performance-metric"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.reportingServiceReportingPerformanceMetric">Reporting Performance Metric</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/image-pdf-conversion-request"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.pdfToImageServiceImagePdfConversionRequest">Image Pdf Conversion Request</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/image-generated-image"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.pdfToImageServiceImageGeneratedImage">Image Generated Image</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/image-conversion-batch"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.pdfToImageServiceImageConversionBatch">Image Conversion Batch</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/image-conversion-config"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.pdfToImageServiceImageConversionConfig">Image Conversion Config</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/image-conversion-history"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.pdfToImageServiceImageConversionHistory">Image Conversion History</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/image-conversion-statistics"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.pdfToImageServiceImageConversionStatistics">Image Conversion Statistics</span>
                </a>
              </li>
              <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
            </ul>
          </li>
        }
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span jhiTranslate="global.menu.admin.main">Administration</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="/authority"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.adminAuthority">Authority</span>
              </a>
            </li>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
            <li>
              <a class="dropdown-item" routerLink="/admin/gateway" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="road" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.gateway">Gateway</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.userManagement">User management</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/tracker" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="eye" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.health">Health</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.logs">Logs</span>
              </a>
            </li>
            @if (openAPIEnabled) {
              <li>
                <a class="dropdown-item" routerLink="/admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                  <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.admin.apidocs">API</span>
                </a>
              </li>
            }
          </ul>
        </li>
        @if (languages && languages.length > 1) {
          <li ngbDropdown class="nav-item dropdown pointer" display="dynamic">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
              <span>
                <fa-icon icon="flag"></fa-icon>
                <span jhiTranslate="global.menu.language">Language</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
              @for (language of languages; track $index) {
                <li>
                  <a
                    class="dropdown-item"
                    [jhiActiveMenu]="language"
                    href="javascript:void(0);"
                    (click)="changeLanguage(language); collapseNavbar()"
                    >{{ language | findLanguageFromKey }}</a
                  >
                </li>
              }
            </ul>
          </li>
        }
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          @let accountRef = account();
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            @if (!accountRef?.imageUrl) {
              <span>
                <fa-icon icon="user"></fa-icon>
                <span jhiTranslate="global.menu.account.main">Account</span>
              </span>
            } @else {
              <span>
                <img [src]="accountRef!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
              </span>
            }
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            @if (accountRef !== null) {
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/settings"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="settings"
                >
                  <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.settings">Settings</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/password"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="passwordItem"
                >
                  <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.password">Password</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                  <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.logout">Sign out</span>
                </a>
              </li>
            } @else {
              <li>
                <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                  <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.login">Sign in</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/register"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="register"
                >
                  <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.register">Register</span>
                </a>
              </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
