<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-redaction-job-heading"
        data-cy="RedactionJobCreateUpdateHeading"
        jhiTranslate="gatewayApp.transformServiceRedactionJob.home.createOrEditLabel"
      >
        Create or edit a Redaction Job
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.transformServiceRedactionJob.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let documentIdRef = editForm.get('documentId')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentId" jhiTranslate="gatewayApp.transformServiceRedactionJob.documentId"
            >Document Id</label
          >
          <input
            type="number"
            class="form-control"
            name="documentId"
            id="field_documentId"
            data-cy="documentId"
            formControlName="documentId"
          />
          @if (documentIdRef.invalid && (documentIdRef.dirty || documentIdRef.touched)) {
            <div>
              @if (editForm.get('documentId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('documentId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let redactionAreasRef = editForm.get('redactionAreas')!;
        <div class="mb-3">
          <label class="form-label" for="field_redactionAreas" jhiTranslate="gatewayApp.transformServiceRedactionJob.redactionAreas"
            >Redaction Areas</label
          >
          <textarea
            class="form-control"
            name="redactionAreas"
            id="field_redactionAreas"
            data-cy="redactionAreas"
            formControlName="redactionAreas"
          ></textarea>
          @if (redactionAreasRef.invalid && (redactionAreasRef.dirty || redactionAreasRef.touched)) {
            <div>
              @if (editForm.get('redactionAreas')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let redactionTypeRef = editForm.get('redactionType')!;
        <div class="mb-3">
          <label class="form-label" for="field_redactionType" jhiTranslate="gatewayApp.transformServiceRedactionJob.redactionType"
            >Redaction Type</label
          >
          <select
            class="form-control"
            name="redactionType"
            formControlName="redactionType"
            id="field_redactionType"
            data-cy="redactionType"
          >
            <option [ngValue]="null">{{ 'gatewayApp.RedactionType.null' | translate }}</option>
            @for (redactionType of redactionTypeValues; track $index) {
              <option [value]="redactionType">{{ 'gatewayApp.RedactionType.' + redactionType | translate }}</option>
            }
          </select>
          @if (redactionTypeRef.invalid && (redactionTypeRef.dirty || redactionTypeRef.touched)) {
            <div>
              @if (editForm.get('redactionType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let redactionColorRef = editForm.get('redactionColor')!;
        <div class="mb-3">
          <label class="form-label" for="field_redactionColor" jhiTranslate="gatewayApp.transformServiceRedactionJob.redactionColor"
            >Redaction Color</label
          >
          <input
            type="text"
            class="form-control"
            name="redactionColor"
            id="field_redactionColor"
            data-cy="redactionColor"
            formControlName="redactionColor"
          />
          @if (redactionColorRef.invalid && (redactionColorRef.dirty || redactionColorRef.touched)) {
            <div>
              @if (editForm.get('redactionColor')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '7' }"
                  >This field cannot be longer than 7 characters.</small
                >
              }
            </div>
          }
        </div>

        @let replaceWithRef = editForm.get('replaceWith')!;
        <div class="mb-3">
          <label class="form-label" for="field_replaceWith" jhiTranslate="gatewayApp.transformServiceRedactionJob.replaceWith"
            >Replace With</label
          >
          <input
            type="text"
            class="form-control"
            name="replaceWith"
            id="field_replaceWith"
            data-cy="replaceWith"
            formControlName="replaceWith"
          />
          @if (replaceWithRef.invalid && (replaceWithRef.dirty || replaceWithRef.touched)) {
            <div>
              @if (editForm.get('replaceWith')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let outputS3KeyRef = editForm.get('outputS3Key')!;
        <div class="mb-3">
          <label class="form-label" for="field_outputS3Key" jhiTranslate="gatewayApp.transformServiceRedactionJob.outputS3Key"
            >Output S 3 Key</label
          >
          <input
            type="text"
            class="form-control"
            name="outputS3Key"
            id="field_outputS3Key"
            data-cy="outputS3Key"
            formControlName="outputS3Key"
          />
          @if (outputS3KeyRef.invalid && (outputS3KeyRef.dirty || outputS3KeyRef.touched)) {
            <div>
              @if (editForm.get('outputS3Key')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >This field cannot be longer than 1000 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_outputDocumentId" jhiTranslate="gatewayApp.transformServiceRedactionJob.outputDocumentId"
            >Output Document Id</label
          >
          <input
            type="number"
            class="form-control"
            name="outputDocumentId"
            id="field_outputDocumentId"
            data-cy="outputDocumentId"
            formControlName="outputDocumentId"
          />
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="gatewayApp.transformServiceRedactionJob.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'gatewayApp.TransformStatus.null' | translate }}</option>
            @for (transformStatus of transformStatusValues; track $index) {
              <option [value]="transformStatus">{{ 'gatewayApp.TransformStatus.' + transformStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_startDate" jhiTranslate="gatewayApp.transformServiceRedactionJob.startDate"
            >Start Date</label
          >
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_endDate" jhiTranslate="gatewayApp.transformServiceRedactionJob.endDate">End Date</label>
          <div class="d-flex">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="datetime-local"
              class="form-control"
              name="endDate"
              formControlName="endDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_errorMessage" jhiTranslate="gatewayApp.transformServiceRedactionJob.errorMessage"
            >Error Message</label
          >
          <textarea
            class="form-control"
            name="errorMessage"
            id="field_errorMessage"
            data-cy="errorMessage"
            formControlName="errorMessage"
          ></textarea>
        </div>

        @let createdByRef = editForm.get('createdBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="gatewayApp.transformServiceRedactionJob.createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (createdByRef.invalid && (createdByRef.dirty || createdByRef.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('createdBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let createdDateRef = editForm.get('createdDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="gatewayApp.transformServiceRedactionJob.createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdDateRef.invalid && (createdDateRef.dirty || createdDateRef.touched)) {
            <div>
              @if (editForm.get('createdDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
