<div>
  <h2 id="page-heading" data-cy="WebhookSubscriptionHeading">
    <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.home.title">Webhook Subscriptions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-webhook-subscription"
        [routerLink]="['/webhook-subscription/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.home.createLabel">Create a new Webhook Subscription</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (webhookSubscriptions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.home.notFound">No Webhook Subscriptions found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="url">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.url">Url</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="secret">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.secret">Secret</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="events">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.events">Events</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="headers">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.headers">Headers</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="isActive">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.isActive">Is Active</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="retryCount">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.retryCount">Retry Count</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="maxRetries">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.maxRetries">Max Retries</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="retryDelay">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.retryDelay">Retry Delay</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="lastTriggerDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.lastTriggerDate">Last Trigger Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="lastSuccessDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.lastSuccessDate">Last Success Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="lastErrorMessage">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.lastErrorMessage">Last Error Message</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="failureCount">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.failureCount">Failure Count</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.notificationServiceWebhookSubscription.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (webhookSubscription of webhookSubscriptions(); track trackId(webhookSubscription)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/webhook-subscription', webhookSubscription.id, 'view']">{{ webhookSubscription.id }}</a>
              </td>
              <td>{{ webhookSubscription.name }}</td>
              <td>{{ webhookSubscription.url }}</td>
              <td>{{ webhookSubscription.secret }}</td>
              <td>{{ webhookSubscription.events }}</td>
              <td>{{ webhookSubscription.headers }}</td>
              <td>{{ webhookSubscription.isActive }}</td>
              <td>{{ webhookSubscription.retryCount }}</td>
              <td>{{ webhookSubscription.maxRetries }}</td>
              <td>{{ webhookSubscription.retryDelay }}</td>
              <td>{{ webhookSubscription.lastTriggerDate | formatMediumDatetime }}</td>
              <td>{{ webhookSubscription.lastSuccessDate | formatMediumDatetime }}</td>
              <td>{{ webhookSubscription.lastErrorMessage }}</td>
              <td>{{ webhookSubscription.failureCount }}</td>
              <td>{{ webhookSubscription.createdBy }}</td>
              <td>{{ webhookSubscription.createdDate | formatMediumDatetime }}</td>
              <td>{{ webhookSubscription.lastModifiedDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/webhook-subscription', webhookSubscription.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/webhook-subscription', webhookSubscription.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(webhookSubscription)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (webhookSubscriptions().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
