<div>
  <h2 id="page-heading" data-cy="ImageConversionStatisticsHeading">
    <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.home.title">Image Conversion Statistics</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-image-conversion-statistics"
        [routerLink]="['/image-conversion-statistics/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.home.createLabel"
          >Create a new Image Conversion Statistics</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.home.search"
          >Search for Image Conversion Statistics</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.pdfToImageServiceImageConversionStatistics.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (imageConversionStatistics().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.home.notFound">No Image Conversion Statistics found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="statisticsDate">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.statisticsDate">Statistics Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalConversions">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.totalConversions">Total Conversions</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="successfulConversions">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.successfulConversions"
                  >Successful Conversions</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="failedConversions">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.failedConversions">Failed Conversions</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalPagesConverted">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.totalPagesConverted">Total Pages Converted</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalImagesGenerated">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.totalImagesGenerated"
                  >Total Images Generated</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalImagesSize">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.totalImagesSize">Total Images Size</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="averageProcessingDuration">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.averageProcessingDuration"
                  >Average Processing Duration</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maxProcessingDuration">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.maxProcessingDuration"
                  >Max Processing Duration</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="minProcessingDuration">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.minProcessingDuration"
                  >Min Processing Duration</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="calculatedAt">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.pdfToImageServiceImageConversionStatistics.calculatedAt">Calculated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (imageConversionStatistics of imageConversionStatistics(); track trackId(imageConversionStatistics)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/image-conversion-statistics', imageConversionStatistics.id, 'view']">{{
                  imageConversionStatistics.id
                }}</a>
              </td>
              <td>{{ imageConversionStatistics.statisticsDate | formatMediumDate }}</td>
              <td>{{ imageConversionStatistics.totalConversions }}</td>
              <td>{{ imageConversionStatistics.successfulConversions }}</td>
              <td>{{ imageConversionStatistics.failedConversions }}</td>
              <td>{{ imageConversionStatistics.totalPagesConverted }}</td>
              <td>{{ imageConversionStatistics.totalImagesGenerated }}</td>
              <td>{{ imageConversionStatistics.totalImagesSize }}</td>
              <td>{{ imageConversionStatistics.averageProcessingDuration }}</td>
              <td>{{ imageConversionStatistics.maxProcessingDuration }}</td>
              <td>{{ imageConversionStatistics.minProcessingDuration }}</td>
              <td>{{ imageConversionStatistics.calculatedAt | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/image-conversion-statistics', imageConversionStatistics.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/image-conversion-statistics', imageConversionStatistics.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(imageConversionStatistics)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
