<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-search-facet-heading"
        data-cy="SearchFacetCreateUpdateHeading"
        jhiTranslate="gatewayApp.searchServiceSearchFacet.home.createOrEditLabel"
      >
        Create or edit a Search Facet
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.searchServiceSearchFacet.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_searchQueryId" jhiTranslate="gatewayApp.searchServiceSearchFacet.searchQueryId"
            >Search Query Id</label
          >
          <input
            type="number"
            class="form-control"
            name="searchQueryId"
            id="field_searchQueryId"
            data-cy="searchQueryId"
            formControlName="searchQueryId"
          />
        </div>

        @let facetNameRef = editForm.get('facetName')!;
        <div class="mb-3">
          <label class="form-label" for="field_facetName" jhiTranslate="gatewayApp.searchServiceSearchFacet.facetName">Facet Name</label>
          <input type="text" class="form-control" name="facetName" id="field_facetName" data-cy="facetName" formControlName="facetName" />
          @if (facetNameRef.invalid && (facetNameRef.dirty || facetNameRef.touched)) {
            <div>
              @if (editForm.get('facetName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('facetName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let facetTypeRef = editForm.get('facetType')!;
        <div class="mb-3">
          <label class="form-label" for="field_facetType" jhiTranslate="gatewayApp.searchServiceSearchFacet.facetType">Facet Type</label>
          <select class="form-control" name="facetType" formControlName="facetType" id="field_facetType" data-cy="facetType">
            <option [ngValue]="null">{{ 'gatewayApp.FacetType.null' | translate }}</option>
            @for (facetType of facetTypeValues; track $index) {
              <option [value]="facetType">{{ 'gatewayApp.FacetType.' + facetType | translate }}</option>
            }
          </select>
          @if (facetTypeRef.invalid && (facetTypeRef.dirty || facetTypeRef.touched)) {
            <div>
              @if (editForm.get('facetType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let valuesRef = editForm.get('values')!;
        <div class="mb-3">
          <label class="form-label" for="field_values" jhiTranslate="gatewayApp.searchServiceSearchFacet.values">Values</label>
          <textarea class="form-control" name="values" id="field_values" data-cy="values" formControlName="values"></textarea>
          @if (valuesRef.invalid && (valuesRef.dirty || valuesRef.touched)) {
            <div>
              @if (editForm.get('values')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let countsRef = editForm.get('counts')!;
        <div class="mb-3">
          <label class="form-label" for="field_counts" jhiTranslate="gatewayApp.searchServiceSearchFacet.counts">Counts</label>
          <textarea class="form-control" name="counts" id="field_counts" data-cy="counts" formControlName="counts"></textarea>
          @if (countsRef.invalid && (countsRef.dirty || countsRef.touched)) {
            <div>
              @if (editForm.get('counts')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_searchQuery" jhiTranslate="gatewayApp.searchServiceSearchFacet.searchQuery"
            >Search Query</label
          >
          <select
            class="form-control"
            id="field_searchQuery"
            data-cy="searchQuery"
            name="searchQuery"
            formControlName="searchQuery"
            [compareWith]="compareSearchQuery"
          >
            <option [ngValue]="null"></option>
            @for (searchQueryOption of searchQueriesSharedCollection; track $index) {
              <option [ngValue]="searchQueryOption">{{ searchQueryOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
